Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix: Typo not kIsWeb
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check

chore: Minor version bump
  app/pubspec.lock
Due: app-check

hide json output behind debug toggle
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer/save.dart
Due: designer-check

build: Fix designer build
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

build: Add deploy to cloud run
  .github/workflows/deploy-app.yml
Due: none

build: Use master as release branch name
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

build: Correct project ID secret
  .github/workflows/deploy-app.yml
Due: none

build: Add designer deploy
  .github/workflows/deploy-designer.yml
Due: none

build: Better names for actions
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
Due: none

chore: Minor deps upgrade
  app/pubspec.lock
Due: app-check

chore: Cleanup envs; Add back4app env
  app/envs/.env.back4app
  app/envs/.env.heroku
  app/envs/.env.prod
  study_designer/envs/.env.back4app
  study_designer/envs/.env.heroku
  study_designer/envs/.env.prod
Due: app-check, designer-check

refactor(designer): Move Debug JSON view to Widget
  study_designer/lib/designer/save.dart
Due: designer-check

fix: Correct tranlsation
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer/save.dart
Due: designer-check

feat(designer): Upload of JSON support in debug
  study_designer/lib/dashboard.dart
Due: designer-check

feat(designer): Add copy JSON to app bar in debug
  study_designer/lib/designer.dart
Due: designer-check

chore: Set default .env file to back4App
  app/envs/.env
  study_designer/envs/.env
Due: app-check, designer-check

fix: Fix installation-id for back4app allowHeaders setting, the fix for installation-id being send, is just not working on back4app.
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/queries/user.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade packages
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Switch back to parse sdk repo
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Add release action
  .github/workflows/release.yml
Due: none
