Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: Fix more lints
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/save_pdf.dart
  designer/lib/dashboard.dart
  designer/lib/designer.dart
  designer/lib/util/save.dart
  designer/lib/widgets/login_page.dart
  designer/lib/widgets/study_detail/collaborators_dialog.dart
  designer/lib/widgets/study_detail/export_dialog.dart
  designer/lib/widgets/study_detail/header.dart
  designer/lib/widgets/study_detail/invites_dialog.dart
Due: app-check

fix: Update analysis_options.yaml
  analysis_options.yaml
Due: none

chore: Cleanup dependencies
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

chore: Fix python docker image to 3.9
  repo_generator/Dockerfile
Due: none

ci: Use flutter stable channel
  .github/workflows/all_packages.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/release_app.yml
Due: none

chore: Fix formatting
  designer/lib/widgets/study_detail/collaborators_dialog.dart
  designer/lib/widgets/study_detail/export_dialog.dart
  designer/lib/widgets/study_detail/invites_dialog.dart
Due: none

chore: Update Readme to reflect usage of stable channel
  README.md
Due: none

fix: Update generated files
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
  core/lib/src/models/study_results/results/numeric_result.g.dart
  core/lib/src/models/tables/repo.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/subject_progress.g.dart
Due: core-check, app-check, designer-check

chore: Add new melos options
  melos.yaml
Due: none

fix: Use new dart 2.15 enum functions
  designer/lib/router.dart
Due: none

fix: Upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  core/CHANGELOG.md
  core/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Upgrade core
  flutter_common/pubspec.lock
Due: none

chore(release): publish packages
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: none

fix: Upgrade studyu deps
  app/pubspec.lock
  designer/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: app-check

fix: Revert "fix: Update generated files"
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
  core/lib/src/models/study_results/results/numeric_result.g.dart
  core/lib/src/models/tables/repo.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/subject_progress.g.dart
Due: core-check, app-check, designer-check

fix: Needed upgrade of core, fixes bug in generated files
  app/pubspec.lock
  designer/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

fix(docker): Use Flutter stable and new dir names
  .github/workflows/deploy-designer.yml
  Dockerfile
  docker-compose-app.yml
  docker-compose-designer.yml
  docker-compose-full.yml
Due: none

chore: Add commands to run local env with port
  melos.yaml
Due: none

chore: Update Readme to current setup
  README.md
Due: none

fix: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

fix: Use updated flutter_iconpicker
  designer/lib/designer/about_designer.dart
  designer/lib/widgets/consent/consent_item_editor.dart
  designer/lib/widgets/intervention/intervention_editor.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

fix: Upgrade android sdk, gradle, kotlin
  app/android/app/build.gradle
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  designer/android/app/build.gradle
  designer/android/build.gradle
  designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check

fix: Upgrade flutter packages
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Use official flutter webview
  designer/lib/main.dart
  designer/lib/util/register_web_webview.dart
  designer/lib/util/register_web_webview_stub.dart
  designer/lib/widgets/study_detail/notebook_viewer.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

fix: Add new requirements for mulitdex support
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  designer/android/app/src/main/AndroidManifest.xml
Due: app-check

fix: Fix lints
  designer/lib/models/app_state.dart
  repo_generator/lib/utils/gitlab.dart
Due: none

fix: Fix linting and fix lints
  analysis_options.yaml
  app/lib/models/app_state.dart
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/report/util/linear_regression.dart
  app/lib/screens/study/report/util/plot_utilities.dart
  app/lib/util/data_processing.dart
  app/lib/util/notifications.dart
  app/lib/widgets/questionnaire/boolean_question_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/src/models/tables/study.dart
  core/lib/src/util/supabase_object.dart
  core/pubspec.lock
  core/pubspec.yaml
  designer/lib/util/register_web_webview.dart
  designer/lib/util/register_web_webview_stub.dart
  designer/lib/widgets/study_detail/notebook_viewer.dart
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/lib/src/utils/user.dart
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  melos.yaml
  notebook_uploader/lib/utils/notebook.dart
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/lib/utils/cli.dart
  repo_generator/lib/utils/generator.dart
  repo_generator/lib/utils/gitlab.dart
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Fix automatic multidex not working in IntelliJ
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
Due: app-check

fix: Deprecated Flutter splash screen
  designer/android/app/src/main/AndroidManifest.xml
Due: none

fix: Set android targetSdk to latest stable API
  app/android/app/build.gradle
  designer/android/app/build.gradle
Due: app-check

chore: Fix format
  app/lib/screens/study/report/sections/average_section_widget.dart
  designer/lib/main.dart
  designer/lib/widgets/study_detail/notebook_viewer.dart
  notebook_uploader/lib/utils/notebook.dart
Due: app-check

chore: Upgrade micromamba
  notebook_uploader/Dockerfile
Due: none

chore(melos): Better clean and bootstrap after upgrade
  melos.yaml
Due: none

chore: Set package version
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
