Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

feat: Add support for study invite code
  app/lib/models/app_state.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
Due: core-check, app-check, designer-check

fix: Remove unneeded shrinkWrap
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

chore: Remove unnecessary form
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

feat: Add invites to study model
  core/lib/src/models/models.dart
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

feat: Add FileSaveDialog + Gradle upgrade
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/util/save_pdf.dart
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  generator/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  study_designer/android/app/build.gradle
  study_designer/android/app/src/main/AndroidManifest.xml
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
  study_designer/lib/util/result_downloader.dart
  study_designer/lib/widgets/study_detail/notebook_overview.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Replace deprecated upsert
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

feat: Add invite code edit list
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

feat: Hide unavailable options
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

feat: Add binder launch action
  study_designer/assets/images/binder.png
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

chore: Adjust formatting
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  common/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  generator/pubspec.yaml
  notebook_uploader/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

chore: Upgrade from_builder, keeping ColorPicker
  study_designer/lib/util/form_builder_color_picker.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Add mono_repo config
  .github/workflows/dart.yml
  .github/workflows/lint.yml
  app/mono_pkg.yaml
  common/mono_pkg.yaml
  core/mono_pkg.yaml
  generator/mono_pkg.yaml
  mono_repo.yaml
  notebook_uploader/mono_pkg.yaml
  study_designer/mono_pkg.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
  tool/ci.sh
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Add mono_repo config
  .github/workflows/dart.yml
  .github/workflows/lint.yml
  app/mono_pkg.yaml
  common/mono_pkg.yaml
  core/mono_pkg.yaml
  generator/mono_pkg.yaml
  mono_repo.yaml
  notebook_uploader/mono_pkg.yaml
  study_designer/mono_pkg.yaml
  tool/ci.sh
Due: core-check, app-check, designer-check

chore: Correct linting
  study_designer/lib/util/form_builder_color_picker.dart
Due: designer-check

refactor: Split Visibility into Participation and ResultSharing
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: core-check, app-check, designer-check

refactor: Filtering published studies now via RLS
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

fix(app): Add retry for creating subject
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/kickoff.dart
Due: app-check

feat: Add data logging to error
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

fix: Invite code needs to be 4 characters
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

chore: Remove unneeded envs
  app/envs/.env
  app/envs/.env.local
Due: app-check

fix: redirectTo now working thanks to https://github.com/supabase/gotrue-dart/pull/15
  core/lib/src/env/env.dart
  study_designer/lib/models/app_state.dart
Due: core-check, app-check, designer-check

fix: Fix image asset path
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

feat(designer): Move delete to details
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

fix(designer): Catch user not logged in
  study_designer/lib/models/app_state.dart
Due: designer-check

feat(designer): Show study settings in dashboard
  study_designer/lib/dashboard.dart
  study_designer/lib/widgets/icon_labels.dart
Due: designer-check

feat(designer): Add label to create study FAB
  study_designer/lib/dashboard.dart
Due: designer-check

feat(designer): Rearrange studies on dashboard
  core/lib/src/models/tables/study.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: core-check, app-check, designer-check

feat(desinger): Sort studies by settings
  study_designer/lib/dashboard.dart
Due: designer-check

fix(designer): Make button text colorful
  study_designer/lib/theme.dart
  study_designer/lib/widgets/login_page.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

fix: Default study participation is invite only
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

fix(desinger): Use Row instead of TextButton
  study_designer/lib/dashboard.dart
  study_designer/lib/widgets/icon_labels.dart
Due: designer-check

feat: Move access settings to study details
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

chore: Rename
  study_designer/lib/widgets/study_detail/notebook_viewer.dart
Due: designer-check

refactor: Move InvitesDialog to own file
  study_designer/lib/widgets/study_detail/invites_dialog.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

fix: resultProperty can be null
  core/lib/src/models/report/sections/average_section.dart
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
Due: core-check, app-check, designer-check

feat: Use title/name for id instead of UUID
  study_designer/lib/router.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/task/task_editor.dart
  study_designer/lib/widgets/util/helper.dart
Due: designer-check

refactor: Rename var
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check
