Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

feat(#423): pick trello card
  .meta/trello-issue
Due: none

change(#423): flat card picking
  .meta/trello-issue
Due: none

feat(#422): adjust contact data model
  core/lib/src/models/contact.dart
  core/lib/src/models/contact.g.dart
  core/lib/src/util/analytics.g.dart
Due: core-check, app-check, designer-check

feat(#422): additional info in designer
  designer_v2/lib/features/design/info/study_info_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_data.dart
  designer_v2/lib/features/design/info/study_info_form_view.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Due: none

feat(#422): show additional info in app
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
Due: app-check

chore: ios updates
  app/ios/Podfile
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/ios/Runner/Info.plist
Due: app-check

fix(#422): formatting
  core/lib/src/models/contact.dart
  designer_v2/lib/features/design/info/study_info_form_data.dart
Due: core-check, app-check, designer-check

feat(#423): create and link GH issue & branch
  .meta/trello-issue
Due: none

chore(#423): add comments
  .meta/trello-issue
Due: none

feat(#423): assign yourself to trello card
  .meta/trello-issue
Due: none

chore: upgrade deps
  app/lib/screens/app_onboarding/about.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/lib/common_views/icon_picker.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/forms/form_validation.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.dart
  designer_v2/lib/utils/validation.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

feat(#423): reference github issue in trello card
  .meta/trello-issue
Due: none

feat(#423): automatic shell selection
  .meta/trello-issue
Due: none

feat(#422): multiline text field
  designer_v2/lib/features/design/info/study_info_form_view.dart
Due: none

feat(#423): shorten titles
  .meta/trello-issue
Due: none

fix(#423): trello change to card-assign
  .meta/trello-issue
Due: none

chore: disable dependabot for now
  .github/dependabot.yml
Due: none

Delete dependabot.yml
  .github/dependabot.yml
Due: none

refactor(#423): create .meta dir
  .meta/kitty-dev
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
Due: app-check

feat: dashboard study search
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/dashboard/studies_filter.dart
Due: none

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check
