Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: change db link
  flutter_common/lib/envs/.env.staging
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

fix: remove staging
  flutter_common/pubspec.yaml
Due: none

chore(release): publish packages
  app/pubspec.yaml
  designer/pubspec.yaml
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/ios/Runner/GeneratedPluginRegistrant.h
  designer_v2/ios/Runner/GeneratedPluginRegistrant.m
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: downgrade flutter designerV2
  .github/workflows/firebase-hosting-merge.yml
Due: none

Update release_notebook_uploader.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

chore: lockfiles
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
Due: core-check, app-check, designer-check

fix: terms not showing correctly on android
  app/android/app/src/main/AndroidManifest.xml
  app/lib/screens/app_onboarding/terms.dart
Due: app-check

chore: edit readme
  README.md
Due: none

chore: try to enable staging again
  flutter_common/pubspec.yaml
Due: none

chore: typefix and lock files
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

lock files
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore: lint fixes
  app/lib/screens/app_onboarding/iframe_helper.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  app/lib/widgets/selectable_button.dart
  core/lib/src/models/expressions/types/value_expression.dart
  core/lib/src/models/interventions/intervention_task.dart
  core/lib/src/models/observations/observation.dart
  core/lib/src/models/questionnaire/questions/slider_question.dart
  designer_v2/lib/utils/extensions.dart
  flutter_common/lib/src/utils/retry_future_builder.dart
Due: core-check, app-check, designer-check

chore: add debug & remove outdated stuff
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/app_controller.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/localization/locale_providers.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  pubspec.yaml
Due: none

chore: refactor session, add debug comments
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/utils/behaviour_subject.dart
Due: none

chore: cleanup todos
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: currentUser via authRepositoryProvider
  designer_v2/lib/features/analyze/study_analyze_controller.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/repositories/auth_repository.dart
Due: none

chore: fix preparation
  core/lib/src/models/tables/study_subject.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/routing/router.dart
Due: core-check, app-check, designer-check

chore: unify analysis_options.yaml for all repos
  analysis_options.yaml
  app/analysis_options.yaml
  app/pubspec.yaml
  core/analysis_options.yaml
  flutter_analysis_options.yaml
  flutter_common/analysis_options.yaml
  flutter_common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: core-check, app-check, designer-check

chore: disable legacy designer, repo_generator, notebook_uploader due to unmet dependencies
  melos.yaml
Due: none

chore: update pub lock
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

fix: typo
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

fix: badge issue
  designer_v2/lib/features/recruit/enrolled_badge.dart
  designer_v2/lib/features/study/study_participation_badge.dart
  designer_v2/lib/features/study/study_status_badge.dart
Due: none

chore: revert to stable deps for firebase release
  .github/workflows/firebase-hosting-merge.yml
  app/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/pubspec.yaml
Due: app-check

chore: do not deploy dev-designer_v2 anymore in favor of stable designer_v2 branch
  .github/workflows/firebase-hosting-merge.yml
Due: none

chore: compile
  designer_v2/.gitignore
Due: none

feat: early release customSequence
  core/lib/src/models/study_schedule/study_schedule.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  designer/lib/designer/schedule_designer.dart
  designer_v2/lib/domain/study_schedule.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_data.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_view.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/utils/input_formatter.dart
Due: core-check, app-check, designer-check

fix: added missing deps and desugar v2.0.0
  app/android/app/build.gradle
Due: app-check

fix: deprecated stuff
  designer/lib/widgets/study_detail/notebook_viewer.dart
Due: none

Update all_packages.yml
  .github/workflows/all_packages.yml
Due: none

Update melos.yaml
  melos.yaml
Due: none

chore: formatting
  app/lib/app.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/selectable_button.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/extensions.dart
  designer/lib/designer/consent_designer.dart
  designer/lib/designer/interventions_designer.dart
  designer/lib/designer/report_designer.dart
  designer/lib/designer/results_designer.dart
  designer/lib/widgets/question/questionnaire_editor.dart
  designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  designer/lib/widgets/task/task_editor.dart
Due: core-check, app-check, designer-check

chore: revert melos format
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/tasks/task_screen.dart
  melos.yaml
Due: app-check

chore: lock files
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

fix: do not allow to pop navigator after kickoff
  app/lib/screens/study/onboarding/kickoff.dart
Due: app-check
