Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Use distinct titles for onboarding screens
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Fix lint
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Reports: Remove non functional download button
  app/lib/screens/study/report/report_details.dart
Due: app-check

Rename instance to study
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/generic_section.dart
  app/lib/screens/study/report/performance/performance_section.dart
Due: app-check

Add report disclaimer
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/report/disclaimer_section.dart
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/widgets/study_tile.dart
Due: app-check

Require to click all consent boxes
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Tweak consent screen UI
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

android: Upgrade gradle
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check

Use core localization.dart
  app/lib/app.dart
  app/lib/screens/app_onboarding/about.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/contact_tab/contact.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/disclaimer_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/intervention/video_task.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/localization.dart
  app/lib/util/save_pdf.dart
  app/lib/widgets/bottom_onboarding_navigation.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/boolean_question_widget.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  app/test/widget_test.dart
Due: app-check

Remove xml study
  app/assets/studies/scratch.xml
Due: app-check

Remove assets/studies entry
  app/pubspec.yaml
Due: app-check

Designer: Study Title and description first
  study_designer/lib/designer/meta_data_designer.dart
Due: designer-check

Designer: Rename Meta Data to About
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer.dart
Due: designer-check

fix: Masterkey needed to create a user
  app/envs/.env
  app/envs/.env.dev
  app/envs/.env.prod
  core/lib/util/parse_init.dart
  study_designer/envs/.env
  study_designer/envs/.env.dev
  study_designer/envs/.env.prod
Due: core-check, app-check, designer-check

chore: Add master key back to docker-compose
  docker-compose-app.yml
  docker-compose-designer.yml
  docker-compose-full.yml
Due: none

add button that requires researcher to agree to terms and app guidelines before he can save or publish a study
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer/save.dart
Due: designer-check

Add contact model
  core/lib/models/study/contact.dart
  core/lib/models/study/contact.g.dart
Due: core-check, app-check, designer-check

feat(app): Separate study publisher contact
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

feat(app): Display support contact
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

feat(app): Color Study publisher header
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
