Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix: do not handle notification twice
  app/lib/util/notifications.dart
Due: app-check

fix: after notification task completed reload dashboard
  app/lib/util/notifications.dart
Due: app-check

chore: lock files
  core/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
Due: app-check

fix: router errors
  designer_v2/.gitignore
  designer_v2/lib/constants.dart
  designer_v2/lib/features/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
Due: none

chore: disable app test
  app/test/widget_test.dart
Due: app-check

fix: l10n error
  designer_v2/l10n-missing.txt
  designer_v2/l10n.yaml
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Due: none

fix: notification reloading bug on intervention change
  app/lib/util/notifications.dart
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

fix: reschedule notifications after a task was completed
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

:globe_with_meridians: localization complete retry
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

change release branch
  .github/workflows/deploy-apps.yml
Due: none

fix: notification debug mode, do not schedule past notifications
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tasks/schedule.dart
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: change release branch to dev
  .github/workflows/deploy-apps.yml
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: format
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: env staging
  .github/workflows/all_packages.yml
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
  flutter_common/lib/envs/.env.staging
  flutter_common/pubspec.yaml
Due: none

chore: temporarily remove staging
  flutter_common/pubspec.yaml
Due: none

fix: remove staging
  flutter_common/pubspec.yaml
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: lockfiles
  app/pubspec.lock
  designer/pubspec.lock
Due: app-check

chore: update release_app.yml
  .github/workflows/release_app.yml
Due: none

fix: quickfix router and upgrade deps
  designer_v2/lib/features/study/study_navbar.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix edit intervention
  designer_v2/lib/routing/router_config.dart
Due: none

fix: use pointerinterceptor
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: logout null value
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
Due: none

fix: enable settings again
  designer_v2/lib/features/app_drawer.dart
Due: none

chore: remove empty check
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: notification debug
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: notification debug
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

fix: notification debug
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: update fastlane android
  .github/workflows/deploy-apps.yml
  Gemfile.lock
  app/android/fastlane/README.md
  app/android/fastlane/report.xml
Due: app-check

chore: update fastlane android bundler
  .github/workflows/deploy-apps.yml
  app/android/Gemfile.lock
Due: app-check
