Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix: device language is now used as default app language
  app/lib/app.dart
Due: app-check

feat: Add sentry.io for crash reports
  app/lib/app.dart
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/app_analysis.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore: modify dev deployment for stable master branch
  .github/workflows/build-docker-generator.yml
  .github/workflows/build-docker-notebook-uploader.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

chore: disable outdated deployment tasks for now
  .github/workflows/build-docker-generator.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
Due: none

fix: could not find libflutter.so
  app/android/app/build.gradle
Due: app-check

feat: sentry integration in core
  app/lib/app.dart
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/util/app_analytics.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/core.dart
  core/lib/src/util/analytics.dart
  core/lib/src/util/supabase_object.dart
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: analytics fixes
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/app_analytics.dart
  app/pubspec.yaml
  core/pubspec.lock
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: change studyu deps to git ref for dev
  app/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/pubspec.yaml
Due: app-check

await fix
  app/lib/util/app_analytics.dart
Due: app-check

Revert "chore: change studyu deps to git ref for dev"
  app/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/pubspec.yaml
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: none

chore: lock files
  app/pubspec.lock
Due: app-check

fix: provide option to disable analytics in settings
  app/lib/main.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/util/app_analytics.dart
Due: app-check

chore: add tooltip for analytic settings
  app/lib/screens/study/dashboard/settings.dart
Due: app-check

fix: study cannot be left inadvertently anymore via about
  app/lib/screens/app_onboarding/about.dart
Due: app-check

chore: format
  app/lib/screens/app_onboarding/about.dart
  app/lib/screens/study/dashboard/settings.dart
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore: translations
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/settings.dart
Due: app-check

chore: update studyu domains
  README.md
  flutter_common/lib/envs/.env
Due: none

chore: deploy dev to preview firebase channel
  .github/workflows/firebase-hosting-dev.yml
Due: none

chore: upgrade packages
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: button for null safety
  app/lib/screens/study/report/util/linear_regression.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/pubspec.yaml
Due: app-check

chore: disable video_task.dart
  app/lib/screens/study/tasks/intervention/video_task.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix: add untouched slider buttons again
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
Due: app-check

disable sentry in debug mode
  app/lib/main.dart
Due: app-check

feat: implement limited offline mode for app
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/cache.dart
  app/lib/util/misc.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/util/analytics.dart
  core/lib/src/util/supabase_object.dart
  flutter_common/lib/src/utils/retry_future_builder.dart
  flutter_common/lib/src/utils/user.dart
Due: core-check, app-check, designer-check

chore: upgrade
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: formatting
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/cache.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

chore: formatting
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore: melos use dart instead of flutter
  melos.yaml
Due: none

chore: lockfiles
  core/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: upgrade deps
  app/pubspec.yaml
  core/pubspec.yaml
  designer_v2/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock flutter version to 3.7.x
  .github/workflows/all_packages.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/firebase-hosting-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/release_app.yml
Due: none

chore: upgrade deps fix
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check
