Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Happy linter
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/report/util/linear_regression.dart
Due: app-check

Add prototype linear regression section widget
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/report/sections/report_section_widgets.dart
Due: app-check

Add textual result description
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/report/util/linear_regression.dart
  app/lib/screens/study/report/util/plot_utilities.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Add linear regression section
  core/lib/models/report/report_section.dart
  core/lib/models/report/sections/linear_regression_section.dart
  core/lib/models/report/sections/linear_regression_section.g.dart
  core/lib/models/report/sections/report_sections.dart
Due: core-check, app-check, designer-check

Adjust model class
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  core/lib/models/report/sections/linear_regression_section.dart
  core/lib/models/report/sections/linear_regression_section.g.dart
Due: core-check, app-check, designer-check

Adjust field label
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
Due: designer-check

Start implementing regression section editor
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
Due: designer-check

Fix conditions
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
Due: app-check

Use custom package
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Adjust field value
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
Due: designer-check

Make linter happy
  study_designer/lib/widgets/report/report_section_editor.dart
Due: designer-check

Fix web build
  app/ios/Podfile.lock
  app/lib/screens/study/report/util/linear_regression.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

FIX wrong studyLength
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

fixed empty reduce
  app/lib/util/notifications.dart
Due: app-check

Show progress of completed and missed days
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Show completed study screen with options
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
Due: app-check

ProgressBar: Add separators per days
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Unstarted phases are grey
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Adjust color scheme and hide next day when completed
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Make happy linter
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Correctly determine study completion when baseline is present.
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

added translation capabilities to study designer and moved localizations.dart to core
  core/lib/util/localization.dart
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/app.dart
  study_designer/lib/designer.dart
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

add english translations for editor widgets
  study_designer/assets/i18n/en.json
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_editor.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/question_editor.dart
  study_designer/lib/widgets/question/slider_question_editor_section.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
  study_designer/lib/widgets/task/questionnaire_task_editor_section.dart
  study_designer/lib/widgets/task/task_editor.dart
  study_designer/lib/widgets/util/data_reference_editor.dart
Due: designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
