Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix: upgrade rxdart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/services/notification_service.dart
  designer_v2/lib/utils/behaviour_subject.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

chore: update lock files
  app/pubspec.lock
  designer/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: wording
  app/pubspec.yaml
  designer_v2/pubspec.yaml
Due: app-check

chore: fix spelling
  flutter_common/pubspec.yaml
Due: none

chore: fix preparation
  core/lib/src/models/tables/study_subject.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/routing/router.dart
Due: core-check, app-check, designer-check

chore: refactor session, add debug comments
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/utils/behaviour_subject.dart
Due: none

chore: currentUser via authRepositoryProvider
  designer_v2/lib/features/analyze/study_analyze_controller.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/repositories/auth_repository.dart
Due: none

chore: add debug & remove outdated stuff
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/app_controller.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/localization/locale_providers.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  pubspec.yaml
Due: none

Update firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

fix(app): refactor questionnaire widget for eligibility and related tasks
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
Due: app-check

fix(dep): remove form_builder_extra_fields in favor of flex_color_picker due to flutter version incompatibility
  core/lib/src/models/questionnaire/questions/visual_analogue_question.dart
  designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix(dep): upgrade to flutter 3.7.0
  .github/workflows/firebase-hosting-merge.yml
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

feat: - Results of tasks with multiple completion periods are now saved uniquely - Ensure timezone conformity when comparing dates
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  core/lib/src/models/interventions/tasks/checkmark_task.dart
  core/lib/src/models/results/result.dart
  core/lib/src/models/results/result.g.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/schedule.g.dart
  core/lib/src/models/tasks/tasks.dart
  core/lib/src/models/tasks/timed_task.dart
  core/lib/src/util/extensions.dart
  designer/lib/widgets/task/task_editor.dart
  designer/lib/widgets/task/task_schedule_editor_section.dart
Due: core-check, app-check, designer-check

fix: Remove error message at performance section
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
Due: app-check

fix: Skip consentCheck if study doesn't have one
  app/lib/screens/study/onboarding/journey_overview.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tasks/schedule.dart
Due: core-check, app-check, designer-check

feat: Upgrade notifications & deps
  app/android/app/build.gradle
  app/android/app/proguard-rules.pro
  app/android/app/src/main/java/io/flutter/app/FlutterMultiDexApplication.java
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/ios/Runner/AppDelegate.swift
  app/lib/app.dart
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/util/notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix: notification not being delivered, add notification body
  app/lib/models/app_state.dart
  app/lib/util/notifications.dart
Due: app-check

fix: notification icon
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/drawable/ic_launcher.png
  app/lib/models/app_state.dart
Due: app-check

fix: keep alive question item states on scrolling
  app/lib/widgets/questionnaire/question_container.dart
Due: app-check

fix: tasks could be accessed outside of their completion times
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: task screen empty title null exception
  app/lib/screens/study/tasks/task_screen.dart
Due: app-check

chore: upgrade android gradle version to 7.4.0
  app/android/build.gradle
Due: app-check

chore: use debug signingConfig for testing
  app/android/app/build.gradle
Due: app-check

fix: report screen null exceptions
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_section_container.dart
Due: app-check

fix: restructure notifications
  app/lib/app.dart
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/util/notifications.dart
  app/lib/util/study_notifications.dart
Due: app-check

fix: tasks cannot be completed multiple times via notifications + localization
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

remove notifications from app_state.dart
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/schedule_notifications.dart
  app/lib/util/study_notifications.dart
Due: app-check

fix: do not show interventions with empty titles
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: show correct screen when app is launched by a notification
  app/lib/util/notifications.dart
Due: app-check

chore: rename study_notifications to notifications
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: add release signingconfig again
  app/.gitignore
  app/android/app/build.gradle
Due: app-check

chore: update pub lock
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: deploy to app stores on release-staging push
  .github/workflows/all_packages.yml
  .github/workflows/deploy-apps.yml
Due: none

chore: update deploy-apps.yml
  .github/workflows/deploy-apps.yml
Due: none

chore: naming
  flutter_common/pubspec.yaml
Due: none

chore: lock files
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
