Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix: answer parse error
  core/lib/src/models/questionnaire/answer.dart
Due: core-check, app-check, designer-check

feat: Implement preview screen with app iframe
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/features/study/study_test_scaffold.dart
  designer_v2/lib/features/study/study_test_state.dart
Due: none

feat(app): deeplink studyID to app to test study
  app/lib/app.dart
  app/lib/main.dart
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: Use app-v2 for preview
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

fix: Revert to normal app preview
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

feat(designer_v2): deeplink studyID to app to test study
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/pubspec.lock
Due: none

fix: app preview src not reloading
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_scaffold.dart
Due: none

chore: Firebase hosting static path
  firebase.json
Due: none

fix: modify previewsrc
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

feat: add skipping again
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: improve skipping days
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

feat: test designer changes
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

fix: working with updated changes
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: test app changes
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: refactor skipping and add preview class
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: add reset functionality to preview
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: allow skipping days in preview mode
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

feat: reset fix
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: move selectedStudyObjectId back to preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: finish preview refactoring
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

feat: make use of preview class
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

chore: refactoring
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

feat: auth and cmds to preview class
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

feat: modify selectedStudyObjectId
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: add cmd again
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: reset selectedStudyObjectId and reset cmd
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: move all selectedStudyObjectId to preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: add try catch and move selectedStudyObjectId out of preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

rebase dev-designer-v2
  designer_v2/pubspec.lock
Due: none

chore: remove staging duplicate
  flutter_common/pubspec.yaml
Due: none

Removed hardcoded strings and replaced with localizations
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/localization/legacy/app_de.arb
  designer_v2/lib/localization/legacy/app_en.arb
Due: none

feat(preview): perform requirements check
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/pubspec.lock
Due: none

feat(preview): refactor
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

feat(preview): decouple preview app state from live app
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_page.dart
  flutter_common/lib/src/utils/user.dart
Due: app-check

feat(preview): Open preview in new page, redesign
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

feat(auth): add password_reset functionality and main page scaffold
  designer_v2/lib/features/auth/auth_controller.dart
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/lib/features/auth/password_reset_page.dart
  designer_v2/lib/features/main_page_scaffold.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
Due: none

feat: add confirmation modal for study deletion
  designer_v2/lib/features/app.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/services/notification_dispatcher.dart
  designer_v2/lib/services/notification_service.dart
  designer_v2/lib/services/notification_types.dart
  designer_v2/lib/services/notifications.dart
Due: none

feat: add basic empty state to AsyncValueWidget
  designer_v2/lib/common_views/async_value_widget.dart
  designer_v2/lib/common_views/pages/empty_body.dart
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
Due: none

fix: correct study scaffold tab indices
  designer_v2/lib/features/study/study_scaffold.dart
Due: none

wip: invite code forms
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/common_views/secondary_button.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/domain/forms/study_invite_code_form.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_recruit_page.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/theme.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
