Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Make linter happy
  study_designer/lib/dashboard.dart
Due: designer-check

Add intervention result
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/intervention_result.g.dart
  core/lib/models/study_results/results/results.dart
  core/lib/models/study_results/study_result.dart
  core/lib/models/study_schedule/study_schedule.dart
Due: core-check, app-check, designer-check

Revert "Adjust study designer build process"
  study_designer/.gitlab-ci.yml
Due: designer-check

Update project files
  study_designer/ios/Podfile
  study_designer/ios/Podfile.lock
  study_designer/ios/Runner.xcodeproj/project.pbxproj
Due: designer-check

Bad stuff
  study_designer/.gitlab-ci.yml
Due: designer-check

Add some hardcoded info to study overview
  app/assets/images/hpi.png
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

add result editors
  core/lib/models/study/study_details.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
Due: core-check, app-check, designer-check

satisfy flutter analyze
  study_designer/lib/designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
Due: designer-check

add scaffold results designer
  study_designer/lib/designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/routes.dart
Due: designer-check

add numeric result editor datareference editor include results when saved to parse
  core/lib/models/study/study_details.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
Due: core-check, app-check, designer-check

Fix publishiung
  core/lib/models/study/parse_study.dart
  core/lib/models/study/study.dart
Due: core-check, app-check, designer-check

hotfix report screen
  app/lib/screens/study/report/report_details.dart
Due: app-check

change crlf
  app/lib/screens/study/report/report_details.dart
Due: app-check

Added titles to consent and report overview page
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/report/report_details.dart
Due: app-check

Apply 1 suggestion(s) to 1 file(s)
  app/assets/i18n/de.json
Due: app-check

fix formatting
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Add Fabian
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

fix bug that results are not saved / published
  core/lib/models/study/parse_study_details.dart
Due: core-check, app-check, designer-check

move files so directory structure is coherent
  core/lib/models/study/study.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/routes.dart
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/util/designer_add_button.dart
Due: core-check, app-check, designer-check

remove false field limit
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/task/task_editor.dart
Due: designer-check

fix visual analogue bug
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
Due: designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
