Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix(designer): Do not fetch study in save editor
  study_designer/lib/designer/save.dart
Due: designer-check

fix: Reenable terms & privacy dialog
  study_designer/lib/dashboard.dart
Due: designer-check

fix(designer): Reload dashboard on delete
  study_designer/lib/dashboard.dart
Due: designer-check

feat(designer): Create study editors URL navigation
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
Due: designer-check

fix(core): Force reload if parse query different
  core/lib/util/parse_future_builder.dart
Due: core-check, app-check, designer-check

refactor(designer): Simplify observation build
  study_designer/lib/designer/observation_designer.dart
Due: designer-check

feat(designer): Update URL with id on save draft
  study_designer/lib/designer/save.dart
  study_designer/lib/models/app_state.dart
Due: designer-check

feat(designer): Add deep linking to designer pages
  study_designer/lib/models/app_state.dart
  study_designer/lib/routes.dart
Due: designer-check

feat(designer): Reload studies on home navigation
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/routes.dart
Due: designer-check

refactor(ParseFutureBuilder): Self manage state
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/models/designer_state.dart
Due: core-check, app-check, designer-check

fix: Cleanup router
  study_designer/lib/designer.dart
  study_designer/lib/routes.dart
Due: designer-check

fix(core): ParseFetchOneFutureBuilder refresh
  core/lib/util/parse_future_builder.dart
Due: core-check, app-check, designer-check

feat(designer): Migrate to Navigator 2.0
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/help_wrapper.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/routes.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
Due: designer-check

fix(designer): Fix race condition when draft empty
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
Due: designer-check

refactor: Rename routes.dart -> router.dart
  study_designer/lib/app.dart
  study_designer/lib/designer.dart
  study_designer/lib/router.dart
Due: designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

fix: Fix date_range_picker dependency
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

chore: Do not display terms dialog in debug builds
  study_designer/lib/dashboard.dart
Due: designer-check

refactor: Replace deprecated buttons with new ones
  app/lib/screens/app_onboarding/about.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/intervention/video_task.dart
  app/lib/theme.dart
  app/lib/widgets/bottom_onboarding_navigation.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  app/lib/widgets/selectable_button.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/theme.dart
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_editor.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/question_editor.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
  study_designer/lib/widgets/task/questionnaire_task_editor_section.dart
  study_designer/lib/widgets/task/task_editor.dart
Due: core-check, app-check, designer-check

fix(SelectableButton): Don't color border
  app/lib/widgets/selectable_button.dart
Due: app-check

chore: Upgrade deps mostly stable null-safety deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade parse sdk
  app/pubspec.lock
  core/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

refactor!: Merge StudyDetails into Study
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/studies.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_details.g.dart
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/numeric_result.dart
  core/lib/queries/study.dart
  core/pubspec.yaml
Due: core-check, app-check, designer-check

refactor(app): Adapt to merging of study and details
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/pubspec.lock
Due: app-check

refactor(designer): Adapt to merging of study and detailS
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/util/result_downloader.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
  study_designer/pubspec.lock
Due: designer-check

refactor: Move StudyQueries to model class
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/queries/queries.dart
  core/lib/queries/study.dart
  core/lib/util/user.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/util/result_downloader.dart
Due: core-check, app-check, designer-check

refactor: Change StudyQueries to dart extensions
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/queries/study.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/util/result_downloader.dart
Due: core-check, app-check, designer-check

refactor: Apply and cache getResearcherDashboard()
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
Due: designer-check

fix: Only fetch keys required for study selection
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/models/study/parse_study.dart
Due: core-check, app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
