Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: lock files
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
Due: app-check

chore: set iOS push notification entitlement to production
  app/ios/Runner/Info.plist
  app/ios/Runner/Runner.entitlements
Due: app-check

chore: remove fwfh for app store debugging
  app/ios/Podfile
  app/ios/Runner/Info.plist
  app/ios/Runner/Runner.entitlements
  app/lib/widgets/html_text.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore: revert "chore: remove fwfh for app store debugging"
  app/ios/Podfile
  app/ios/Runner/Info.plist
  app/ios/Runner/Runner.entitlements
  app/lib/widgets/html_text.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore: temporarily remove app store deployment from github workflows
  .github/workflows/deploy-apps.yml
Due: none

fix: initial router location
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
Due: none

chore: fix merge issues
  .github/workflows/deploy-apps.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

chore: lint fixes
  analysis_options.yaml
  app/lib/screens/study/tasks/task_screen.dart
  flutter_analysis_options.yaml
Due: app-check

chore: update supabase docker framework
  supabase/.env.example
  supabase/.gitignore
  supabase/dev/docker-compose.dev.yml
  supabase/docker-compose-logging.yml
  supabase/docker-compose.yml
  supabase/volumes/api/kong.yml
  supabase/volumes/db/init/00-initial-schema.sql
  supabase/volumes/db/init/01-auth-schema.sql
  supabase/volumes/db/init/02-storage-schema.sql
  supabase/volumes/db/init/03-post-setup.sql
  supabase/volumes/db/init/04-pg-graphql.sql
  supabase/volumes/db/logs.sql
  supabase/volumes/db/realtime.sql
  supabase/volumes/db/roles.sql
  supabase/volumes/db/webhooks.sql
Due: none

chore: revert "chore: remove redundant parenthesis"
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
Due: none

apps and supabase working together
  docker/hpi/Dockerfile
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
  flutter_common/lib/envs/.env.selfhost
Due: none

cors and redirect working for apps
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
Due: none

db subdomain working for supabase
  docker/hpi/db.hpi.studyu.health.conf
  docker/hpi/nginx/common.conf
  docker/hpi/nginx/common_location.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/postgres.conf
  docker/hpi/ssl.conf
Due: none

let apps container start even if supabase is unreachable
  docker/hpi/nginx/common_location.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  flutter_common/lib/envs/.env.selfhost
Due: none

prepare certbot
  docker/hpi/.env
  docker/hpi/Dockerfile
  docker/hpi/db.hpi.studyu.health.conf
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/661be361e56b0f7a166835187ad0d614/meta.json
  docker/hpi/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/661be361e56b0f7a166835187ad0d614/private_key.json
  docker/hpi/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/661be361e56b0f7a166835187ad0d614/regr.json
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
  docker/hpi/nginx/ssl.conf
  docker/hpi/ssl.conf
Due: none

fix supabase
  docker/hpi/.env.example
  docker/hpi/docker-compose-selfhost.yml
  docker/nginx/default.conf
  docker/supabase/.env.example
  docker/supabase/.gitignore
  docker/supabase/README.md
  docker/supabase/dev/data.sql
  docker/supabase/dev/docker-compose.dev.yml
  docker/supabase/docker-compose-logging.yml
  docker/supabase/docker-compose.yml
  docker/supabase/volumes/api/kong.yml
  docker/supabase/volumes/db/init/data.sql
  docker/supabase/volumes/db/logs.sql
  docker/supabase/volumes/db/realtime.sql
  docker/supabase/volumes/db/roles.sql
  docker/supabase/volumes/db/webhooks.sql
  docker/supabase/volumes/functions/main/index.ts
  docker/supabase/volumes/logs/vector.yml
  supabase/README.md
Due: none

docker compose modifications
  .dockerignore
  docker/hpi/docker-compose-postgres.yml
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/docker-compose.yml
  docker/hpi/volumes/db/init/data.sql
  docker/supabase/.env.example
  docker/supabase/docker-compose.yml
Due: none

restructure
  docker/docker-compose.yml
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/docker-compose.yml
  docker/hpi/volumes/db/logs.sql
  docker/hpi/volumes/db/realtime.sql
  docker/hpi/volumes/db/roles.sql
  docker/hpi/volumes/db/webhooks.sql
  docker/supabase/dev/data.sql
  docker/supabase/dev/docker-compose.dev.yml
  docker/supabase/docker-compose-logging.yml
  docker/supabase/docker-compose-postgres.yml
  docker/supabase/docker-compose.yml
Due: none

modify default env
  .dockerignore
  docker/hpi/.env.example
  docker/supabase/.env.example
Due: none

renaming
  docker/docker-compose.yml
  docker/hpi/docker-compose.yml
  docker/supabase/docker-compose-db.yml
Due: none

restructure and add basic auth and ip restrictions
  docker/hpi/.env.example
  docker/hpi/Dockerfile
  docker/hpi/docker-compose.yml
  docker/hpi/nginx/.htpasswd
  docker/hpi/nginx/conf.d/app.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/common.conf
  docker/hpi/nginx/conf.d/common_location.conf
  docker/hpi/nginx/conf.d/db.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/default.conf
  docker/hpi/nginx/conf.d/designer.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/postgres.conf
  docker/hpi/nginx/conf.d/ssl.conf
Due: none

enable ssl
  docker/hpi/Dockerfile
  docker/hpi/nginx/conf.d/app.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/db.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/designer.hpi.studyu.health.conf
Due: none

update ssl
  docker/hpi/Dockerfile
  docker/hpi/docker-compose.yml
  docker/hpi/nginx/conf.d/app.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/db.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/designer.hpi.studyu.health.conf
Due: none

fixes for ssl
  docker/hpi/docker-compose.yml
  docker/hpi/nginx/conf.d/default.conf
Due: none

redirect 80 to 443
  docker/hpi/nginx/.htpasswd
  docker/hpi/nginx/conf.d/app.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/db.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/designer.hpi.studyu.health.conf
Due: none

move docker files
  docker/Dockerfile
  docker/docker-compose-app-selfhost.yml
  docker/docker-compose-app.yml
  docker/docker-compose-designer-selfhost.yml
  docker/docker-compose-designer.yml
  docker/docker-compose-designer2-selfhost.yml
  docker/docker-compose-designer2.yml
  docker/docker-compose-full-selfhost.yml
  docker/docker-compose-full.yml
Due: none

fix: upgrade deps to fix invalid refresh token bug
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/ios/Runner/GeneratedPluginRegistrant.m
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore: disable dead v2 migration code
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: disable multiple submit button clicks for task widget
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

chore: enable auto backup again
  app/android/app/src/main/AndroidManifest.xml
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Due: app-check

chore: update readme
  README.md
Due: none

chore: Refactor to fix https://github.com/flutter/flutter/issues/116855
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
Due: none

chore: ignore immutable lint for StandardTable
  designer_v2/lib/common_views/standard_table.dart
Due: none

chore: .lock file
  designer/pubspec.lock
Due: none
