Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Add particles to CheckmarkTask
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
Due: app-check

Use BaselineCard in InterventionCard
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Add quiver for Multimap and upgrade packages
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

Intersperse the progress row connector lines
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Remove version restriction
  app/pubspec.yaml
Due: app-check

Move taskList to method
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Apply 1 suggestion(s) to 1 file(s)
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Move study instance functions to model
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Analytics disclaimer kills my check format script
  flutter-project.yml
Due: none

Add date param to scheduleFor
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Display InterventionCard in Dialog on Dashboard
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Check task if task has been done
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

Move RoundCheckbox to widgets
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/widgets/round_checkbox.dart
Due: app-check

Add connection between progress states
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Upgrade packages lock
  app/pubspec.lock
Due: app-check

Make skippable for now
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Make displaying taskList optional
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Move InterventionSegment to own widget
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Rename function
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Fix linter
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Move interventionIcon to util class
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/util/intervention.dart
Due: app-check

Do not increase size of current intervention
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Add more helper functions to studyInstance
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Remove particles from RoundCheckbox
  app/lib/widgets/round_checkbox.dart
Due: app-check

Add next day debug button
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

Remove default param
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Use generic isTaskFinishedFor Method
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
