Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

Use only one page for total consent screen
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Add buttons to bottom via navigationbar option
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Revert format to reduce diff size
  app/lib/screens/study/onboarding/consent.dart
  study_designer/pubspec.lock
Due: app-check, designer-check

Save checkmark task result
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  core/lib/models/results/result.dart
Due: core-check, app-check, designer-check

Remove delay
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
Due: app-check

New logo by Manisha
  app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/assets/images/icon.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Due: app-check

Add wide logo for welcome screen
  app/assets/images/icon_wide.png
  app/lib/screens/app_onboarding/welcome.dart
Due: app-check

added report history WIP
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/routes.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/report/report_history.dart
  core/lib/queries/study.dart
Due: core-check, app-check, designer-check

add report details screen
  app/lib/models/app_state.dart
  app/lib/routes.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
Due: app-check

removed additional package and added todo
  app/lib/screens/study/report/report_details.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

added first version of power level bar
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

improved positioning of min but still not perfect
  app/lib/screens/study/report/report_details.dart
Due: app-check

added navigation ability to report details modules
  app/lib/screens/study/report/report_details.dart
Due: app-check

added first version of bar chart for results
  app/lib/screens/study/report/report_details.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/models/models.dart
  core/lib/models/report/outcomes/outcome.dart
  core/lib/models/report/report_models.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

add .g.dart
  .gitignore
  core/lib/models/report/outcomes/outcome.g.dart
  core/lib/models/report/report_specification.g.dart
Due: core-check, app-check, designer-check

Change Windows lineendings
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
Due: app-check

Use ParseFutureBuilder
  app/lib/screens/study/report/report_history.dart
  core/lib/queries/study.dart
Due: core-check, app-check, designer-check

Use routing args instead of model for reportStudy
  app/lib/models/app_state.dart
  app/lib/routes.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
Due: app-check

ReportHistory: Make text white and add icon
  app/lib/screens/study/report/report_history.dart
Due: app-check

Fix lint
  app/lib/screens/study/report/report_history.dart
Due: app-check
