Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

feat: Remove github login provider
  designer/lib/widgets/login_page.dart
Due: none

fix: Escape hashtag in dotenv file
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: Use DeleteButton with red theme
  designer/lib/widgets/buttons.dart
  designer/lib/widgets/consent/consent_item_editor.dart
  designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  designer/lib/widgets/intervention/intervention_editor.dart
  designer/lib/widgets/login_page.dart
  designer/lib/widgets/question/annotation_editor.dart
  designer/lib/widgets/question/choice_editor.dart
  designer/lib/widgets/question/question_editor.dart
  designer/lib/widgets/report/report_section_editor.dart
  designer/lib/widgets/study_detail/header.dart
  designer/lib/widgets/study_result/study_result_editor.dart
  designer/lib/widgets/task/complation_period_editor.dart
  designer/lib/widgets/task/reminder_editor.dart
  designer/lib/widgets/task/task_editor.dart
Due: none

fix: Do not require stats to be fetched
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

fix: No need to convert json to Subject
  repo_generator/lib/utils/database.dart
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Add more error responses and logging
  repo_generator/lib/server.dart
Due: none

chore(release): publish packages
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

ci: Release binaries on Github
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

ci: Trigger for create and push
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

ci: Setup Dart for binary compilation
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

ci: Get packages before compiling
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

ci: Fix binary upload path
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

feat: Try draft: Log out, before singing in
  flutter_common/lib/src/utils/user.dart
Due: none

ci: Remove archiving step
  .github/workflows/all_packages.yml
Due: none

fix: Allow more than 40 charcs for about fields
  designer/lib/designer/about_designer.dart
Due: none

fix: Allow invite codes also when open
  designer/lib/widgets/study_detail/header.dart
Due: none

refactor: No need to use late init here
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
Due: core-check, app-check, designer-check

refactor: Table columns now have underscores
  app/lib/screens/app_onboarding/terms.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/models/tables/repo.dart
  core/lib/src/models/tables/repo.g.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_invite.dart
  core/lib/src/models/tables/study_invite.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/models/tables/subject_progress.g.dart
  designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

fix: Point to new staging supabase
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
  repo_generator/.env
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Add StudyU schema sql
  database/studyu-schema.sql
Due: none

doc: Remove old database foreign keys
  database/studyu-schema.sql
Due: none

doc: Fix ambigious parameters by prefixing 'p'
  database/studyu-schema.sql
Due: none

chore: Upgrade deps
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

Update README.md
  README.md
Due: none

feat: Add method to check if elgibility is defined
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

fix: Skip eligibilty screen if not defined
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Just trigger on tag push, works somehow
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/lib/envs/.env.staging
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: Use upsert instead of fetching files first
  notebook_uploader/lib/utils/notebook.dart
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
