Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix: dont reset controls on cancel in readonly mode
  designer_v2/lib/features/forms/form_view_model.dart
Due: none

fix: autosave without skipping callbacks
  designer_v2/lib/constants.dart
  designer_v2/lib/features/forms/form_view_model.dart
Due: none

fix: dispose tickers & scroll controllers properly
  designer_v2/lib/common_views/layout_two_column.dart
  designer_v2/lib/common_views/sync_indicator.dart
Due: none

feat(preview): requirements and banner changes
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

fix: display correct notification icon
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/services/notification_dispatcher.dart
Due: none

feat(preview): wip add preview welcome modal
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/services/notifications.dart
Due: none

feat: update banner color
  designer_v2/lib/common_views/banner.dart
Due: none

fix: readonly warning
  designer_v2/lib/features/design/study_design_page_view.dart
Due: none

refactor: cleanup test mode controller, views & architecture
  designer_v2/lib/features/study/study_base_state.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_frame_views.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/features/study/study_test_state.dart
Due: none

feat: update autosave indicator copy
  designer_v2/lib/common_views/sync_indicator.dart
Due: none

refactor: remove BoundedContainer
  designer_v2/lib/common_views/container_bounded.dart
  designer_v2/lib/features/design/interventions/interventions_form_view.dart
Due: none

feat(preview): add selective preview for eligibility check
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
  flutter_common/lib/src/utils/user.dart
Due: app-check

feat(preview): add selective preview for consent
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: validation mechanisms with dynamic config for study draft, test, publish
  designer_v2/lib/common_views/action_popup_menu.dart
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/utils.dart
  designer_v2/lib/constants.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_controller.dart
  designer_v2/lib/features/design/interventions/interventions_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/questionnaire_form_controller_mixin.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/design/study_form_validation.dart
  designer_v2/lib/features/forms/form_validation.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/forms/form_view_model_collection.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/utils/tuple.dart
Due: none

feat: improve phone frame styling for test mode
  designer_v2/lib/features/study/study_test_frame_views.dart
Due: none

fix: update test mode disabled copy
  designer_v2/lib/features/study/study_test_page.dart
Due: none

feat: implement publish flow
  designer_v2/lib/common_views/dialog.dart
  designer_v2/lib/common_views/empty_body.dart
  designer_v2/lib/common_views/form_control_label.dart
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/text_paragraph.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/lib/features/auth/password_forgot_page.dart
  designer_v2/lib/features/auth/password_recovery_page.dart
  designer_v2/lib/features/auth/signup_page.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/forms/form_array_table.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/publish/study_publish_dialog.dart
  designer_v2/lib/features/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/study/settings/study_settings_form_controller.dart
  designer_v2/lib/features/study/settings/study_settings_form_view.dart
  designer_v2/lib/features/study/settings/study_settings_page.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/optimistic_update.dart
  designer_v2/lib/utils/performance.dart
  designer_v2/lib/utils/typings.dart
Due: none

feat: add status badges & refactor dashboard table
  designer_v2/lib/common_views/badge.dart
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/common_views/sync_indicator.dart
  designer_v2/lib/common_views/utils.dart
  designer_v2/lib/domain/participation.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_participation_badge.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/features/study/study_status_badge.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/extensions.dart
Due: none

wip: analyze study page
  designer_v2/lib/common_views/badge.dart
  designer_v2/lib/common_views/banner.dart
  designer_v2/lib/common_views/form_control_label.dart
  designer_v2/lib/common_views/layout_single_column.dart
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/analyze/study_analyze_controller.dart
  designer_v2/lib/features/analyze/study_analyze_page.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/design/study_design_page_view.dart
  designer_v2/lib/features/monitor/study_monitor_page.dart
  designer_v2/lib/features/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/study/study_analyze_page.dart
  designer_v2/lib/features/study/study_participation_badge.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/theme.dart
Due: none

feat(preview): merge dev_designer-v2
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

wip: export data model
  core/lib/src/models/tables/study.dart
  designer_v2/lib/repositories/api_client.dart
Due: core-check, app-check, designer-check

fix: merge preview
  designer_v2/lib/features/study/study_participation_badge.dart
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

feat: test selective preview screens
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

adapt appdeeplink for preview
  flutter_common/lib/src/utils/env_loader.dart
Due: none

fix: observation/intervention preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

fix: new intervention handling
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: intervention and observation
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: more strings localized
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/repositories/study_repository.dart
Due: none

feat: data export
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
  designer_v2/lib/domain/study.dart
  designer_v2/lib/domain/study_export.dart
  designer_v2/lib/domain/study_subject.dart
  designer_v2/lib/domain/subject_progress.dart
  designer_v2/lib/features/analyze/study_analyze_controller.dart
  designer_v2/lib/features/analyze/study_analyze_controller_state.dart
  designer_v2/lib/features/analyze/study_analyze_page.dart
  designer_v2/lib/features/analyze/study_export_zip.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_controller_state.dart
  designer_v2/lib/features/study/study_base_controller.dart
  designer_v2/lib/features/study/study_base_state.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/repositories/model_repository_events.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/repositories/study_repository_events.dart
  designer_v2/lib/repositories/supabase_client.dart
  designer_v2/lib/utils/api_client_mocked.dart
  designer_v2/lib/utils/behaviour_subject.dart
  designer_v2/lib/utils/extensions.dart
  designer_v2/lib/utils/file_download.dart
  designer_v2/lib/utils/json_format.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: core-check, app-check, designer-check

feat: dont record participant progress for launched studies in test mode
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  app/lib/models/app_state.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/src/env/env.dart
  core/lib/src/models/tables/study.dart
  designer/lib/models/app_state.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/lib/repositories/auth_repository.dart
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
  flutter_common/lib/envs/.env.selfhost
  flutter_common/lib/envs/.env.staging
  flutter_common/lib/src/utils/env_loader.dart
Due: core-check, app-check, designer-check

feat: improve tabbed navbar + allow disabled tabs
  designer_v2/lib/common_views/navbar_tabbed.dart
  designer_v2/lib/common_views/under_construction.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_navbar.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_navbars.dart
Due: none

fix: env variable definition
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat: add enrolled count + badge to access codes table
  designer_v2/lib/common_views/badge.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/recruit/enrolled_badge.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
Due: none

fix: refactor improvements and bugfixes
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/lib/features/study/study_test_controls.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

fix: env variable definition attempt #2
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: order if interventions == 2
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

fix: refactor page navigation
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_controls.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

fix: null and reload error
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: app-check

feat: add test modal
  designer_v2/lib/common_views/text_paragraph.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/services/notification_dispatcher.dart
  designer_v2/lib/services/notification_types.dart
  designer_v2/lib/services/notifications.dart
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
