Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix: Make compatible with beta
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

ci: Update format of .g.dart files
  core/lib/models/consent/consent_item.g.dart
  core/lib/models/data/data_reference.g.dart
  core/lib/models/eligibility/eligibility_criterion.g.dart
  core/lib/models/expressions/types/boolean_expression.g.dart
  core/lib/models/expressions/types/choice_expression.g.dart
  core/lib/models/expressions/types/not_expression.g.dart
  core/lib/models/interventions/intervention.g.dart
  core/lib/models/interventions/intervention_set.g.dart
  core/lib/models/interventions/tasks/checkmark_task.g.dart
  core/lib/models/observations/tasks/questionnaire_task.g.dart
  core/lib/models/questionnaire/question_conditional.g.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/models/questionnaire/questions/boolean_question.g.dart
  core/lib/models/questionnaire/questions/choice_question.g.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/report/sections/average_section.g.dart
  core/lib/models/report/sections/linear_regression_section.g.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/study_details.g.dart
  core/lib/models/study_results/results/intervention_result.g.dart
  core/lib/models/study_results/results/numeric_result.g.dart
  core/lib/models/study_schedule/study_schedule.g.dart
  core/lib/models/tasks/schedules/fixed_schedule.g.dart
Due: core-check, app-check, designer-check

ci: Disable analytics for less log garbage
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

lint: Sort pubspec.yaml
  app/pubspec.yaml
  study_designer/pubspec.yaml
Due: app-check, designer-check

refactor: Add support for gen. localizations
  app/lib/app.dart
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: app-check, designer-check

ci: Add name Upgrade dependencies
  .github/workflows/dependencies.yml
Due: none

ci: Define target branch for updater
  .github/workflows/dependencies.yml
Due: none

ci: Use personal github token
  .github/workflows/dependencies.yml
Due: none

ci: Use java 8
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Remove unused packages
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

fix: json_serializer DateTime.parse needs toString
  core/lib/models/questionnaire/answer.g.dart
  core/lib/models/results/result.g.dart
Due: core-check, app-check, designer-check

fix: Fix release build web: Remove type.toString
  core/lib/models/results/result.dart
Due: core-check, app-check, designer-check

chore: Add comment about keeping toString
  core/lib/models/questionnaire/answer.g.dart
  core/lib/models/results/result.g.dart
Due: core-check, app-check, designer-check

ci: Stop checking if generated files are correct
  .github/workflows/core.yml
Due: none

lint: Use lint package and cleanup
  app/analysis_options.yaml
  app/pubspec.lock
  app/pubspec.yaml
  core/analysis_options.yml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/analysis_options.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

style: Address lints
  app/analysis_options.yaml
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/report/generic_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/util/save_pdf.dart
  app/lib/widgets/bottom_onboarding_navigation.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  app/pubspec.yaml
  app/test/widget_test.dart
  core/analysis_options.yml
  core/lib/models/study/parse_user_study.dart
  study_designer/analysis_options.yaml
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/widgets/util/designer_add_button.dart
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

feat: Add IRB contact field
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  core/lib/models/study/contact.dart
  core/lib/models/study/contact.g.dart
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/l10n/app_de.arb
  study_designer/lib/l10n/app_en.arb
Due: core-check, app-check, designer-check

lint: Correct line format and import
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
Due: app-check

ci: Add --pwa-strategy none to stop caching
  Dockerfile
Due: none

feat: Enable editing published studies locally
  study_designer/lib/designer.dart
Due: designer-check

fix: spelling
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
Due: app-check

fix: Fix compatibility with newest beta
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): v1.1.0
  CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore: Upgrade gradle: 6.7.1, plugin: 4.1.1
  app/android/app/build.gradle
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  study_designer/android/app/build.gradle
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore: Remove unused import
  app/lib/util/notifications.dart
Due: app-check

chore: Refactor according to pdf 1.3.0 deprecation
  app/lib/util/save_pdf.dart
Due: app-check

chore(release): v1.2.0
  CHANGELOG.md
  app/pubspec.yaml
Due: app-check

feat: WelcomeScreen: Make Get Started more apparent
  app/lib/screens/app_onboarding/welcome.dart
Due: app-check

fix(ios): Add language options for ios
  app/ios/Runner/Info.plist
  study_designer/ios/Runner/Info.plist
Due: app-check, designer-check

feat: Rework terms & privacy screen
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/app_onboarding/terms.dart
  core/lib/models/config.dart
  core/lib/models/config.g.dart
  core/lib/models/models.dart
Due: core-check, app-check, designer-check

Add MIT LICENSE
  LICENSE
Due: none

refactor: Cleanup app language
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  core/lib/util/localization.dart
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

feat: Add terms and privacy disclaimer to designer
  app/lib/l10n/app_en.arb
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/l10n/app_de.arb
  study_designer/lib/l10n/app_en.arb
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
