Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: Add generate to melos scripts
  melos.yaml
Due: none

feat: Indicate days left in current intervention
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: Fetch Subject with Study and Progress
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

deploy: Allow CORS headers for repo generator
  firebase.json
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

ci: Split deploying apps and Github release
  .github/workflows/deploy-apps.yml
  .github/workflows/release.yml
Due: none

ci: Upgrade fastlane
  app/android/Gemfile.lock
  app/android/fastlane/Fastfile
  app/android/fastlane/report.xml
  app/ios/Gemfile.lock
  app/ios/fastlane/Fastfile
Due: app-check

fix: Move export csv into dialog
  designer/lib/widgets/study_detail/export_dialog.dart
  designer/lib/widgets/study_detail/header.dart
Due: none

chore: Upgrade deps
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

feat: Spilt reminderTime and unlock/locking times
  core/lib/src/models/interventions/tasks/checkmark_task.g.dart
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/schedule.g.dart
  core/lib/src/models/tasks/schedules/fixed_schedule.dart
  core/lib/src/models/tasks/schedules/fixed_schedule.g.dart
  core/lib/src/models/tasks/schedules/schedules.dart
  core/lib/src/models/tasks/task.dart
  core/lib/src/models/tasks/tasks.dart
Due: core-check, app-check, designer-check

fix: Adapt designer to new task schedule model
  designer/lib/widgets/task/fixed_schedule_editor.dart
  designer/lib/widgets/task/task_editor.dart
  designer/lib/widgets/task/task_schedule_editor_section.dart
Due: none

fix: Adapt app to new task schedule model
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/util/notifications.dart
  app/lib/widgets/intervention_card.dart
Due: app-check

refactor: Rename file
  designer/lib/widgets/task/reminder_editor.dart
  designer/lib/widgets/task/task_schedule_editor_section.dart
Due: none

refactor: Add default constructor for TimeOfDay
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/schedule.g.dart
Due: core-check, app-check, designer-check

feat: Add task completion periods setting
  designer/lib/widgets/task/complation_period_editor.dart
  designer/lib/widgets/task/reminder_editor.dart
  designer/lib/widgets/task/task_schedule_editor_section.dart
Due: none

feat: Add error if lock time before unlock time
  designer/lib/widgets/task/complation_period_editor.dart
Due: none

fix: Add default times
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/schedule.g.dart
Due: core-check, app-check, designer-check

feat: Don't show delete button on first period
  designer/lib/widgets/task/complation_period_editor.dart
  designer/lib/widgets/task/task_schedule_editor_section.dart
Due: none

chore: Adapt to flutter 2.3 release
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/theme.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/round_checkbox.dart
  app/pubspec.lock
  designer/lib/dashboard.dart
  designer/lib/theme.dart
  designer/lib/widgets/study_detail/header.dart
  designer/lib/widgets/study_detail/invites_dialog.dart
  designer/lib/widgets/study_detail/notebook_viewer.dart
  designer/lib/widgets/task/complation_period_editor.dart
  designer/lib/widgets/task/reminder_editor.dart
  designer/pubspec.lock
  designer/pubspec.yaml
  designer/windows/flutter/generated_plugin_registrant.cc
  designer/windows/flutter/generated_plugin_registrant.h
  flutter_common/lib/src/utils/retry_future_builder.dart
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

fix: Align delete button
  designer/lib/widgets/task/complation_period_editor.dart
Due: none

feat: Add contains to CompletionPeriod
  core/lib/src/models/tasks/schedule.dart
Due: core-check, app-check, designer-check

feat: Lock task outside of completion period
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

ci: use push instead of create trigger
  .github/workflows/deploy-apps.yml
  .github/workflows/release.yml
Due: none

ci: iOS fastlane: Remove possibly failing params
  app/ios/fastlane/Fastfile
Due: app-check

ci: fastlane iOS: Readd timeout to create_keychain
  app/ios/fastlane/Fastfile
Due: app-check

feat: Add Version, Licenses info dialog
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/dashboard.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

fix: Fail on joining by invite w/o preselectedIds
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

chore: Clean up
  app/lib/app.dart
Due: app-check

feat: Add app url env var
  core/lib/src/env/env.dart
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
Due: core-check, app-check, designer-check

feat: Restore from session string
  flutter_common/lib/src/utils/user.dart
Due: none

feat: Research can test draft studies
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  designer/lib/designer.dart
Due: app-check

refactor: Remove unneded Theme widgets
  designer/lib/dashboard.dart
Due: none

feat: Move save/publish buttons to ActionBar
  designer/lib/designer.dart
  designer/lib/designer/save.dart
  designer/lib/models/app_state.dart
  designer/lib/util/save.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
