Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore(release): v1.4.0
  CHANGELOG.md
  app/pubspec.yaml
Due: app-check

ci: Deploy using flutter beta image
  Dockerfile
Due: none

ci(fix): Dockerfile needs to copy assets folder
  study_designer/assets/.gitkeep
Due: designer-check

ci(docker): Use canvaskit renderer for desktop
  Dockerfile
Due: none

chore: Cleanup json_annotation remains
  app/build.yaml
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  study_designer/pubspec.lock
Due: app-check, designer-check

ci(fix): Fix l10n.yaml not copied to docker image
  Dockerfile
Due: none

ci(deploy): Move to new google-github-actions/setup-gcloud
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
Due: none

chore: Upgrade pdf to 2.0.0
  app/lib/util/save_pdf.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/models/config.dart
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

chore: Fix deps
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

fix: add links to app instances for testing
  README.md
Due: none

Update README.md
  README.md
Due: none

fix: Fix error display on start
  core/lib/util/parse_init.dart
Due: core-check, app-check, designer-check

fix: ParseInit not reloading on error
  core/lib/util/parse_init.dart
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix(designer): Notify if study saving failed
  study_designer/lib/designer/save.dart
  study_designer/lib/l10n/app_de.arb
  study_designer/lib/l10n/app_en.arb
Due: designer-check

chore: Remove unneeded notifications setup
  app/android/app/proguard-rules.pro
  app/android/app/src/main/AndroidManifest.xml
Due: app-check

fix: Future retry button not reloading
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/util/parse_future_builder.dart
  core/lib/util/parse_init.dart
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

refactor: Clean up code
  app/lib/util/notifications.dart
Due: app-check

fix: Initialize notifications before scheduling
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/util/notifications.dart
Due: app-check

fix(designer): Make Navigation Sidebar scrollable
  study_designer/lib/designer.dart
Due: designer-check

chore(release): v1.4.1
  CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

refactor: Rename MetaDataDesigner to AboutDesigner
  study_designer/lib/designer.dart
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/l10n/app_de.arb
  study_designer/lib/l10n/app_en.arb
Due: designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/util/parse_init.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

refactor(ParseFutureBuilder): Self manage state
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/models/designer_state.dart
Due: core-check, app-check, designer-check

feat(designer): Migrate to Navigator 2.0
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/help_wrapper.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/routes.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
Due: designer-check

fix(designer): Fix race condition when draft empty
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
Due: designer-check

refactor(designer): Simplify observation build
  study_designer/lib/designer/observation_designer.dart
Due: designer-check

fix: Cleanup router
  study_designer/lib/designer.dart
  study_designer/lib/routes.dart
Due: designer-check

feat(designer): Add deep linking to designer pages
  study_designer/lib/models/app_state.dart
  study_designer/lib/routes.dart
Due: designer-check

fix(core): Force reload if parse query different
  core/lib/util/parse_future_builder.dart
Due: core-check, app-check, designer-check

fix(designer): Reload dashboard on delete
  study_designer/lib/dashboard.dart
Due: designer-check

feat(designer): Reload studies on home navigation
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/routes.dart
Due: designer-check

feat(designer): Update URL with id on save draft
  study_designer/lib/designer/save.dart
  study_designer/lib/models/app_state.dart
Due: designer-check

refactor: Rename routes.dart -> router.dart
  study_designer/lib/app.dart
  study_designer/lib/designer.dart
  study_designer/lib/router.dart
Due: designer-check

feat(designer): Create study editors URL navigation
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
Due: designer-check

fix(core): ParseFetchOneFutureBuilder refresh
  core/lib/util/parse_future_builder.dart
Due: core-check, app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
