Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

refactor: Add isBaseline to Intervention
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/util/intervention.dart
  app/lib/widgets/intervention_card.dart
  core/lib/src/models/interventions/intervention.dart
Due: core-check, app-check, designer-check

refactor: Rename var
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

feat: Add preselectedInterventionIds
  core/lib/src/models/tables/study_invite.dart
  core/lib/src/models/tables/study_invite.g.dart
Due: core-check, app-check, designer-check

feat: Invites can have preselected interventions
  study_designer/lib/widgets/study_detail/invites_dialog.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

feat(app): Load preselectedIds from invite
  app/lib/models/app_state.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/performance/performance_details.dart
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  generator/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Reload dashboard at correct place
  study_designer/lib/models/app_state.dart
Due: designer-check

fix: Expanded in wrong place
  study_designer/lib/widgets/study_detail/invites_dialog.dart
Due: designer-check

feat: Show name of sequence ABBA, ABAB
  core/lib/src/models/study_schedule/study_schedule.dart
  study_designer/lib/widgets/study_detail/invites_dialog.dart
Due: core-check, app-check, designer-check

feat(designer): Show order of schedule in editor
  study_designer/lib/designer/schedule_designer.dart
Due: designer-check

refactor: Rename numberOfPhases => numberOfInterventions
  app/lib/screens/study/onboarding/study_overview.dart
  core/lib/src/models/study_schedule/study_schedule.dart
Due: core-check, app-check, designer-check

fix: Downgrade webview_flutter to fix build
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

chore: Upgrade gradle
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check, designer-check

chore: Upgrade webview_flutter to 2.0.6 again
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

ci(nb_uploader): Docker: Add R packages for cinof1
  notebook_uploader/Dockerfile
Due: none

ci: Docker: Add more packages for compilation
  notebook_uploader/Dockerfile
Due: none

fix: Also install IRkernel
  notebook_uploader/Dockerfile
Due: none

chore: Upgrade deps
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix(ci): Add r-cran-roxygen2
  notebook_uploader/Dockerfile
Due: none

ci: Remove unneeded dart CI
  .github/workflows/dart.yml
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: app-check, designer-check

ci: Remove other mono_repo pipeline
  .github/workflows/lint.yml
Due: none

fix: Add allow-errors to notebook html generation
  notebook_uploader/generate-notebook-htmls.sh
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  generator/pubspec.lock
  notebook_uploader/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

feat(models): Add header, footer to task
  core/lib/src/models/interventions/tasks/checkmark_task.g.dart
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/tasks/task.dart
Due: core-check, app-check, designer-check

feat(designer): Add task header and footer field
  study_designer/lib/widgets/task/task_editor.dart
Due: designer-check

fix(app): Reset invite code and preselected IDs
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

feat(app): Add Complete button to Questionnaire
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

fix(app): Improve UI of questionnaires
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
Due: app-check

feat(app): Add header/footer to questionnaire
  app/lib/widgets/questionnaire/questionnaire_widget.dart
Due: app-check

chore: Upgrade deps
  app/android/build.gradle
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  common/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  notebook_uploader/pubspec.lock
  study_designer/android/build.gradle
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix(designer): Fix invite dialog being scrollable
  study_designer/lib/widgets/study_detail/invites_dialog.dart
Due: designer-check

feat(designer): Use Card UI for dashboard + fixes
  study_designer/lib/dashboard.dart
Due: designer-check

feat: Add 3 statistics to study
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

feat(icon_lables): Add fontSize
  study_designer/lib/widgets/icon_labels.dart
Due: designer-check

feat: Redesign study details + include stats
  study_designer/assets/images/logomark-orangebody-greyplanets.png
  study_designer/lib/widgets/study_detail/header.dart
  study_designer/lib/widgets/study_detail/notebook_overview.dart
  study_designer/lib/widgets/study_detail/stats.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

fix(app): Multiple completion off same task
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

chore: Upgrade to flutter_dotenv 5.0.0
  common/lib/src/utils/env_loader.dart
  common/pubspec.lock
  common/pubspec.yaml
Due: none

feat(model): Add more study statistic and helpers
  core/lib/src/models/study_schedule/study_schedule.dart
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

feat: Add more statistics including missed days
  study_designer/lib/dashboard.dart
  study_designer/lib/widgets/study_detail/bar_chart.dart
  study_designer/lib/widgets/study_detail/stats.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
