Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Add date param to scheduleFor
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Display current InterventionCard on Dashboard
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
Due: app-check

Rename function
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Remove default param
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Pass onTap for InterventionCard
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Also set all results one day back
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Fix linter
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Analytics disclaimer kills my check format script
  flutter-project.yml
Due: none

Add option to hide Checkbox. Make checkbox colored
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Use BaselineCard in InterventionCard
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

SHAME: First time linter gets me I think
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
Due: app-check

Remove particles from RoundCheckbox
  app/lib/widgets/round_checkbox.dart
Due: app-check

Move study instance functions to model
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Make skippable for now
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Move taskList to method
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Add more helper functions to studyInstance
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Move InterventionSegment to own widget
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Use generic isTaskFinishedFor Method
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Disable analytics before checking format
  core/.gitlab-ci.yml
Due: core-check, app-check, designer-check

Add missing formt
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Replaced quotation marks
  app/lib/screens/app_onboarding/about.dart
Due: app-check

Changed icons and description text
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/about.dart
Due: app-check

Add new icon with stethoscope
  app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/assets/images/icon.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  app/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
Due: app-check

Change to What is StudyU
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/welcome.dart
Due: app-check

Change app name to StudyU
  app/android/app/src/main/AndroidManifest.xml
  app/assets/i18n/de.json
  app/ios/Runner/Info.plist
  app/lib/app.dart
Due: app-check

Deactivated forcing users to click every box & typo correction
  app/assets/i18n/de.json
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Added bottom progress bar to the App bar
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
