Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix: merge issues
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

feat: implement study registry properly
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
  designer_v2/lib/common_views/dialog.dart
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/form_scaffold.dart
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/common_views/icons.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/studies_filter.dart
  designer_v2/lib/features/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/recruit/enrolled_badge.dart
  designer_v2/lib/features/study/settings/study_settings_dialog.dart
  designer_v2/lib/features/study/settings/study_settings_form_controller.dart
  designer_v2/lib/features/study/settings/study_settings_form_view.dart
  designer_v2/lib/features/study/settings/study_settings_page.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_navbar.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
  designer_v2/lib/routing/router_utils.dart
  designer_v2/lib/services/notification_types.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/extensions.dart
  designer_v2/lib/utils/model_action.dart
  designer_v2/lib/utils/optimistic_update.dart
Due: core-check, app-check, designer-check

fix: make createdAt available immediately for study copies
  designer_v2/lib/domain/study.dart
Due: none

fix: add howto button again and fix test page reset
  designer_v2/lib/features/study/study_test_controls.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

feat: add studyu logo image to drawer
  designer_v2/lib/features/app_drawer.dart
Due: none

fix: refactor
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

fix: merge fix
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: none

fix: env variable definition attempt #3
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

wip: add consent items to designer
  designer_v2/lib/assets.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/domain/consent.dart
  designer_v2/lib/domain/participation.dart
  designer_v2/lib/features/analyze/study_analyze_page.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_controller.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_data.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_view.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_data.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/monitor/study_monitor_page.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/routing/router_config.dart
Due: none

refactoring
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
Due: app-check

feat: wip send study to app
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/study/study_test_controls.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: app-check

fix: missing supabase import
  designer_v2/lib/domain/study.dart
Due: none

fix: autosave retriggered due to timer not being disposed
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_controller.dart
  designer_v2/lib/features/design/study_form_controller.dart
Due: none

fix: env variable definition attempt #4
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

wip: fix autosave issues
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/pubspec.yaml
  designer_v2/lib/common_views/sync_indicator.dart
  designer_v2/lib/features/analyze/study_analyze_controller_state.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_controller_state.dart
  designer_v2/lib/features/study/study_base_controller.dart
  designer_v2/lib/features/study/study_base_state.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: core-check, app-check, designer-check

fix: make autosave indicator work again
  core/lib/src/models/study_schedule/study_schedule.dart
  designer_v2/lib/common_views/icon_picker.dart
  designer_v2/lib/common_views/sync_indicator.dart
  designer_v2/lib/domain/schedule.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/lib/features/design/shared/schedule/schedule_controls_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/features/study/study_status_badge.dart
  designer_v2/lib/utils/time_of_day.dart
Due: core-check, app-check, designer-check

chore: env fix #5
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: env fix #6
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat: A lot of localisations
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/sync_indicator.dart
  designer_v2/lib/domain/study_schedule.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_formfield_views.dart
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/lib/features/auth/password_forgot_page.dart
  designer_v2/lib/features/auth/password_recovery_page.dart
  designer_v2/lib/features/auth/signup_page.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/design/enrollment/enrollment_question_form.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_table.dart
  designer_v2/lib/features/design/measurements/survey/question/bool_question_form_view.dart
  designer_v2/lib/features/design/measurements/survey/question/choice_question_form_view.dart
  designer_v2/lib/features/design/measurements/survey/question/scale_question_form_view.dart
  designer_v2/lib/features/design/measurements/survey/question/survey_question_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/question/survey_question_form_data.dart
  designer_v2/lib/features/design/measurements/survey/question/survey_question_type.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_data.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/main_page_scaffold.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/routing/router_navbars.dart
  designer_v2/lib/services/notification_types.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/utils/extensions.dart
  designer_v2/lib/utils/model_action.dart
Due: none

fix: launch button validation criteria
  designer_v2/lib/features/forms/form_view_model.dart
Due: none

fix: update icon picker dialog widget
  designer_v2/lib/common_views/icon_picker.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
Due: none

feat: live preview
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: app-check

chore: update deploy branch deeplinks
  flutter_common/lib/envs/.env.staging
Due: none

chore: fix preview
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix: merge fixes and localization improvements
  designer_v2/lib/common_views/sync_indicator.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_data.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/utils/extensions.dart
Due: none

feat: add consent validation
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/common_views/icon_picker.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_controller.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_view.dart
Due: none

feat(docker): update docker to run with designer_v2
  Dockerfile
  docker-compose-app.yml
  docker-compose-designer-selfhost.yml
  docker-compose-designer2-selfhost.yml
  docker-compose-designer2.yml
  docker-compose-full-selfhost.yml
  docker-compose-full.yml
  melos.yaml
Due: none

fix: measurement preview bug, refactoring
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: app-check

fix: text route overview fix
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

simplify environment deeplinks
  core/lib/src/env/env.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
  flutter_common/lib/envs/.env.selfhost
  flutter_common/lib/envs/.env.staging
  flutter_common/lib/src/utils/env_loader.dart
Due: core-check, app-check, designer-check

rename docker directory to supabase
  README.md
  supabase/.env.example
  supabase/.gitignore
  supabase/README.md
  supabase/dev/data.sql
  supabase/dev/docker-compose.dev.yml
  supabase/docker-compose.yml
  supabase/volumes/api/kong.yml
  supabase/volumes/db/init/00-initial-schema.sql
  supabase/volumes/db/init/01-auth-schema.sql
  supabase/volumes/db/init/02-storage-schema.sql
  supabase/volumes/db/init/03-post-setup.sql
  supabase/volumes/db/init/04-pg-graphql.sql
Due: none

wip: question-type controls
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/common_views/navbar_tabbed.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_tabs.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/bool_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/scale_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/shared_question_views.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/model_action.dart
Due: none

fix: enable banner again
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

fix: refactoring
  app/lib/screens/app_onboarding/iframe_helper.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: app-check

wip: question-type controls #2
  designer_v2/lib/common_views/banner.dart
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/domain/participation.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/bool_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/scale_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/shared_question_views.dart
  designer_v2/lib/features/forms/form_control.dart
  designer_v2/lib/features/forms/form_validation.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/utils/api_client_mocked.dart
  designer_v2/lib/utils/debouncer.dart
Due: none

fix: make onSave async
  designer_v2/lib/constants.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
  designer_v2/lib/features/design/interventions/interventions_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/questionnaire_form_controller_mixin.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/utils/debouncer.dart
Due: none

wip: scale question type
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/scale_question_form_view.dart
  designer_v2/lib/features/forms/form_control.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/utils/tuple.dart
  designer_v2/pubspec.yaml
Due: none

fix: refactor test frame and fix iframe click bug
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

feat: add sql migration code
  database/migrate-v1_v2.sql
Due: none

fix(docker): designer_v2 additions
  Dockerfile
  docker-compose-full-selfhost.yml
  melos.yaml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
