Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

build: Do not trigger on dev or master for now
  .github/workflows/flutter-ci.yml
Due: none

build: Do not restrict to change in app/ for now
  .github/workflows/flutter-ci.yml
Due: none

build: Add test to pipeline
  .github/workflows/app.yml
Due: none

build: Add workflow using flutter action
  .github/workflows/app-flutter-action.yml
Due: none

build: Add workflows for all packages
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

chore: Correct name
  .github/workflows/core.yml
Due: none

build: Restrict to paths
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

build: Correct trigger path to include everything
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

build: Also trigger on PR; main instead of master
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

build: Add GitHub action (#2)
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
  .github/workflows/flutter-ci.yml
Due: none

build: Disabe building apk for now
  .github/workflows/app.yml
  .github/workflows/designer.yml
Due: none

build: Add manual workflow triggers
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

build: allow viewing published studies without being able to save changes to them
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
Due: designer-check

build: show view mode only note if people view a published study
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer.dart
Due: designer-check

fix: text is not shown at include baseline button because of wrong text label
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
Due: designer-check

fix: add sizedbox at bottom of designer lists to make sure the add button doesn't block the user from seeing the element he is editing
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
Due: designer-check

build: include help explanations for all sections of the designer
  study_designer/assets/i18n/en.json
  study_designer/lib/designer.dart
Due: designer-check

build: include reason and prompt explanation
  study_designer/assets/i18n/en.json
Due: designer-check

fix: Disable notifications on web
  app/lib/app.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

chore: Remove unused translations
  app/assets/i18n/de.json
  app/assets/i18n/en.json
Due: app-check

fix: Return null rather than failing to parse
  core/lib/models/study/parse_user_study.dart
Due: core-check, app-check, designer-check

fix: Fix contact not displaying correctly
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

fix: Do not call notifications for web
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
