Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

feat: Fill copier template with questionIds
  repo_generator/lib/utils/cli.dart
  repo_generator/lib/utils/generator.dart
Due: none

feat: Allow viewing of public study model
  designer/lib/designer.dart
  designer/lib/router.dart
  designer/lib/widgets/study_detail/study_details.dart
Due: none

feat: Add gitUrl and webUrl
  core/lib/src/models/tables/repo.dart
  core/lib/src/models/tables/repo.g.dart
Due: core-check, app-check, designer-check

refactor: Use webUrl instead of projectId
  designer/lib/widgets/study_detail/header.dart
Due: none

feat: Extract git project properties
  repo_generator/lib/utils/cli.dart
  repo_generator/lib/utils/generator.dart
  repo_generator/lib/utils/gitlab.dart
Due: none

chore(release): publish packages
  core/CHANGELOG.md
  core/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  core/CHANGELOG.md
  core/pubspec.yaml
Due: core-check, app-check, designer-check

chore(deps): Upgrade studyu_core
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

chore: Add new lints
  analysis_options.yaml
  designer/lib/widgets/study_detail/bar_chart.dart
Due: none

chore: Upgrade gradle and android sdk to 31
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  designer/android/app/build.gradle
  designer/android/app/src/main/AndroidManifest.xml
  designer/android/build.gradle
  designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check

chore: Regenerate android files
  app/android/app/src/main/kotlin/health/studyu/app/MainActivity.kt
  app/android/gradle/wrapper/gradle-wrapper.jar
  app/android/gradlew
Due: app-check

chore: Update web files and set icon
  app/web/favicon.png
  app/web/icons/Icon-192.png
  app/web/icons/Icon-512.png
  app/web/icons/Icon-maskable-192.png
  app/web/icons/Icon-maskable-512.png
  app/web/index.html
  app/web/manifest.json
Due: app-check

chore: Regenerate web files and set icons
  designer/web/favicon.png
  designer/web/icons/Icon-192.png
  designer/web/icons/Icon-512.png
  designer/web/icons/Icon-maskable-192.png
  designer/web/icons/Icon-maskable-512.png
  designer/web/index.html
  designer/web/manifest.json
Due: none

chore: Regenerate android files
  designer/android/.gitignore
  designer/android/app/build.gradle
  designer/android/app/src/debug/AndroidManifest.xml
  designer/android/app/src/main/AndroidManifest.xml
  designer/android/app/src/main/kotlin/health/studyu/designer/MainActivity.kt
  designer/android/app/src/main/res/drawable-v21/launch_background.xml
  designer/android/app/src/main/res/values-night/styles.xml
  designer/android/app/src/profile/AndroidManifest.xml
  designer/android/build.gradle
  designer/android/gradle.properties
  designer/android/settings.gradle
Due: none

chore: Add icon for android and ios
  designer/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  designer/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  designer/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  designer/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  designer/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  designer/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

chore: Cleanup
  app/android/.gitignore
  app/android/app/src/main/AndroidManifest.xml
  app/android/gradle/wrapper/gradle-wrapper.jar
  app/android/gradlew
Due: app-check

chore: Regenerate windows
  designer/windows/CMakeLists.txt
  designer/windows/runner/CMakeLists.txt
  designer/windows/runner/Runner.rc
  designer/windows/runner/flutter_window.cpp
  designer/windows/runner/flutter_window.h
  designer/windows/runner/main.cpp
  designer/windows/runner/run_loop.cpp
  designer/windows/runner/run_loop.h
Due: none

chore: Regenerate ios
  designer/ios/.gitignore
  designer/ios/Flutter/AppFrameworkInfo.plist
  designer/ios/Flutter/Debug.xcconfig
  designer/ios/Flutter/Release.xcconfig
  designer/ios/Runner.xcodeproj/project.pbxproj
  designer/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  designer/ios/Runner.xcworkspace/contents.xcworkspacedata
Due: none

chore: Regen gitignore and metadata
  app/.gitignore
  app/.metadata
  designer/.gitignore
  designer/.metadata
Due: app-check

lint: Fix format
  flutter_common/lib/src/utils/user.dart
Due: none

fix: Android 12 support
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix: Use favicon.ico instead of .png
  app/web/favicon.ico
  app/web/favicon.png
  designer/web/favicon.ico
  designer/web/favicon.png
Due: app-check

chore: Add web page settings
  app/web/index.html
  designer/web/index.html
Due: app-check

ci: Misunderstood fetch-depth: 0
  .github/workflows/all_packages.yml
  .github/workflows/dependabot.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/deploy-designer.yml
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

ci: Build web app as PWA
  melos.yaml
Due: none

fix: Supabase signup not logging user in
  designer/lib/models/app_state.dart
  flutter_common/lib/src/utils/user.dart
Due: none

chore(release): publish packages
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: none

fix: Update flutter_common to fix signUp
  app/pubspec.lock
  designer/pubspec.lock
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
Due: app-check

fix: Do not ignore .env files
  flutter_common/.pubignore
Due: none

feat: Add ability to initialize with existing
  core/lib/src/env/env.dart
Due: core-check, app-check, designer-check

feat: Use supabase_flutter for session storing
  flutter_common/lib/src/utils/env_loader.dart
  flutter_common/lib/src/utils/user.dart
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: none

fix: Fix authRedirectUrl
  flutter_common/lib/src/utils/env_loader.dart
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
