Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

designer: Add email, phone, website
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer/meta_data_designer.dart
Due: designer-check

feat(app): Add FAQ and contact to Welcome page
  app/lib/routes.dart
  app/lib/screens/app_onboarding/welcome.dart
Due: app-check

chore(terms): Check boxes in debug
  app/lib/screens/app_onboarding/terms.dart
Due: app-check

feat(app): Color Study publisher header
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

feat(app): Display support contact
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Display contact info
  app/lib/screens/study/onboarding/study_overview.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

chore(consent): Skip clicking all boxes in debug
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

feat(app): Restructure contact screen
  app/lib/routes.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/lib/screens/study/dashboard/contact_tab/support.dart
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

Direct access to current study
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/report/report_history.dart
Due: app-check

feat(app): Remove support/contact overview page
  app/lib/routes.dart
  app/lib/screens/study/dashboard/contact_tab/support.dart
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

chore(docker): Add master key env var
  core/lib/util/parse_init.dart
  docker-compose-full.yml
  docker-compose.yml
Due: core-check, app-check, designer-check

Add first GitHub action
  .github/workflows/flutter-ci.yml
Due: none

chore(ci): Add dev to actions trigger
  .github/workflows/flutter-ci.yml
Due: none

style: Fix lint
  app/lib/routes.dart
Due: app-check

chore: Remove deprecated entry
  app/android/app/src/main/AndroidManifest.xml
  study_designer/android/app/src/main/AndroidManifest.xml
Due: app-check, designer-check

chore: Upgrade study designer to Android 30
  study_designer/android/app/build.gradle
Due: designer-check

chore(designer): Upgrade gradle
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
Due: designer-check

chore: Downgrade gradle until fixed for flutter
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check, designer-check

Add all needed actions
  .github/workflows/flutter-ci.yml
Due: none

chore(ci): Run on github-action branch for testing
  .github/workflows/flutter-ci.yml
Due: none

chore(ci): Set working dir
  .github/workflows/flutter-ci.yml
Due: none

build: Separate to linting and building web
  .github/workflows/app.yml
Due: none

build: Add enable web support to build web
  .github/workflows/flutter-ci.yml
Due: none
