Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

add designer constructors to models
  core/lib/models/consent/consent_item.dart
  core/lib/models/eligibility/eligibility_criterion.dart
  core/lib/models/expressions/types/choice_expression.dart
  core/lib/models/expressions/types/not_expression.dart
  core/lib/models/interventions/intervention.dart
  core/lib/models/interventions/intervention_set.dart
  core/lib/models/interventions/intervention_task.dart
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/observation.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/questionnaire/question.dart
  core/lib/models/questionnaire/questionnaire.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.dart
  core/lib/models/questionnaire/questions/boolean_question.dart
  core/lib/models/questionnaire/questions/choice_question.dart
  core/lib/models/questionnaire/questions/slider_question.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.dart
  core/lib/models/report/report_section.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/report/sections/average_section.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/numeric_result.dart
  core/lib/models/study_results/study_result.dart
  core/lib/models/study_schedule/study_schedule.dart
  core/lib/models/tasks/task.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/models/designer_state.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: core-check, app-check, designer-check

rename designer constructor
  core/lib/models/consent/consent_item.dart
  core/lib/models/eligibility/eligibility_criterion.dart
  core/lib/models/expressions/types/choice_expression.dart
  core/lib/models/expressions/types/not_expression.dart
  core/lib/models/interventions/intervention.dart
  core/lib/models/interventions/intervention_set.dart
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/questionnaire/questionnaire.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.dart
  core/lib/models/questionnaire/questions/boolean_question.dart
  core/lib/models/questionnaire/questions/choice_question.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/report/sections/average_section.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/numeric_result.dart
  core/lib/models/study_schedule/study_schedule.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/models/designer_state.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: core-check, app-check, designer-check

Upgrade packages
  app/android/.gitignore
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Upgrade android.gradle
  app/android/build.gradle
Due: app-check

Parse without devicelocale, breaks release builds
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Replace deprecated package
  app/lib/util/download.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Convert lineendings
  app/lib/util/download.dart
Due: app-check

Add missing pubspec.lock entries
  core/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

Add internet permission to release builds
  app/android/app/src/main/AndroidManifest.xml
Due: app-check

Do not center this. Makes hero anim smoother
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Switch to parse-community branch
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Extract average report section
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/report_section_widget.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/report_section_widgets.dart
  app/lib/screens/study/report/util/plot_utilities.dart
  app/lib/util/data_processing.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/study.dart
Due: core-check, app-check, designer-check

Refactor generic section display
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/generic_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
Due: app-check

Add data processing utilities
  study_designer/lib/util/data_processing.dart
Due: designer-check

Fix file references
  app/ios/Podfile.lock
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_section_container.dart
Due: app-check

Move data processing to correct folder
  app/lib/util/data_processing.dart
Due: app-check

Add axis label
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/util/plot_utilities.dart
Due: app-check

Fix result check
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

fixed constructor change
  app/lib/util/notifications.dart
  core/lib/models/tasks/schedules/fixed_schedule.dart
Due: core-check, app-check, designer-check

Fix linter
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check

added notifications WIP
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/res/drawable/app_icon.png
  app/lib/screens/app_onboarding/loading_screen.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
