Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

Changed small piece of translation
  app/assets/i18n/de.json
Due: app-check

Made consent screen serializable
  app/lib/screens/study/onboarding/consent.dart
  study_designer/ios/Runner.xcodeproj/project.pbxproj
  study_designer/ios/Runner.xcworkspace/contents.xcworkspacedata
Due: app-check, designer-check

Add consent to model
  app/lib/screens/study/onboarding/consent.dart
  core/lib/models/consent/consent_item.dart
  core/lib/models/models.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Added small piece of code for renewing MR
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Remove commented line
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Fix linter
  app/lib/screens/study/dashboard/settings.dart
Due: app-check

Opt-out of study
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/settings.dart
Due: app-check

Delete all user data, also from server
  app/lib/screens/study/dashboard/settings.dart
  core/lib/queries/user.dart
Due: core-check, app-check, designer-check

Add User ID display
  app/lib/screens/study/dashboard/settings.dart
Due: app-check

add navigation rail
  study_designer/lib/designer.dart
Due: designer-check

split up question card
  study_designer/lib/widgets/question_card.dart
  study_designer/lib/widgets/question_edit_widget.dart
  study_designer/lib/widgets/question_show_widget.dart
Due: designer-check

fix typo
  study_designer/lib/designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/models/designer_state.dart
Due: designer-check

Add simple routing for better hot reload
  study_designer/lib/dashboard.dart
  study_designer/lib/routes.dart
Due: designer-check

turn question card into generic study designer card
  study_designer/lib/designer/eligibility_designer/designer.dart
  study_designer/lib/widgets/question_card.dart
  study_designer/lib/widgets/question_edit_widget.dart
  study_designer/lib/widgets/question_show_widget.dart
  study_designer/lib/widgets/study_designer_card.dart
Due: designer-check

make question card independent of eligibility questionnaire
  study_designer/lib/designer/eligibility_designer/designer.dart
  study_designer/lib/designer/eligibility_designer/question_card.dart
Due: designer-check

allow adding checkmark tasks
  study_designer/lib/designer/interventions_designer.dart
Due: designer-check

fixed deleting wrong choice and 'flutterified' choice list
  study_designer/lib/widgets/choice_question_edit_widget.dart
Due: designer-check

add changes: allow editing schedules
  study_designer/lib/designer/interventions_designer/designer.dart
  study_designer/lib/designer/interventions_designer/intervention_card.dart
  study_designer/lib/designer/interventions_designer/schedule_card.dart
  study_designer/lib/designer/interventions_designer/task_card.dart
Due: designer-check

require card to be filled before moving on to next
  study_designer/lib/designer/eligibility_designer/designer.dart
  study_designer/lib/designer/eligibility_designer/question_card.dart
Due: designer-check

remove schedule card
  study_designer/lib/designer/interventions_designer/intervention_card.dart
  study_designer/lib/designer/interventions_designer/schedule_card.dart
  study_designer/lib/designer/interventions_designer/task_card.dart
  study_designer/lib/models/designer_state.dart
Due: designer-check

satisfy linter
  study_designer/lib/designer/interventions_designer/intervention_card.dart
  study_designer/lib/designer/interventions_designer/task_card.dart
Due: designer-check

add excluding answers
  study_designer/lib/designer/eligibility_designer/designer.dart
  study_designer/lib/designer/eligibility_designer/question_card.dart
  study_designer/lib/models/designer_state.dart
Due: designer-check

allow editing interventions
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/models/designer_state.dart
Due: designer-check

remove placeholder code for schedule designer and observation designer
  study_designer/lib/designer/observation_designer/designer.dart
  study_designer/lib/designer/schedule_designer.dart
Due: designer-check

move question card, do not have to watch subobjects of a watched object
  study_designer/lib/designer/eligibility_designer/designer.dart
  study_designer/lib/designer/shared_widgets/question_card.dart
Due: designer-check

split designer screen into widgets metadata designer and interventions designer
  study_designer/lib/designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/meta_data_designer.dart
Due: designer-check

fix routing so study designer works again
  study_designer/lib/dashboard.dart
  study_designer/lib/routes.dart
Due: designer-check

allow editing study title and description
  study_designer/lib/designer.dart
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/models/desinger_state.dart
Due: designer-check

remove eligibility conditions from question
  study_designer/lib/designer/eligibility_designer/designer.dart
  study_designer/lib/designer/eligibility_designer/question_card.dart
  study_designer/lib/models/designer_state.dart
Due: designer-check

update flutter-form-builder make choice editable
  study_designer/lib/designer/interventions_designer/intervention_card.dart
  study_designer/lib/designer/interventions_designer/task_card.dart
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/widgets/choice_edit_widget.dart
  study_designer/lib/widgets/choice_question_edit_widget.dart
  study_designer/lib/widgets/question_edit_widget.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

try to add mock interventions
  study_designer/lib/models/designer_state.dart
Due: designer-check

add min length validator for exclusion reason
  study_designer/lib/designer/eligibility_designer/question_card.dart
Due: designer-check
