Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: .gitignore changes
  .gitignore
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/ios/Runner/GeneratedPluginRegistrant.h
  designer_v2/ios/Runner/GeneratedPluginRegistrant.m
  designer_v2/linux/flutter/generated_plugin_registrant.cc
  designer_v2/linux/flutter/generated_plugin_registrant.h
  designer_v2/linux/flutter/generated_plugins.cmake
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/windows/flutter/generated_plugin_registrant.cc
  designer_v2/windows/flutter/generated_plugin_registrant.h
  designer_v2/windows/flutter/generated_plugins.cmake
Due: none

chore: lint ignore outdated packages
  analysis_options.yaml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

chore: fix test pipeline
  designer_v2/test/init_test.dart
  designer_v2/test/widget_test.dart
  flutter_common/pubspec.yaml
  flutter_common/test/init_test.dart
Due: none

chore: melos format check
  flutter_common/pubspec.lock
  melos.yaml
Due: none

chore: melos format check
  melos.yaml
Due: none

chore: formatting
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/schedule_notifications.dart
  app/lib/widgets/html_text.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  core/lib/src/models/expressions/types/choice_expression.dart
  designer_v2/lib/common_views/styling_information.dart
  designer_v2/lib/domain/study_export.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_view.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_data.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/reports/report_badge.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_data.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
  designer_v2/lib/features/design/reports/section/report_item_form_data.dart
  designer_v2/lib/features/design/reports/section/report_item_form_view.dart
  designer_v2/lib/features/design/reports/section/types/average_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/data_reference_editor.dart
  designer_v2/lib/features/design/reports/section/types/data_reference_identifier.dart
  designer_v2/lib/features/design/reports/section/types/linear_regression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/section_type.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_controls_view.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/forms/form_array_table.dart
  designer_v2/lib/features/forms/form_view_model_collection_actions.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/utils/time_of_day.dart
Due: core-check, app-check, designer-check

chore: melos format
  melos.yaml
Due: none

Update build-docker-generator.yml
  .github/workflows/build-docker-generator.yml
Due: none

chore: temporary disable build-docker-generator.yml
  .github/workflows/build-docker-generator.yml
Due: none

fix: slider design overhaul
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  core/lib/src/models/questionnaire/questions/slider_question.dart
Due: core-check, app-check, designer-check

fix: improve questionnaire slider usability
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
Due: app-check

chore: deprecate VisualAnalogueQuestionWidget
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
Due: app-check

chore: set initialValue to 0 initially
  core/lib/src/models/questionnaire/questions/slider_question.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
Due: core-check, app-check, designer-check

fix: more slider usability fixes
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
Due: app-check

fix: improve debug mode and send test notification
  app/android/app/src/main/AndroidManifest.xml
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: upgrade deps
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
  designer_v2/lib/routing/router_utils.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

small slider color bugfix
  app/lib/widgets/questionnaire/scale_question_widget.dart
Due: app-check

slider bugfix and better usability
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  designer_v2/lib/services/notification_dispatcher.dart
Due: app-check

chore: reformatting of changed files
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/schedule_notifications.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  core/lib/src/models/questionnaire/question.dart
  core/lib/src/models/questionnaire/questions/slider_question.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore: formatting
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: formatting
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/schedule_notifications.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  core/lib/src/models/questionnaire/question.dart
  core/lib/src/models/questionnaire/questions/slider_question.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
Due: core-check, app-check, designer-check

Update publish_pubdev.yml
  .github/workflows/publish_pubdev.yml
Due: none
