Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

ci: Use flutter action instead of container
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
  .github/workflows/release.yml
Due: none

ci: Enable workflow for .github only app
  .github/workflows/app.yml
Due: none

ci: Add dependency updater
  .github/workflows/dependencies.yml
Due: none

ci: Fix action typo
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
  .github/workflows/release.yml
Due: none

fix: Use dart conform names
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

feat: Define generate localizations
  app/pubspec.yaml
Due: app-check

refactor: Setup generated i18n
  app/l10n.yaml
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
Due: app-check

refactor: Add support for gen. localizations
  app/lib/app.dart
Due: app-check

fix: Upgrade packages to beta channel
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: Use new generated localizations class
  app/lib/app.dart
  app/lib/screens/app_onboarding/about.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/disclaimer_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/intervention/video_task.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/util/localization.dart
  app/lib/util/save_pdf.dart
  app/lib/widgets/bottom_onboarding_navigation.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/boolean_question_widget.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
Due: app-check

chore: Add publish_to: none for linter
  core/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Scaffold.of deprecated
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/test/widget_test.dart
  core/lib/util/localization.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/save.dart
Due: core-check, app-check, designer-check

fix: Make compatible with beta
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

chore: fix formatting
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/util/localization.dart
  app/lib/widgets/intervention_card.dart
  core/lib/models/consent/consent_item.g.dart
  core/lib/models/data/data_reference.g.dart
  core/lib/models/eligibility/eligibility_criterion.g.dart
  core/lib/models/expressions/types/boolean_expression.g.dart
  core/lib/models/expressions/types/choice_expression.g.dart
  core/lib/models/expressions/types/not_expression.g.dart
  core/lib/models/interventions/intervention.g.dart
  core/lib/models/interventions/intervention_set.g.dart
  core/lib/models/interventions/tasks/checkmark_task.g.dart
  core/lib/models/observations/tasks/questionnaire_task.g.dart
  core/lib/models/questionnaire/question_conditional.g.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/models/questionnaire/questions/boolean_question.g.dart
  core/lib/models/questionnaire/questions/choice_question.g.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/report/sections/average_section.g.dart
  core/lib/models/report/sections/linear_regression_section.g.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/study_details.g.dart
  core/lib/models/study_results/results/intervention_result.g.dart
  core/lib/models/study_results/results/numeric_result.g.dart
  core/lib/models/study_schedule/study_schedule.g.dart
  core/lib/models/tasks/schedules/fixed_schedule.g.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/util/localization.dart
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
Due: core-check, app-check, designer-check

fix: Cleanup of study_designer gen i10n
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/util/localization.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/pubspec.yaml
Due: designer-check

WIP: Add gen. localiations for designer
  core/lib/util/localization.dart
  study_designer/l10n.yaml
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/l10n/app_de.arb
  study_designer/lib/l10n/app_en.arb
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_editor.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/question_editor.dart
  study_designer/lib/widgets/question/slider_question_editor_section.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
  study_designer/lib/widgets/task/questionnaire_task_editor_section.dart
  study_designer/lib/widgets/task/task_editor.dart
  study_designer/lib/widgets/util/data_reference_editor.dart
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: app-check, designer-check

lint: Sort pubspec.yaml
  app/pubspec.yaml
  study_designer/pubspec.yaml
Due: app-check, designer-check

ci: Disable analytics for less log garbage
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
Due: none

ci: Debug unformatted files
  .github/workflows/core.yml
Due: none

ci: Fix flutter format in core
  .github/workflows/core.yml
Due: none

ci: Fix working dir
  .github/workflows/core.yml
Due: none

ci: Update format of .g.dart files
  core/lib/models/consent/consent_item.g.dart
  core/lib/models/data/data_reference.g.dart
  core/lib/models/eligibility/eligibility_criterion.g.dart
  core/lib/models/expressions/types/boolean_expression.g.dart
  core/lib/models/expressions/types/choice_expression.g.dart
  core/lib/models/expressions/types/not_expression.g.dart
  core/lib/models/interventions/intervention.g.dart
  core/lib/models/interventions/intervention_set.g.dart
  core/lib/models/interventions/tasks/checkmark_task.g.dart
  core/lib/models/observations/tasks/questionnaire_task.g.dart
  core/lib/models/questionnaire/question_conditional.g.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/models/questionnaire/questions/boolean_question.g.dart
  core/lib/models/questionnaire/questions/choice_question.g.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/report/sections/average_section.g.dart
  core/lib/models/report/sections/linear_regression_section.g.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/study_details.g.dart
  core/lib/models/study_results/results/intervention_result.g.dart
  core/lib/models/study_results/results/numeric_result.g.dart
  core/lib/models/study_schedule/study_schedule.g.dart
  core/lib/models/tasks/schedules/fixed_schedule.g.dart
Due: core-check, app-check, designer-check

test: Fix tests
  .github/workflows/core.yml
  app/test/widget_test.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
