Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

fix: Set correct name for Android app
  designer/android/app/src/main/AndroidManifest.xml
Due: none

feat: Use supabase_flutter for auth and instance
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/report_history.dart
  app/pubspec.lock
  app/pubspec.yaml
  designer/lib/app.dart
  designer/lib/designer.dart
  designer/lib/models/app_state.dart
  designer/lib/router.dart
  designer/lib/util/repo_manager.dart
  designer/lib/util/storage_helper.dart
  designer/lib/widgets/login_page.dart
  designer/lib/widgets/study_detail/export_dialog.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: app-check

fix: Upgrade core dep
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: app-check

fix: Make appUrl and projectGeneratorUrl nullable
  core/lib/src/env/env.dart
Due: core-check, app-check, designer-check

chore(release): publish packages
  core/CHANGELOG.md
  core/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Upgrade core
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: app-check

fix: Upgrade flutter_common
  app/pubspec.lock
  designer/pubspec.lock
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
Due: app-check

fix: Upgrade deps
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade lint to 1.7.2 in melos.yaml
  melos.yaml
Due: none

chore: Upgrade gradle and kotlin
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  designer/android/build.gradle
  designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check

lint: Disable new lints for now
  analysis_options.yaml
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: Import symbols from supabase package
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/src/util/supabase_object.dart
  designer/lib/widgets/login_page.dart
  designer/lib/widgets/util/data_reference_editor.dart
Due: core-check, app-check, designer-check

fix: Supabase init and redirectUrl
  flutter_common/lib/src/utils/env_loader.dart
Due: none

chore: Update windows files
  designer/windows/flutter/generated_plugin_registrant.cc
Due: none

fix: Use this.toJson
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

lint: Fix unsafe use of href = ...
  designer/lib/util/result_downloader.dart
Due: none

fix: Changes in lints and APIs
  designer/lib/widgets/study_detail/bar_chart.dart
  designer/lib/widgets/study_detail/export_dialog.dart
  designer/lib/widgets/study_detail/notebook_viewer.dart
Due: none

fix: Fix try out study
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Upgrade studyu core
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: none

chore(release): publish packages
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

fix: Upgrade studyu deps
  app/pubspec.lock
  designer/pubspec.lock
Due: app-check

fix: Flutter beta deprecations
  app/pubspec.lock
  app/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
Due: app-check

fix: Adapt to flutter deprecations
  app/pubspec.lock
  app/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
Due: app-check

fix: Add more german translation
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore: Adapt to new default lints
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
  app/lib/util/save_pdf.dart
  app/lib/widgets/fhir_questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/fhir_questionnaire/visual_analogue_question_widget.dart
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  app/lib/widgets/selectable_button.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/observations/tasks/questionnaire_task.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tasks/task.dart
  designer/lib/util/form_builder_color_picker.dart
  flutter_common/lib/src/utils/localization.dart
Due: core-check, app-check, designer-check

chore: Upgrade packages
  app/android/app/build.gradle
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/util/notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/android/build.gradle
  designer/android/gradle/wrapper/gradle-wrapper.properties
  designer/lib/models/app_state.dart
  designer/lib/util/form_builder_color_picker.dart
  designer/lib/util/storage_helper.dart
  designer/lib/widgets/login_page.dart
  designer/lib/widgets/study_detail/notebook_viewer.dart
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: Use FormBuilderColorPickerField from form_builder_extra_fields
  designer/lib/designer/about_designer.dart
  designer/lib/util/form_builder_color_picker.dart
  designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  designer/lib/widgets/report/linear_regression_section_editor_section.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

chore: Add melos fix option
  melos.yaml
Due: none

chore: Fix excluding generated .g.dart files in static analysis
  analysis_options.yaml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
