Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

rename publish to save to be more precise (save and publish will be possible)
  study_designer/lib/designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/routes.dart
Due: designer-check

don't display study name because it fails if name is not set yet
  study_designer/lib/designer/publish.dart
Due: designer-check

Remove
  app/lib/screens/study/routes.dart
  app/lib/screens/study/util/localization.dart
Due: app-check

contact tab updated
  app/lib/screens/study/dashboard/contact_tab/contact.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
  app/lib/screens/study/dashboard/contact_tab/help.dart
  app/lib/screens/study/routes.dart
  app/lib/screens/study/util/localization.dart
Due: app-check

changed colors
  app/lib/screens/study/dashboard/contact_tab/contact.dart
Due: app-check

Added translations
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
Due: app-check

Fixed some linters.
  app/lib/screens/study/dashboard/contact_tab/contact.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
Due: app-check

Add translations back in
  app/lib/screens/study/dashboard/contact_tab/contact.dart
Due: app-check

Add todo comment
  app/lib/screens/study/dashboard/contact_tab/faq.dart
Due: app-check

Fixed linters
  app/lib/screens/study/dashboard/contact_tab/contact.dart
  app/lib/screens/study/dashboard/contact_tab/contact_us.dart
  app/lib/screens/study/dashboard/contact_tab/faq.dart
Due: app-check

Add FAQ string
  app/assets/i18n/de.json
  app/assets/i18n/en.json
Due: app-check

Fix last linters
  app/lib/screens/study/dashboard/contact_tab/contact.dart
Due: app-check

Rename publish to save
  study_designer/lib/designer.dart
Due: designer-check

Cleaner
  core/lib/util/retry_future_builder.dart
Due: core-check, app-check, designer-check

Show AlertDialog when publishing a study
  study_designer/lib/designer.dart
  study_designer/lib/designer/save.dart
Due: designer-check

Add csv export button
  study_designer/lib/dashboard.dart
Due: designer-check

Add JsonSerializable to Study Base classes
  core/lib/models/study/study.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_details.g.dart
Due: core-check, app-check, designer-check

FutureBuilder now always retriggers query function
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/save.dart
Due: core-check, app-check, designer-check

Fix broken rebase
  app/lib/screens/study/onboarding/study_overview.dart
  core/lib/queries/study.dart
  core/lib/util/retry_future_builder.dart
Due: core-check, app-check, designer-check

Sort dashboard by draft and published
  study_designer/lib/dashboard.dart
Due: designer-check

WIP: Reload study with ParseStudyFutureBuidler
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check
