Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

debugging no preview mode
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

debugging preview mode
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: disable goole cloud backup
  app/android/app/src/main/AndroidManifest.xml
Due: app-check

migration flow bug
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: remove todo
  app/lib/app.dart
  app/lib/main.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

fix: choice expression v2 workaround
  core/lib/src/models/expressions/types/choice_expression.dart
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: do not ask anymore for v2 migration
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: fallback to check for progress without a periodId
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

remove debug
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore: renaming
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: reload dashboard if subject is null
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

chore: remove # in urls
  app/lib/main.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix: revert scheduleFor workaround
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

feat: start study at the next day for new participants
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/onboarding/kickoff.dart
Due: app-check

fix: use utc for all datetime comparisons
  core/lib/src/util/extensions.dart
Due: core-check, app-check, designer-check

fix: do not schedule notifications for not started studies
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

Update deploy-apps.yml
  .github/workflows/deploy-apps.yml
Due: none

chore: snackbar Meldungen
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: increase sidesheet width
  designer_v2/lib/common_views/sidesheet/sidesheet.dart
Due: none

fix: debouncer ignoring timer
  designer_v2/lib/utils/debouncer.dart
Due: none

feat: designerV2 study report
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/l10n-missing.txt
  designer_v2/lib/features/design/enrollment/consent_item_form_view.dart
  designer_v2/lib/features/design/reports/report_badge.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_data.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
  designer_v2/lib/features/design/reports/section/report_item_form_data.dart
  designer_v2/lib/features/design/reports/section/report_item_form_view.dart
  designer_v2/lib/features/design/reports/section/types/data_reference_editor.dart
  designer_v2/lib/features/design/reports/section/types/data_reference_identifier.dart
  designer_v2/lib/features/design/reports/section/types/linearRegression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/linear_regression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/section_type.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/forms/form_array_table.dart
  designer_v2/lib/features/forms/form_view_model_collection_actions.dart
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/utils/model_action.dart
Due: none

fix: store startedAt in UTC
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: study export survey results start at 1 and add invite code to results
  designer_v2/lib/domain/study_export.dart
Due: none

fix: new env urls
  flutter_common/lib/envs/.env
Due: none

chore: upgrade desugare lib
  app/android/app/build.gradle
Due: app-check

chore: deploy apps only at designer_v2 branch
  .github/workflows/deploy-apps.yml
Due: none

chore: lock melos to 2.9.0 for now
  .github/workflows/firebase-hosting-merge.yml
Due: none

chore: melos upgrade to 3.0.0
  .gitignore
  melos.yaml
  pubspec.yaml
Due: none

chore: upgrade deps
  app/android/app/build.gradle
  app/pubspec.yaml
  core/pubspec.yaml
  designer_v2/pubspec.yaml
  pubspec.lock
Due: core-check, app-check, designer-check

chore: fix melos not finding packages
  melos.yaml
  pubspec.yaml
Due: none

chore: lock files
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/pubspec.lock
Due: core-check, app-check, designer-check

chore: Revert "chore: lock melos to 2.9.0 for now"
  .github/workflows/firebase-hosting-merge.yml
Due: none
