Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

refactor: Embed Study in userStudy
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/widgets/study_tile.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/study_results/results/intervention_result.dart
  core/lib/src/models/study_results/results/numeric_result.dart
  core/lib/src/models/tables/user_study.dart
  core/lib/src/models/tables/user_study.g.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

refactor: Do not include baseline in generateWith
  core/lib/src/models/study_schedule/study_schedule.dart
  core/lib/src/models/tables/user_study.dart
  core/test/model/study_schedule/study_schedule_test.dart
Due: core-check, app-check, designer-check

refactor: Make everything late, since set fromJson
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

lint: Format files
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/core.dart
  core/lib/src/models/consent/consent_item.dart
  core/lib/src/models/questionnaire/questions/questions.dart
  core/lib/src/util/retry_future_builder.dart
  core/lib/src/util/util.dart
Due: core-check, app-check, designer-check

refactor: Prepare for null-safety
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/src/models/consent/consent_item.dart
  core/lib/src/models/contact.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/eligibility/eligibility_criterion.dart
  core/lib/src/models/interventions/intervention.dart
  core/lib/src/models/observations/tasks/questionnaire_task.dart
  core/lib/src/models/questionnaire/answer.dart
  core/lib/src/models/questionnaire/question.dart
  core/lib/src/models/questionnaire/questionnaire_state.dart
  core/lib/src/models/questionnaire/questions/annotated_scale_question.dart
  core/lib/src/models/questionnaire/questions/choice_question.dart
  core/lib/src/models/questionnaire/questions/slider_question.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.dart
  core/lib/src/models/report/report_section.dart
  core/lib/src/models/results/result.dart
  core/lib/src/models/study_results/study_result.dart
  core/lib/src/models/study_schedule/study_schedule.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/user_study.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/schedules/fixed_schedule.dart
  core/lib/src/models/tasks/task.dart
  core/lib/src/util/localization.dart
  core/lib/src/util/retry_future_builder.dart
  core/lib/src/util/supabase_object.dart
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/task/task_schedule_editor_section.dart
  study_designer/lib/widgets/util/data_reference_editor.dart
Due: core-check, app-check, designer-check

refactor: Add json_serializable to tables
  app/lib/screens/study/onboarding/eligibility_screen.dart
  core/lib/src/models/contact.dart
  core/lib/src/models/contact.g.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/user_study.dart
  core/lib/src/models/tables/user_study.g.dart
  study_designer/lib/designer/eligibility_designer.dart
Due: core-check, app-check, designer-check

fix: Add default study icon
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

refactor: Only save selectedInterventions in DB
  app/lib/screens/study/onboarding/intervention_selection.dart
  core/lib/src/models/tables/user_study.dart
  core/lib/src/models/tables/user_study.g.dart
Due: core-check, app-check, designer-check

refactor: Replace InterventionSet with List<Intervention>
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/report/util/plot_utilities.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/interventions/intervention_set.dart
  core/lib/src/models/interventions/intervention_set.g.dart
  core/lib/src/models/interventions/interventions.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/user_study.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/study_result/numeric_result_editor_section.dart
Due: core-check, app-check, designer-check

refactor: Pass interventionIds
  app/lib/screens/study/onboarding/intervention_selection.dart
  core/lib/src/models/tables/user_study.dart
Due: core-check, app-check, designer-check

refactor: Generate startDate on server
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  core/lib/src/models/tables/user_study.dart
  core/lib/src/models/tables/user_study.g.dart
Due: core-check, app-check, designer-check

refactor: startDate -> startedAt
  core/lib/src/models/tables/user_study.dart
  core/lib/src/models/tables/user_study.g.dart
Due: core-check, app-check, designer-check

refactor: Rename UserStudy -> StudySubject
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/report/disclaimer_section.dart
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/generic_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/report_section_widget.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/widgets/study_tile.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/models.dart
  core/lib/src/models/study_results/results/intervention_result.dart
  core/lib/src/models/study_results/results/numeric_result.dart
  core/lib/src/models/study_results/study_result.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/util/supabase_object.dart
  study_designer/lib/util/result_downloader.dart
Due: core-check, app-check, designer-check

refactor: Save results in separate table
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/interventions/tasks/checkmark_task.dart
  core/lib/src/models/models.dart
  core/lib/src/models/observations/tasks/questionnaire_task.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/models/tables/subject_progress.g.dart
  core/lib/src/models/tasks/task.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

refactor: Remove unneeded result properties
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/src/models/observations/tasks/questionnaire_task.dart
  core/lib/src/models/results/result.dart
  core/lib/src/models/results/result.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
Due: core-check, app-check, designer-check

fix: Fix next day creating more progress
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

chore: Add .supabase to .gitignore
  .gitignore
Due: none

lint: Add const to const lists
  app/lib/screens/app_onboarding/about.dart
Due: app-check

feat(designer): Add login screen
  core/lib/core.dart
  study_designer/assets/images/icon.png
  study_designer/assets/images/icon_wide.png
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
  study_designer/lib/widgets/login_page.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Remove remaining parse server logic
  study_designer/lib/models/app_state.dart
Due: designer-check

lint: Fix format
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/report/performance/performance_details.dart
  core/lib/src/models/data/data_reference.dart
Due: core-check, app-check, designer-check

feat: Add Github/GitLab login via gotrue
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/android/app/src/main/AndroidManifest.xml
  study_designer/ios/Runner/Info.plist
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
  study_designer/lib/widgets/login_page.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
  study_designer/web/index.html
Due: core-check, app-check, designer-check

fix: Correct deep links for ios and android
  study_designer/android/app/src/main/AndroidManifest.xml
  study_designer/ios/Runner/Info.plist
Due: designer-check

chore: Setup .env files again
  app/envs/.env
  app/envs/.env.back4app
  app/envs/.env.back4app.test
  app/envs/.env.local
  app/envs/.env.local-android
  app/lib/main.dart
  core/lib/core.dart
  core/lib/env.dart
  core/lib/src/env/env.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
  study_designer/envs/.env
  study_designer/envs/.env.back4app
  study_designer/envs/.env.back4app.test
  study_designer/envs/.env.local
  study_designer/envs/.env.local-android
  study_designer/lib/dashboard.dart
  study_designer/lib/main.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
  study_designer/lib/widgets/login_page.dart
Due: core-check, app-check, designer-check

refactor: Generate ids on client
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/models/tables/subject_progress.g.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

feat: Add visibility and userId to study
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

feat: Add analysis repo generation
  study_designer/lib/dashboard.dart
Due: designer-check

feat: Add visibility setting to designer
  study_designer/lib/designer/about_designer.dart
Due: designer-check

feat: Create study with creators userId
  study_designer/lib/models/app_state.dart
Due: designer-check

chore: Use gotrue from git
  app/pubspec.yaml
  core/pubspec.yaml
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Format code
  core/lib/env.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

feat(core): Add primaryKeyFiler
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  core/lib/src/models/tables/subject_progress.g.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

feat(app): Add anonymous signup via fake email
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/util/user.dart
Due: app-check
