Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Pray it won't randomly print stuff
  core/.gitlab-ci.yml
  flutter-project.yml
Due: core-check, app-check, designer-check

Start implementing conditional questions
  core/lib/models/questionnaire/question.dart
  core/lib/models/questionnaire/question_conditional.dart
  core/lib/models/questionnaire/question_conditional.g.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.dart
  core/lib/models/questionnaire/questions/boolean_question.dart
  core/lib/models/questionnaire/questions/choice_question.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.dart
Due: core-check, app-check, designer-check

Finish conditional questions
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  core/lib/models/questionnaire/question.dart
  core/lib/models/questionnaire/question_conditional.dart
  core/lib/models/questionnaire/question_conditional.g.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.dart
  core/lib/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/models/questionnaire/questions/boolean_question.dart
  core/lib/models/questionnaire/questions/boolean_question.g.dart
  core/lib/models/questionnaire/questions/choice_question.dart
  core/lib/models/questionnaire/questions/choice_question.g.dart
  core/lib/models/questionnaire/questions/slider_question.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.g.dart
Due: core-check, app-check, designer-check

Tweak UI: Time display, intervention icon for task
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
Due: app-check

Add option to hide description
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Add methods for calculating how much tasks were completed
  core/lib/models/study/study.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Fix icon color
  app/lib/screens/study/report/report_history.dart
Due: app-check

Fixes
  app/lib/screens/study/dashboard/performance.dart
Due: app-check

WIP: Performance screen
  app/lib/routes.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/performance.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Rename
  app/lib/screens/study/report/performance_details.dart
Due: app-check

Finish PerformanceScreen
  app/lib/screens/study/dashboard/performance.dart
Due: app-check

Navigate to PerformanceDetails when pressing level
  app/lib/screens/study/report/report_details.dart
Due: app-check

Exclude baseline
  app/lib/screens/study/dashboard/performance.dart
Due: app-check

Add routeFor to PerformanceDetailsScreen
  app/lib/routes.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/report/performance_details.dart
Due: app-check

ChoiceQuestionWidget: Remove scrolling
  app/lib/widgets/questionnaire/choice_question_widget.dart
Due: app-check

Scroll to bottom in Questionnaire
  app/lib/widgets/questionnaire/questionnaire_widget.dart
Due: app-check

Prepared consent screen to get serializable
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Add missing file
  core/lib/models/consent/consent_item.g.dart
Due: core-check, app-check, designer-check

Add consent to model
  app/lib/screens/study/onboarding/consent.dart
  core/lib/models/consent/consent_item.dart
  core/lib/models/models.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Changed small piece of translation
  app/assets/i18n/de.json
Due: app-check

Made consent screen serializable
  app/lib/screens/study/onboarding/consent.dart
  study_designer/ios/Runner.xcodeproj/project.pbxproj
  study_designer/ios/Runner.xcworkspace/contents.xcworkspacedata
Due: app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
