Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix(docker): add communication
  README.md
  docker-compose-designer-selfhost.yml
  supabase/README.md
  supabase/docker-compose-supabase.yml
  supabase/docker-compose.dev.yml
Due: none

fix(docker): adding more networks
  docker-compose-app-selfhost.yml
  docker-compose-designer-selfhost.yml
  docker-compose-full-selfhost.yml
Due: none

Update README.md
  README.md
Due: none

fix(docker): naming convention
  supabase/docker-compose.dev.yml
Due: none

docs(docker): small additions
  README.md
  supabase/README.md
Due: none

docs(docker): small additions (2)
  README.md
Due: none

fix(docker): add newlines
  docker-compose-app-selfhost.yml
  docker-compose-designer-selfhost.yml
  docker-compose-full-selfhost.yml
  flutter_common/lib/envs/.env.selfhost
Due: none

fix(docker): kong fixed upstream
  supabase/docker-compose-supabase.yml
Due: none

fix(docker): mount postgres volume on start
  supabase/docker-compose-supabase.yml
Due: none

chore(docker): adopt new supabase changes
  README.md
  supabase/dev/docker-compose.dev.yml
  supabase/docker-compose.yml
Due: none

fix(docker): readme and revert volume change
  README.md
  supabase/docker-compose.yml
Due: none

fix(docker): use dart pub instead of pub (for melos v2.3.0)
  Dockerfile
Due: none

fix(docker): use dart pub instead of deprecated pub (for melos v2.3.0)
  .github/workflows/all_packages.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

chore: publish packages - studyu_app@1.10.14 - studyu_core@3.7.9 - studyu_designer@1.5.13 - studyu_flutter_common@1.3.15 - studyu_notebook_uploader@1.3.14 - studyu_repo_generator@1.4.14
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.lock
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix(docker): discard docker-compose.dev.yml
  README.md
  supabase/dev/docker-compose.dev.yml
  supabase/docker-compose.yml
Due: none

chore: update min sdk to <=3.0.0
  app/pubspec.yaml
  core/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.yaml
Due: core-check, app-check, designer-check

chore: update dependencies
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore(docker): use sdk 2.10.5 for now until v3 fix is available
  Dockerfile
Due: none

fix(docker): fix build context permission denied
  .dockerignore
Due: none

ci: Add dependabot beta
  .github/dependabot.yml
  .github/dependabot_flutter_common.yml
  .github/workflows/dependabot.yml
Due: none

ci: Add dependabot beta
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Due: none

ci: Add dependabot labels per package
  .github/dependabot.yml
Due: none

ci: Allow more dependabot PRs
  .github/dependabot.yml
Due: none

ci: Fix dart pub instead of pub
  .github/workflows/all_packages.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

chore: Fix format
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

ci: Separate actions for building/deploying
  .firebaserc
  .github/workflows/all_packages.yml
  .github/workflows/firebase-hosting-merge.yml
  firebase.json
Due: none

chore: Upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Rerun flutter create . command
  app/.metadata
  designer/.metadata
  designer/windows/flutter/generated_plugins.cmake
Due: app-check

fix: Fix Flutter 3.0 breaking packages
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

chore: Remove staging env
  flutter_common/lib/envs/.env.staging
  flutter_common/lib/envs/new.env
Due: none

fix: Upgrade fl_chart to 0.46 and fix minor breaking change
  core/pubspec.lock
  core/pubspec.yaml
  designer/lib/widgets/study_detail/bar_chart.dart
  designer/pubspec.lock
  designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade android gradle
  app/android/build.gradle
  designer/android/build.gradle
Due: app-check

chore: use dart pub
  notebook_uploader/Dockerfile
  repo_generator/Dockerfile
Due: none

chore: remove new env
  flutter_common/lib/envs/new.env
Due: none

chore: upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: upgrade dart sdk for Dockerfile
  notebook_uploader/Dockerfile
  repo_generator/Dockerfile
Due: none

docs: add run command
  notebook_uploader/README.md
  repo_generator/README.md
Due: none

chore(release): publish packages
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(docker): use stable flutter sdk again
  Dockerfile
Due: none
