Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: Switch back to parse sdk repo
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Run create release on test branch
  .github/workflows/release.yml
Due: none

ci: Fix forget step id
  .github/workflows/release.yml
Due: none

ci: Add checkout action
  .github/workflows/release.yml
Due: none

ci: Add version to apk filename; Remove test branch
  .github/workflows/release.yml
Due: none

chore: Upgrade packages
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Specify version file
  .github/workflows/release.yml
Due: none

chore: Remove version +
  app/pubspec.yaml
Due: app-check

ci: Fix creating github release
  .github/workflows/release.yml
Due: none

ci: Correct github_token -> GITHUB_TOKEN
  .github/workflows/release.yml
Due: none

ci: Build apk and add to release
  .github/workflows/release.yml
Due: none

ci: Fix version bump by using single quote
  app/pubspec.yaml
Due: app-check

ci: Add release changelog
  .github/workflows/release.yml
Due: none

chore(release): v1.1.0
  CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Remove heroku envs
  app/envs/.env.heroku
  study_designer/envs/.env.heroku
Due: app-check, designer-check

refactor: Do not use .then here
  app/lib/screens/study/onboarding/kickoff.dart
Due: app-check

chore: Downgrade parse to working commit
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

fix: Use TextField instead of buggy PhoneField
  study_designer/lib/designer/meta_data_designer.dart
Due: designer-check

chore: Upgrade parse sdk
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Use ParseHTTPClient for web bc faster
  core/lib/util/parse_init.dart
Due: core-check, app-check, designer-check

fix(security): Use clientKey instead of masterKey
  app/envs/.env
  app/envs/.env.back4app
  core/lib/util/parse_init.dart
  study_designer/envs/.env
  study_designer/envs/.env.back4app
Due: core-check, app-check, designer-check

ci: Use flutter action instead of container
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
  .github/workflows/release.yml
Due: none

ci: Fix action typo
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/designer.yml
  .github/workflows/release.yml
Due: none

ci: Enable workflow for .github only app
  .github/workflows/app.yml
Due: none

ci: Add dependency updater
  .github/workflows/dependencies.yml
Due: none
