Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: Temporarily remove designer from firebase.json
  firebase.json
Due: none

chore: Change deployment of app to app-v2 for dev-designer_v2 branch
  .github/workflows/firebase-hosting-merge-designer_v2.yml
  melos.yaml
Due: none

chore: TEMPORARILY deploy app to studyu-app-v2 and remove old designer for firebase designer_v2 deployment
  .firebaserc
Due: none

feat: Implement preview screen with app iframe
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/features/study/study_test_scaffold.dart
  designer_v2/lib/features/study/study_test_state.dart
Due: none

fix: Use app-v2 for preview
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

fix: Revert to normal app preview
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

feat(designer_v2): deeplink studyID to app to test study
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/pubspec.lock
Due: none

feat(app): deeplink studyID to app to test study
  app/lib/app.dart
  app/lib/main.dart
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: remove staging and add preview branch to deployment workflow
  .github/workflows/firebase-hosting-merge-designer_v2.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: Firebase hosting static path
  firebase.json
Due: none

fix: app preview src not reloading
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_scaffold.dart
Due: none

chore: remove deploy from preview
  .github/workflows/firebase-hosting-merge-designer_v2.yml
Due: none

feat: test designer changes
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

feat: test app changes
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

feat: add reset functionality to preview
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: allow skipping days in preview mode
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: modify previewsrc
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

fix: improve skipping days
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: change previewSrc
  designer_v2/lib/features/study/study_test_controller.dart
Due: none

fix: working with updated changes
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: add skipping again
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: refactor skipping and add preview class
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: make use of preview class
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: auth and cmds to preview class
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

feat: finish preview refactoring
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

feat: reset fix
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: add try catch and move selectedStudyObjectId out of preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: move selectedStudyObjectId back to preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: reset selectedStudyObjectId and reset cmd
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

fix: working with updated changes
  app/lib/main.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: add cmd again
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: modify selectedStudyObjectId
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: move all selectedStudyObjectId to preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

chore: refactoring
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: upgrade dependencies
  app/pubspec.lock
  designer/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
