Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix(uploader): Try upload first, then update
  generator/bin/uploader.dart
  generator/lib/utils/notebook.dart
Due: none

refactor: Split CLI notebook uploader to own package
  generator/lib/utils/generator.dart
  notebook_uploader/.gitignore
  notebook_uploader/Dockerfile
  notebook_uploader/analysis_options.yaml
  notebook_uploader/bin/uploader.dart
  notebook_uploader/generate-notebook-htmls.sh
  notebook_uploader/lib/utils/notebook.dart
  notebook_uploader/nbconvert-template/conf.json
  notebook_uploader/nbconvert-template/index.html.j2
Due: none

lint: Fix format
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/widgets/fhir_questionnaire/visual_analogue_question_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
Due: app-check

fix: Update generator http calls
  study_designer/lib/models/app_state.dart
  study_designer/lib/util/repo_manager.dart
  study_designer/lib/widgets/login_page.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
Due: designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  common/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Point to notebook_uploader folder
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Fix using old docker image
  .github/workflows/build-docker-notebook-uploader.yml
  generator/Dockerfile
Due: none

ci: Preinstall pipreqsnb in docker image
  notebook_uploader/Dockerfile
Due: none

ci: Set executable perm on notebook convert script
  notebook_uploader/Dockerfile
Due: none

chore: Upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Remove workaround since fixed in gotrue
  study_designer/lib/router.dart
Due: designer-check

chore: fix lints
  common/lib/src/utils/retry_future_builder.dart
  generator/lib/utils/cli.dart
  generator/lib/utils/generator.dart
Due: none

feat: Add notebook overview and display
  study_designer/lib/analytics/jupyter_analytics_board.dart
  study_designer/lib/analytics/notebook_overview.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
  study_designer/lib/util/storage_helper.dart
Due: designer-check

fix: Notebooks: Do not display .html extension
  study_designer/lib/analytics/jupyter_analytics_board.dart
  study_designer/lib/analytics/notebook_overview.dart
Due: designer-check

feat: Add StudyToken model
  core/lib/src/models/tables/study_token.dart
  core/lib/src/models/tables/study_token.g.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  generator/pubspec.lock
  notebook_uploader/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

feat: Add StudyDetails screen
  study_designer/lib/analytics/jupyter_analytics_board.dart
  study_designer/lib/analytics/notebook_overview.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
  study_designer/lib/util/result_downloader.dart
  study_designer/lib/widgets/study_detail/study_detail.dart
Due: designer-check

feat: Add open gitlab button
  study_designer/lib/widgets/study_detail/study_detail.dart
Due: designer-check

refactor: Add repo variable
  study_designer/lib/widgets/study_detail/study_detail.dart
Due: designer-check

feat: Loading indicator for create/update git
  study_designer/lib/widgets/study_detail/study_detail.dart
Due: designer-check

refactor: Move files
  study_designer/lib/router.dart
  study_designer/lib/widgets/study_detail/jupyter_analytics_board.dart
  study_designer/lib/widgets/study_detail/notebook_overview.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

refactor: Load env from common
  app/pubspec.yaml
  common/lib/envs/.env
  common/lib/envs/.env.local
  common/lib/src/utils/env_loader.dart
  common/pubspec.yaml
  core/lib/src/env/env.dart
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix(generator): Move hotreload to main_dev
  generator/bin/main_dev.dart
Due: none

fix: Remove download from dashboard
  study_designer/lib/dashboard.dart
Due: designer-check

chore: Clean unused stuff
  generator/lib/utils/cli.dart
  generator/nbconvert-template/conf.json
  generator/nbconvert-template/index.html.j2
Due: none

ci: Add generator Dockerfile
  generator/Dockerfile
Due: none

ci: Add generator ci build and push to cloud run
  .github/workflows/build-docker-generator.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
Due: none

ci: Improve ci pipeline titles
  .github/workflows/build-docker-generator.yml
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Tag docker image with gcr
  .github/workflows/build-docker-generator.yml
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Fix pushing to Cloud Run
  .github/workflows/build-docker-generator.yml
Due: none

ci: Split github container and cloud run push
  .github/workflows/build-docker-generator.yml
  .github/workflows/build-docker-notebook-uploader.yml
  .github/workflows/deploy-generator.yml
  generator/Dockerfile
Due: none

ci: Fix docker images right path to copy
  generator/Dockerfile
  notebook_uploader/Dockerfile
Due: none

ci: Dockerfile: Do not specify port
  generator/Dockerfile
Due: none

fix(generator): Set host to 0.0.0.0
  generator/lib/server.dart
Due: none

ci: Dockerfile install newest copier
  generator/Dockerfile
Due: none

fix(uploader): Check if file already present
  notebook_uploader/lib/utils/notebook.dart
Due: none

ci: Combine cloud run deploy and github registry
  .github/workflows/build-docker-generator.yml
Due: none

chore: Rename step and delete unneeded
  .github/workflows/build-docker-generator.yml
  .github/workflows/deploy-generator.yml
Due: none

chore: Rename StudyToken -> StudyInvite
  core/lib/src/models/tables/study_invite.dart
  core/lib/src/models/tables/study_invite.g.dart
  core/lib/src/models/tables/study_token.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

fix: Make recovering session more robust
  app/lib/util/user.dart
Due: app-check
