Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

added STILL INCORRECT first version of power level calculation
  app/lib/screens/study/report/report_details.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

modified report bar
  app/lib/screens/study/report/report_details.dart
Due: app-check

filtered baseline
  app/lib/screens/study/report/report_details.dart
Due: app-check

formatted and changed to cdf
  app/lib/screens/study/report/report_details.dart
Due: app-check

added first version of working power level calculation CORRECTNESS NEEDS TO BE PROVEN
  app/lib/screens/study/report/report_details.dart
Due: app-check

first steps
  app/lib/screens/study/report/report_details.dart
Due: app-check

changed to observation count bar WIP
  app/lib/screens/study/report/report_details.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

added calculation for countable observations
  app/lib/screens/study/report/report_details.dart
Due: app-check

changed 'power level' to 'status'
  app/assets/i18n/de.json
  app/assets/i18n/en.json
Due: app-check

add annotated scale annotations
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: designer-check

Use normal class, so e.g. Study is standalone
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Rename to Base. Convert Base<>Parse
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Rename files as well
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/studies.dart
Due: core-check, app-check, designer-check

Cleanup imports a bit
  core/lib/models/models.dart
  core/lib/models/questionnaire/questionnaire_models.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/parse_user_study.dart
Due: core-check, app-check, designer-check

Define interface for Study, StudyDetails,UserStudy
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/studies.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Move methods to UserStudy. Mixin for default impl
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Use extension and interface for better typing
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Rename to ParseStudy/Details, ParseUserStudy
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/performance_details.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_instance.dart
  core/lib/queries/study.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/designer_state.dart
Due: core-check, app-check, designer-check

Refactor InterventionCard
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/intervention_card.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check

Refactor TaskList to StatelessWidget
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Use BottomBar (only changes color and shadow)
  app/lib/widgets/bottom_onboarding_navigation.dart
Due: app-check

Add clock icon above schedule, use accentColor
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Hide description behind Info Button
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Do not show description in intervention selection
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
