Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: Upgrade packages
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

feat: refactor my_app.dart to riverpod; added test home and login page; user.dart as testing user model; started to also refactor auth_store.dart and login_page.dart
  designer_v2/lib/main.dart
  designer_v2/lib/pages/error_page.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/splash_page.dart
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/app_service.dart
  designer_v2/lib/services/auth_store.dart
  designer_v2/lib/user.dart
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/windows/flutter/generated_plugin_registrant.cc
  designer_v2/windows/flutter/generated_plugins.cmake
Due: none

chore: upgrade riverpod to pre release version v2
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: refactor StudyDashboardScreen and NavigationDrawer and mockup login
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/user.dart
  designer_v2/lib/views/navigation_drawer.dart
Due: none

fix: add minimal login_page.dart with fake login
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/user.dart
Due: none

feat: add supabase login and logout
  designer_v2/assets/.gitkeep
  designer_v2/assets/images/icon.png
  designer_v2/assets/images/icon_wide.png
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/auth_store.dart
  designer_v2/lib/views/navigation_drawer.dart
Due: none

fix: rename MyApp to Designer
  designer_v2/lib/main.dart
  designer_v2/lib/pages/designer.dart
  designer_v2/lib/router.dart
  designer_v2/test/widget_test.dart
Due: none

chore: add designer-v2 to .firebaserc
  .firebaserc
Due: none

chore: refactor module
  designer_v2/README.md
  designer_v2/android/app/src/main/res/drawable-v21/launch_background.xml
  designer_v2/android/app/src/main/res/drawable/launch_background.xml
  designer_v2/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  designer_v2/lib/app_state.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/main.dart
  designer_v2/lib/pages/designer.dart
  designer_v2/lib/pages/error_page.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/splash_page.dart
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/app_service.dart
  designer_v2/lib/services/auth_store.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/user.dart
  designer_v2/lib/views/navigation_drawer.dart
  designer_v2/lib/views/sidenav_layout.dart
  designer_v2/test/widget_test.dart
Due: none

chore: upgrade supabase_flutter
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: remove unnecessary supabase reference, work on enabling error and splashscreen again
  designer_v2/lib/domain/study.dart
  designer_v2/lib/main.dart
  designer_v2/lib/pages/designer.dart
  designer_v2/lib/pages/error_page.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/user.dart
Due: none

chore: github workflow for publishing to pub.dev
  .github/workflows/publish_pubdev.yml
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Add missing env to .pubignore
  flutter_common/.pubignore
Due: none

chore: update lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: Update .lock files for studyu deps
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: change publish order
  .github/workflows/publish_pubdev.yml
Due: none

chore: modify run conditions
  .github/workflows/publish_pubdev.yml
Due: none

chore(docker): switch to official dart image
  notebook_uploader/Dockerfile
  repo_generator/Dockerfile
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

fix: upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

docs(docker): add gist script for automatic installation
  README.md
Due: none

chore: pubdev publish remove dryrun
  .github/workflows/publish_pubdev.yml
Due: none

fix: fix jmespath vulnerability issue
  Gemfile.lock
  app/android/Gemfile.lock
  app/ios/Gemfile.lock
Due: app-check

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: update studyu lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

Update publish_pubdev.yml
  .github/workflows/publish_pubdev.yml
Due: none

Implement dashboard architecture
  designer_v2/constants.dart
  designer_v2/lib/app_state.dart
  designer_v2/lib/common_views/navigation_drawer.dart
  designer_v2/lib/common_views/sidenav_layout.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/localization/string_hardcoded.dart
  designer_v2/lib/main.dart
  designer_v2/lib/pages/error_page.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/splash_page.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/study_provider.dart
  designer_v2/lib/utils/json_file_loader.dart
  designer_v2/lib/utils/model_action.dart
  designer_v2/lib/utils/typings.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: temporary disable not working test
  designer_v2/test/widget_test.dart
Due: none

chore: rename designer_v2 to studyu_designer_v2
  designer_v2/lib/common_views/navigation_drawer.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/pages/error_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/splash_page.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/app_service.dart
  designer_v2/pubspec.yaml
  designer_v2/test/widget_test.dart
  melos.yaml
Due: none

feat: add new test login page imported from flutterflow
  app/pubspec.lock
  designer/pubspec.lock
  designer_v2/lib/flutter_flow/flutter_flow_theme.dart
  designer_v2/lib/flutter_flow/flutter_flow_util.dart
  designer_v2/lib/flutter_flow/flutter_flow_widgets.dart
  designer_v2/lib/flutter_flow/internationalization.dart
  designer_v2/lib/flutter_flow/lat_lng.dart
  designer_v2/lib/flutter_flow/place.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/utils/json_file_loader.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: app-check

feat: refactor my_app, auth_store, router to use Riverpod, add login_page with Supabase connection
  designer_v2/lib/common_views/navigation_drawer.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/splash_page.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/auth_store.dart
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  designer_v2/test/widget_test.dart
  designer_v2/windows/flutter/generated_plugin_registrant.cc
  designer_v2/windows/flutter/generated_plugins.cmake
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: rename notebook.dart to studyu_notebook_uploader.dart
  notebook_uploader/bin/notebook_uploader.dart
  notebook_uploader/lib/utils/studyu_notebook_uploader.dart
Due: none

chore(release): publish packages
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
Due: none
