Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: Remove --release, it's the default
  melos.yaml
Due: none

ci: Build apk and bundle + upload to release
  .github/workflows/release.yml
Due: none

ci: Fix same step name
  .github/workflows/release.yml
Due: none

ci: Add android signing
  .github/workflows/release.yml
Due: none

ci: Test
  .github/workflows/release.yml
Due: none

ci: Remove codemagic CI signing
  app/android/app/build.gradle
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

ci: Add Gemfile with fastline
  Gemfile
  Gemfile.lock
Due: none

ci: Also build apk
  .github/workflows/release.yml
Due: none

ci: Only release apk
  .github/workflows/release.yml
Due: none

ci: Add fastlane for android app
  app/android/.gitignore
  app/android/Gemfile
  app/android/Gemfile.lock
  app/android/fastlane/Appfile
  app/android/fastlane/Fastfile
  app/android/fastlane/README.md
  app/android/fastlane/metadata/android/en-US/full_description.txt
  app/android/fastlane/metadata/android/en-US/images/featureGraphic.png
  app/android/fastlane/metadata/android/en-US/images/icon.png
  app/android/fastlane/metadata/android/en-US/images/phoneScreenshots/1_en-US.png
  app/android/fastlane/metadata/android/en-US/images/phoneScreenshots/2_en-US.png
  app/android/fastlane/metadata/android/en-US/images/phoneScreenshots/3_en-US.png
  app/android/fastlane/metadata/android/en-US/images/phoneScreenshots/4_en-US.png
  app/android/fastlane/metadata/android/en-US/short_description.txt
  app/android/fastlane/metadata/android/en-US/title.txt
  app/android/fastlane/metadata/android/en-US/video.txt
  app/android/fastlane/report.xml
Due: app-check

ci: Release: Upload to play store
  .github/workflows/release.yml
Due: none

ci: Build apk before creating github release
  .github/workflows/release.yml
Due: none

ci: Use newer ruby action
  .github/workflows/release.yml
Due: none

ci: Test without building app
  .github/workflows/release.yml
Due: none

ci: Fix Gemfile.lock for Windows
  Gemfile.lock
  app/android/Gemfile.lock
Due: app-check

ci: No need to setup ruby and fastlane
  .github/workflows/release.yml
Due: none

ci: Finalize release action
  .github/workflows/release.yml
Due: none

ci: Use fastlane directly
  .github/workflows/release.yml
Due: none

ci: Fix lane name
  .github/workflows/release.yml
Due: none

ci: Set jsonkey data
  app/android/fastlane/Appfile
Due: app-check

ci: Limit all packages running cases
  .github/workflows/all_packages.yml
Due: none

ci: Correctly set fastlane play credentials
  Gemfile.lock
  app/android/Gemfile.lock
  app/android/fastlane/Appfile
  app/android/fastlane/Fastfile
  app/android/fastlane/report.xml
Due: app-check

ci: Add PLAY_CREDS_JSON to env
  .github/workflows/release.yml
Due: none

ci: Add ios fastlane setup
  app/ios/Gemfile
  app/ios/Gemfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
  app/ios/fastlane/Appfile
  app/ios/fastlane/Fastfile
  app/ios/fastlane/README.md
  app/ios/fastlane/report.xml
Due: app-check

ci: Add app store upload action
  .github/workflows/release.yml
Due: none

ci: Add fastlane get provisioning profiles step
  .github/workflows/release.yml
  app/ios/fastlane/Fastfile
Due: app-check

ci: ios fastlane add get certificats
  app/ios/fastlane/Fastfile
Due: app-check

ci: Add team to get_certs
  app/ios/fastlane/Fastfile
Due: app-check

ci: Add fastlane ios keychain creation
  app/ios/fastlane/Fastfile
Due: app-check

ci: Remove unneeded parameters
  app/ios/fastlane/Fastfile
Due: app-check

ci: Use fastlane match
  app/ios/fastlane/Fastfile
  app/ios/fastlane/Matchfile
Due: app-check

ci: Set match provisioning profile
  app/ios/Runner.xcodeproj/project.pbxproj
Due: app-check

ci: Add missing env variables
  .github/workflows/release.yml
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/lib/models/app_state.dart
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Fix Fastlane iOS using temp keychain
  app/ios/fastlane/Fastfile
Due: app-check

chore: Add .bundle to gitignore
  .gitignore
Due: none

ci: Add new env vars to release workflow
  .github/workflows/release.yml
Due: none

ci: Use github.run_number as build number
  .github/workflows/release.yml
Due: none

ci: Reenable github release and android publishing
  .github/workflows/release.yml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
