Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

add german translations and missing translations
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/dashboard.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
Due: designer-check

add english translations for editor widgets
  study_designer/assets/i18n/en.json
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_editor.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/question_editor.dart
  study_designer/lib/widgets/question/slider_question_editor_section.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
  study_designer/lib/widgets/task/questionnaire_task_editor_section.dart
  study_designer/lib/widgets/task/task_editor.dart
  study_designer/lib/widgets/util/data_reference_editor.dart
Due: designer-check

added translation capabilities to study designer and moved localizations.dart to core
  core/lib/util/localization.dart
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/app.dart
  study_designer/lib/designer.dart
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

translate designers
  study_designer/assets/i18n/en.json
  study_designer/lib/designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/study_designer.dart
Due: designer-check

add missing translations add selection button to change language
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/dashboard.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
Due: designer-check

Remove unnecessary import
  study_designer/lib/designer/report_designer.dart
Due: designer-check

added progress status text CONTAINS ERROR
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/report/performance/performance_section.dart
Due: app-check

fix error + reset maximum
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/performance/performance_section.dart
Due: app-check

Add iOS save strings
  app/assets/i18n/de.json
  app/assets/i18n/en.json
Due: app-check

Rename download to save
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/util/save_pdf.dart
Due: app-check

Download => Save
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/terms.dart
Due: app-check

Add try catch to file permissions issue
  app/lib/util/save_pdf.dart
Due: app-check

Correct pro guard rules for local_notifications
  app/android/app/build.gradle
  app/android/app/proguard-rules.pro
Due: app-check

Android: Add permissions for internet, read/write storage
  study_designer/android/app/src/main/AndroidManifest.xml
Due: designer-check

Add mobile support to report csv download
  study_designer/lib/dashboard.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

Add ios file permissions
  study_designer/ios/Runner/Info.plist
Due: designer-check

Remove preset checkmarks in terms
  app/lib/screens/app_onboarding/terms.dart
Due: app-check

Add submission setup instructions
  README.md
  app/README.md
  core/README.md
  study_designer/README.md
Due: core-check, app-check, designer-check

Set Parse-Flutter-SDK to working commit
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Use pub.dev flutter_form_builder
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

Set to same key as in parse repo
  core/lib/environment.dart
Due: core-check, app-check, designer-check
