Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Make missed days axis text clearer
  study_designer/lib/widgets/study_detail/bar_chart.dart
Due: designer-check

feat(designer): Use CardHeader instead of AppBar
  study_designer/lib/widgets/study_detail/header.dart
  study_designer/lib/widgets/study_detail/notebook_viewer.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: designer-check

lint: Fix lint
  study_designer/lib/util/form_builder_color_picker.dart
Due: designer-check

feat(models): Add editorEmails + helpers to Study
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
Due: core-check, app-check, designer-check

feat(designer): Press Enter to login
  study_designer/lib/widgets/login_page.dart
Due: designer-check

feat(designer): Show editing options for editors
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/study_detail/header.dart
Due: designer-check

feat(invites): Catch and display more errors
  study_designer/lib/widgets/study_detail/invites_dialog.dart
Due: designer-check

fix(login): Don't show errors on both user and pw
  study_designer/lib/widgets/login_page.dart
Due: designer-check

feat(designer): Move edit button to fab + fixes
  core/lib/src/models/tables/study.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/study_detail/header.dart
  study_designer/lib/widgets/study_detail/study_details.dart
Due: core-check, app-check, designer-check

feat(designer): Add collaborators
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  study_designer/lib/widgets/study_detail/collaborators_dialog.dart
  study_designer/lib/widgets/study_detail/header.dart
Due: core-check, app-check, designer-check

refactor: Remove unneeded field
  study_designer/lib/util/result_downloader.dart
Due: designer-check

chore: Remove unneeded package
  app/pubspec.lock
  app/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: app-check, designer-check

chore: Upgrade ios project
  app/ios/.gitignore
  app/ios/Flutter/AppFrameworkInfo.plist
  app/ios/Flutter/Debug.xcconfig
  app/ios/Flutter/Release.xcconfig
  app/ios/Podfile.lock
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  app/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  app/ios/Runner/Info.plist
Due: app-check

chore: Update android files
  app/android/.gitignore
  app/android/app/src/main/kotlin/de/hpi/dhc/app/MainActivity.kt
  app/android/app/src/main/res/drawable-v21/launch_background.xml
  app/android/app/src/main/res/drawable/splash_icon.xml
  app/android/app/src/main/res/values-night/styles.xml
  app/android/build.gradle
  app/android/gradle.properties
  app/android/settings.gradle
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  generator/pubspec.lock
  generator/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Add windows support to designer
  study_designer/windows/.gitignore
  study_designer/windows/CMakeLists.txt
  study_designer/windows/flutter/CMakeLists.txt
  study_designer/windows/flutter/generated_plugin_registrant.cc
  study_designer/windows/flutter/generated_plugin_registrant.h
  study_designer/windows/flutter/generated_plugins.cmake
  study_designer/windows/runner/CMakeLists.txt
  study_designer/windows/runner/Runner.rc
  study_designer/windows/runner/flutter_window.cpp
  study_designer/windows/runner/flutter_window.h
  study_designer/windows/runner/main.cpp
  study_designer/windows/runner/resource.h
  study_designer/windows/runner/resources/app_icon.ico
  study_designer/windows/runner/run_loop.cpp
  study_designer/windows/runner/run_loop.h
  study_designer/windows/runner/runner.exe.manifest
  study_designer/windows/runner/utils.cpp
  study_designer/windows/runner/utils.h
  study_designer/windows/runner/win32_window.cpp
  study_designer/windows/runner/win32_window.h
Due: designer-check

ci: Add dependabot pub
  .github/workflows/dependabot.yml
Due: none

ci: Test if flutter command available
  .github/workflows/dependabot.yml
Due: none

fix: Make user login more robust
  app/lib/util/user.dart
Due: app-check

chore: Upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  generator/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Remove unneeded stuff
  app/lib/screens/app_onboarding/welcome.dart
  study_designer/test/stub_test.dart
Due: app-check, designer-check

chore: Add melos, tool for managing packages
  analysis_options.yaml
  app/analysis_options.yaml
  app/pubspec.lock
  app/pubspec.yaml
  common/analysis_options.yaml
  common/pubspec.lock
  common/pubspec.yaml
  core/analysis_options.yaml
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  generator/pubspec.yaml
  melos.yaml
  notebook_uploader/analysis_options.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  study_designer/analysis_options.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Remove left over gitlab ci
  .gitlab-ci.yml
  app/.gitlab-ci.yml
  core/.gitlab-ci.yml
  flutter-project.yml
  study_designer/.gitlab-ci.yml
Due: core-check, app-check, designer-check

chore: Add more melos scripts
  melos.yaml
Due: none

ci: Add new workflow for all using melos
  .github/workflows/all_packages.yml
  .github/workflows/app.yml
  .github/workflows/core.yml
  .github/workflows/dependabot.yml
  .github/workflows/designer.yml
  melos.yaml
Due: none

ci: Update dependencies workflow
  .github/workflows/dependencies.yml
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  generator/pubspec.lock
  notebook_uploader/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

fix: Use relative path to package
  app/pubspec.yaml
  common/pubspec.yaml
  generator/pubspec.yaml
  notebook_uploader/pubspec.yaml
  study_designer/pubspec.yaml
Due: app-check, designer-check

ci: Add more melos commands
  melos.yaml
Due: none

chore: Remove mono_repo files
  app/mono_pkg.yaml
  common/mono_pkg.yaml
  core/mono_pkg.yaml
  generator/mono_pkg.yaml
  mono_repo.yaml
  notebook_uploader/mono_pkg.yaml
  study_designer/mono_pkg.yaml
  tool/ci.sh
Due: core-check, app-check, designer-check

chore: Adapt docker setup to supabase and melos
  .dockerignore
  Dockerfile
  common/lib/envs/.env
  common/lib/envs/.env.local
  core/lib/src/env/env.dart
  docker-compose-app.yml
  docker-compose-designer.yml
  docker-compose-full.yml
  generator/.env
  generator/lib/utils/generator.dart
  melos.yaml
Due: core-check, app-check, designer-check

ci: Use fetch-depth 0 for checkouts
  .github/workflows/dependabot.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
  .github/workflows/release.yml
Due: none

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

chore(app): Use health.studyu.app bundle ID
  app/android/app/build.gradle
  app/android/app/src/debug/AndroidManifest.xml
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/kotlin/de/hpi/dhc/app/MainActivity.kt
  app/android/app/src/profile/AndroidManifest.xml
  app/ios/Runner.xcodeproj/project.pbxproj
  app/ios/Runner/Info.plist
Due: app-check

refactor: Move UserQueries to common
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/kickoff.dart
  common/lib/src/utils/user.dart
  common/lib/studyu_flutter_common.dart
Due: app-check

feat(designer): Store session in shared prefs
  study_designer/lib/app.dart
  study_designer/lib/models/app_state.dart
Due: designer-check

feat: Add data export options
  study_designer/lib/widgets/study_detail/export_dialog.dart
  study_designer/lib/widgets/study_detail/header.dart
Due: designer-check

chore: Add release config
  app/android/app/build.gradle
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
