Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: deploy apps from dev-designer_v2
  .github/workflows/deploy-apps.yml
Due: none

fix: only get selected intervention tasks for completed check
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

chore: rewrote task open check
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: replace web-only library html
  app/lib/screens/app_onboarding/iframe_helper.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

feat: implement study reports framework
  designer_v2/lib/constants.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_data.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/study/study_navbar.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
Due: none

fix: notifications can only be opened if inside period
  app/lib/util/notifications.dart
Due: app-check

fix: notifications are only rescheduled if notification action was not completed before
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: task instance named constructor
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tasks/task_instance.dart
Due: core-check, app-check, designer-check

fix: notification have wrong ids
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tasks/task_instance.dart
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Due: core-check, app-check, designer-check

fix: designerV2 TaskInstance support for single completionperiods to restore live preview functionality
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/task_instance.dart
  designer_v2/lib/domain/schedule.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_data.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_data.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_data.dart
Due: core-check, app-check, designer-check

fix: designerV2 TaskInstance support for single completionperiods to restore live preview functionality
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/tasks/task_screen.dart
  core/lib/src/models/tasks/schedule.dart
Due: core-check, app-check, designer-check

fix(app): didChangeDependencies executing twice on startup
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/notifications.dart
Due: app-check

feat: study reports sidesheet
  designer_v2/lib/domain/section.dart
  designer_v2/lib/features/design/reports/report/report_form_controller.dart
  designer_v2/lib/features/design/reports/report/report_form_data.dart
  designer_v2/lib/features/design/reports/report/report_form_view.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_data.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/forms/form_view_model_collection.dart
  designer_v2/lib/routing/router_config.dart
Due: none

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

fix: add .env.staging to pubignore
  flutter_common/.pubignore
  flutter_common/pubspec.yaml
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: analysis issues
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/util/schedule_notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
  designer_v2/lib/features/design/reports/report/report_form_view.dart
  designer_v2/pubspec.lock
Due: app-check

chore: format
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tasks/task_instance.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
  designer_v2/lib/features/design/reports/report/report_form_controller.dart
  designer_v2/lib/features/design/reports/report/report_form_view.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_data.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_data.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/features/study/study_navbar.dart
  designer_v2/lib/routing/router_intent.dart
Due: core-check, app-check, designer-check

fix: deploy dev-designer_v2 to new V2 production database
  .github/workflows/deploy-apps.yml
  flutter_common/lib/envs/.env
Due: none

chore: temp fix for malformed ios build-name
  .github/workflows/deploy-apps.yml
Due: none

fix: do not show notifications for already completed tasks
  app/lib/util/schedule_notifications.dart
Due: app-check

fix: reload dashboard after notification task completed
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/util/notifications.dart
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/lib/features/design/reports/report/report_form_controller.dart
  designer_v2/lib/features/design/reports/report/report_form_data.dart
  designer_v2/lib/features/design/reports/report/report_form_view.dart
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
  designer_v2/lib/features/design/reports/section/report_item_form_data.dart
  designer_v2/lib/features/design/reports/section/report_item_form_view.dart
  designer_v2/lib/features/design/reports/section/types/average_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/linearRegression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/section_type.dart
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
Due: app-check

fix: revert report changes
  designer_v2/lib/features/design/reports/report/report_form_controller.dart
  designer_v2/lib/features/design/reports/report/report_form_data.dart
  designer_v2/lib/features/design/reports/report/report_form_view.dart
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
  designer_v2/lib/features/design/reports/section/report_item_form_data.dart
  designer_v2/lib/features/design/reports/section/report_item_form_view.dart
  designer_v2/lib/features/design/reports/section/types/average_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/linearRegression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/section_type.dart
Due: none

chore: debug
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  flutter_common/lib/src/utils/env_loader.dart
Due: app-check

feat: Notification debug dialog
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

chore: notification debug off
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

fix: request REQUEST_IGNORE_BATTERY_OPTIMIZATIONS on android for scheduled notifications
  app/android/app/src/debug/AndroidManifest.xml
  app/android/app/src/profile/AndroidManifest.xml
  app/lib/util/notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix: increase notification reliability
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

report section show items
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/lib/features/design/reports/report/report_form_controller.dart
  designer_v2/lib/features/design/reports/report/report_form_data.dart
  designer_v2/lib/features/design/reports/report/report_form_view.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_data.dart
  designer_v2/lib/features/design/reports/reports_form_view.dart
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
  designer_v2/lib/features/design/reports/section/report_item_form_data.dart
  designer_v2/lib/features/design/reports/section/report_item_form_view.dart
  designer_v2/lib/features/design/reports/section/types/average_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/data_reference_editor.dart
  designer_v2/lib/features/design/reports/section/types/linearRegression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/section_type.dart
  designer_v2/lib/features/design/study_form_providers.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/routing/router_config.dart
Due: none

fix: show dashboard correctly for the day if intervention cycle occurs
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: show dashboard correctly for the day if intervention cycle occurs - match reminder to correct completionperiod
  app/lib/util/schedule_notifications.dart
Due: app-check

scheduleFor: also check for beforeStartedAtTime
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

chore(log): add subject ID and remove skipped notifications from app log
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

feat: add migration option to app for studyu v2
  app/lib/screens/app_onboarding/loading_screen.dart
  flutter_common/lib/src/utils/user.dart
Due: app-check

restructure for app building
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  flutter_common/lib/src/utils/user.dart
Due: app-check

debugging
  app/lib/app.dart
  app/lib/main.dart
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check
