Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

feat(#432): Dashboard Search and Sort
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/design/enrollment/screener_question_logic_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/bool_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/forms/form_array_table.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Due: none

Refine CI/CD
  .gitlab-ci.yml
  docker/supabase/docker-compose-db.yml
Due: none

Fix Branch Name
  .gitlab-ci.yml
Due: none

Configure RProxy
  .gitlab-ci.yml
  docker/nginx/.htpasswd
Due: none

Introduce named volumes for persitent data
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
Due: none

Fix compose file locations
  .gitlab-ci.yml
Due: none

Run up with d
  .gitlab-ci.yml
Due: none

Handle kong.yml
  .gitlab-ci.yml
Due: none

Fix .env file copy order
  .gitlab-ci.yml
Due: none

feat(#458): tbls documentation docker compose
  .github/docker/db-docs.yml
Due: none

feat(#458): db documentation workflow
  .github/workflows/db-docs.yaml
Due: none

feat(#458): path restriction for doc gen
  .github/workflows/db-docs.yaml
Due: none

feat(#458): ignore generated files in markdown lint
  .github/workflows/lint-markdown.yml
Due: none

fix(deps): new temporary wakelock fix repo
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix(#460): restrict paths for fb hosting workflow
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

fix(#460): additional restrictions & whitelists based on review comment
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat(#464): auto-label prs
  .github/labeler.yml
  .github/workflows/pr.yml
Due: none

feat(#464): auto assign pr author
  .github/workflows/pr.yml
Due: none

refactor(#455): github workflow
  .github/workflows/build-docker-generator.yml
  .github/workflows/build-docker-notebook-uploader.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/deploy-designer.yml
  .github/workflows/publish_pubdev.yml
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

feat(#455): wait on check action
  .github/workflows/build-docker-notebook-uploader.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/publish_pubdev.yml
  .github/workflows/release_app.yml
  .github/workflows/release_notebook_uploader.yml
Due: none

chore: temporarily ignore branches for app deploy and dry run pubdev
  .github/workflows/deploy-apps.yml
  .github/workflows/publish_pubdev.yml
Due: none

chore: pubspec lock
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

Revert "chore: temporarily ignore branches for app deploy and dry run pubdev"
  .github/workflows/deploy-apps.yml
  .github/workflows/publish_pubdev.yml
Due: none

fix: upgrade deps
  app/pubspec.yaml
  core/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

fix: add await-workflow action to wait for pub.dev publishing
  .github/workflows/build-docker-notebook-uploader.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/publish_pubdev.yml
  .github/workflows/release_app.yml
  .github/workflows/release_generator.yml
  app/pubspec.lock
  core/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

fix(#462): zone mismatch
  designer_v2/lib/features/app.dart
  designer_v2/lib/main.dart
Due: none

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

added widget and type for image task
  app/lib/screens/study/tasks/intervention/image_capturing_task_widget.dart
  core/lib/src/models/interventions/tasks/image_capturing_task.dart
  core/lib/src/models/interventions/tasks/image_capturing_task.g.dart
Due: core-check, app-check, designer-check

added simulation supabase env file
  CONTRIBUTING.md
  docker/docker-compose-app.yml
  docker/docker-compose-designer.yml
  docker/docker-compose-designer_legacy.yml
  docker/docker-compose.yml
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.productive
  flutter_common/lib/src/utils/env_loader.dart
  flutter_common/pubspec.yaml
Due: none

add task to image too
  app/lib/screens/study/tasks/task_screen.dart
Due: app-check

Modify Supabase Compose Files to use persistent storage
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
Due: none

chore: add docker to labeler.yml
  .github/labeler.yml
Due: none

feat: modify supabase compose files to use persistent storage
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
