Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix: test page
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

fix: compile fix
  designer_v2/lib/utils/material_states_controller.dart
Due: none

fix: staging env
  flutter_common/lib/envs/.env.staging
Due: none

fix: change to pull request channel beta
  .github/workflows/firebase-hosting-pull-request.yml
  app/lib/screens/app_onboarding/iframe_helper.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: built errors
  designer_v2/lib/common_views/mouse_events.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
Due: none

fix: flutter 3.3.0
  app/pubspec.lock
  designer/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

fix: test compile again
  .github/workflows/firebase-hosting-pull-request.yml
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/pubspec.yaml
  core/lib/src/models/tables/study_subject.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/pubspec.yaml
Due: core-check, app-check, designer-check

fix: new staging
  flutter_common/lib/envs/.env.staging
Due: none

fix: reset dart sdk
  app/pubspec.yaml
  designer_v2/pubspec.yaml
Due: app-check

fix: reloading page
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: none

more debug
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

feat: try to track progress
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

fix: remove baseline four times
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

fix: remove baseline four times 2
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
Due: app-check

feat: add preview banner
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_frame_views.dart
Due: none

remove double baseline
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix baseline again and add studysubject retriever
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  core/lib/src/util/supabase_object.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
Due: core-check, app-check, designer-check

maybe fix null reader and refactor onboarding modal
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/services/notifications.dart
Due: app-check

refactor baseline
  app/lib/screens/app_onboarding/preview.dart
Due: app-check

feat: showdialog
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: baseline working
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_page.dart
Due: app-check

feat: baseline working 2
  app/lib/routes.dart
  app/lib/screens/app_onboarding/iframe_helper.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix delete
  app/lib/screens/app_onboarding/preview.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

feat: only run app once, generate subjects only for new changes
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/features/study/study_test_frame.dart
Due: app-check

feat: enable eligibility screen for unfinished eligibility data
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

fix env
  flutter_common/lib/envs/.env.staging
Due: none

Dev designer v2 previewfix (#169)
  app/lib/screens/app_onboarding/iframe_helper.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/pubspec.lock
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/util/supabase_object.dart
  designer/pubspec.lock
  designer_v2/lib/common_views/mouse_events.dart
  designer_v2/lib/features/design/interventions/intervention_preview_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/study/study_test_frame.dart
  designer_v2/lib/features/study/study_test_frame_controllers.dart
  designer_v2/lib/features/study/study_test_frame_views.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/utils/material_states_controller.dart
  designer_v2/pubspec.lock
  flutter_common/lib/envs/.env.staging
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

fix: designer pw reset redirect url
  designer_v2/lib/repositories/auth_repository.dart
Due: none

feat: improve LocalizationPicker, center horizontal table rows, reset minSplashTime
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/constants.dart
  designer_v2/lib/features/account/account_settings.dart
  designer_v2/lib/features/auth/auth_form_fields.dart
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/lib/localization/language_picker.dart
Due: none

feat: improve empty states, disable shared tab, adjust padding
  designer_v2/lib/common_views/dialog.dart
  designer_v2/lib/common_views/empty_body.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/theme.dart
Due: none

feat: fix designer form styles
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/theme.dart
Due: none

fix: imprint link
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/lib/repositories/app_repository.dart
Due: none

wip: screening criteria for choice & bool questions
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  core/lib/src/models/expressions/types/choice_expression.dart
  core/lib/src/models/expressions/types/choice_expression.g.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_data.dart
  designer_v2/lib/features/design/enrollment/screener_question_form_controller.dart
  designer_v2/lib/features/design/enrollment/screener_question_logic_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/questionnaire_form_data.dart
Due: core-check, app-check, designer-check

feat: enable screening logic for scale questions
  core/lib/src/models/questionnaire/questions/scale_question.dart
  designer_v2/lib/features/design/enrollment/screener_question_form_controller.dart
  designer_v2/lib/features/design/enrollment/screener_question_logic_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/forms/form_control.dart
  designer_v2/lib/utils/extensions.dart
Due: core-check, app-check, designer-check

fix: correctly position annotations / labels for scale questions
  app/lib/widgets/questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  core/lib/src/models/questionnaire/questions/scale_question.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
Due: core-check, app-check, designer-check

fix: skip eligibility screener correctly
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

fix: leave study with soft delete & delete data option with hard delete
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/settings.dart
  core/lib/src/models/questionnaire/questions/scale_question.g.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/study_subject.g.dart
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
Due: core-check, app-check, designer-check

fix: password reset
  core/lib/src/env/env.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/repositories/auth_repository.dart
Due: core-check, app-check, designer-check

fix: remove testDelay
  designer_v2/lib/repositories/api_client.dart
Due: none
