Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: app-check

Revert "chore: lock flutter version to 3.7.x"
  .github/workflows/all_packages.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/firebase-hosting-dev.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/release_app.yml
Due: none

chore: upgrade packages
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  pubspec.lock
  pubspec.yaml
Due: core-check, app-check, designer-check

chore: format
  app/lib/screens/app_onboarding/about.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/util/linear_regression.dart
  app/lib/screens/study/report/util/plot_utilities.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/util/notifications.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/fhir_questionnaire/questionnaire_widget.dart
  app/lib/widgets/questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/custom_slider.dart
  app/lib/widgets/questionnaire/question_container.dart
  core/lib/src/models/tables/study_subject.dart
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/lib/utils/performance.dart
Due: core-check, app-check, designer-check

chore: deploy dev branch to flutter main branch
  .github/workflows/all_packages-dev.yml
  .github/workflows/deploy-apps-dev.yml
  .github/workflows/firebase-hosting-dev.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: update deps
  app/pubspec.lock
  designer_v2/lib/features/app.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
Due: app-check

chore: fallback to master
  .github/workflows/all_packages-dev.yml
  .github/workflows/deploy-apps-dev.yml
  .github/workflows/firebase-hosting-dev.yml
  app/android/build.gradle
Due: app-check

chore: fallback to master
  .github/workflows/all_packages-dev.yml
Due: none

Delete deploy-apps-dev.yml
  .github/workflows/deploy-apps-dev.yml
Due: none

Update deploy-apps.yml
  .github/workflows/deploy-apps.yml
Due: none

chore: fix eligibility
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
Due: app-check

chore: fix invite
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

chore: improve separate dev deployment with conditionals
  .github/workflows/all_packages-dev.yml
  .github/workflows/all_packages.yml
Due: none

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

start refactoring charts
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/util/plot_utilities.dart
Due: app-check

github workflows enable dev again
  .github/workflows/all_packages.yml
Due: none

improve average section coloring
  app/lib/screens/study/report/sections/average_section_widget.dart
Due: app-check

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

fix: improve offline mode, check earlier if device is offline
  app/lib/screens/app_onboarding/loading_screen.dart
  flutter_common/lib/src/utils/env_loader.dart
Due: app-check

other offline mode check
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/cache.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

cache subject on kickoff
  app/lib/models/app_state.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/util/cache.dart
Due: app-check

fix cache debug
  app/lib/util/cache.dart
Due: app-check

fix nullpointer performance_details.dart
  app/lib/screens/study/report/performance/performance_details.dart
Due: app-check

fix: only invalidate questions if necessary
  app/lib/widgets/questionnaire/questionnaire_widget.dart
Due: app-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore: format
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/util/plot_utilities.dart
Due: app-check

chore: use flutter master if not master branch
  .github/workflows/all_packages.yml
Due: none

do not go into offline mode if coming from app cache
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

slider fix overly long annotations
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/widgets/questionnaire/custom_slider.dart
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  designer_v2/pubspec.lock
Due: app-check

chore: set ios deployment target
  app/ios/Podfile
Due: app-check

disable linreg with message
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
Due: app-check

start fixing average section
  app/lib/screens/study/report/sections/average_section_widget.dart
Due: app-check

chore: lockfiles
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

leave out space for unanswered questions
  app/lib/screens/study/report/sections/average_section_widget.dart
Due: app-check

chore: force dart sdk > 3.0.0 for app
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

avg section functional
  app/lib/screens/study/report/sections/average_section_widget.dart
Due: app-check

fix: do not show notifications after study was left
  app/lib/screens/study/dashboard/settings.dart
Due: app-check
