Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.lock
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Fix Rscript not found by using micromamba 0.19.0
  notebook_uploader/Dockerfile
Due: none

chore: Upgrade jupyter-lab
  notebook_uploader/env.yml
Due: none

ci: Fix apk upload path
  .github/workflows/release_app.yml
Due: none

ci: Upgrade fastlane
  app/android/Gemfile.lock
  app/ios/Gemfile.lock
Due: app-check

ci: Add android build information back in
  app/android/app/build.gradle
Due: app-check

fix: Upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
Due: app-check

fix: Use API 30 required queries for opening links and sending emails
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/pubspec.lock
  designer/android/app/src/main/AndroidManifest.xml
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  app/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/android/app/build.gradle
  app/pubspec.lock
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

Updating packages, remove gradle signing config for the app for dev
  app/android/app/build.gradle
  app/android/build.gradle
  app/pubspec.lock
  core/pubspec.lock
  designer/android/app/build.gradle
  designer/android/build.gradle
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

Creating new env for testing
  flutter_common/lib/envs/.env.test
Due: none

chore: Upgrade pub dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade gradle
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  designer/android/build.gradle
  designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check

fix: Adjust to breaking dependencies
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/src/env/env.dart
  designer/lib/dashboard.dart
  designer/lib/designer.dart
  designer/lib/designer/about_designer.dart
  designer/lib/widgets/report/linear_regression_section_editor_section.dart
  designer/lib/widgets/study_detail/header.dart
  flutter_common/lib/src/utils/env_loader.dart
  notebook_uploader/bin/notebook_uploader.dart
  repo_generator/bin/repo_generator.dart
  repo_generator/lib/utils/generator.dart
  repo_generator/main_dev.dart
Due: core-check, app-check, designer-check

fix: Use new studyu package versions
  app/pubspec.lock
  app/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: app-check

chore(release): publish packages
  app/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: app-check

chore: Fix formatting
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/src/env/env.dart
  designer/lib/designer.dart
  flutter_common/lib/src/utils/env_loader.dart
  repo_generator/main_dev.dart
Due: core-check, app-check, designer-check

fix: Use new flutter_common
  app/pubspec.lock
  designer/pubspec.lock
Due: app-check

chore: Fix format
  app/lib/screens/study/dashboard/dashboard.dart
  core/lib/src/env/env.dart
  designer/lib/designer.dart
Due: core-check, app-check, designer-check

ci: Fix changed dependency string
  .github/workflows/build-docker-generator.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
Due: none

chore: Set dart sdk
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.yaml
Due: none

Updating dependencies
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
Due: core-check, app-check, designer-check

Make Docker use Supabase
  docker-compose-parse.yml
  docker-compose-supabase.yml
  docker-compose.dev.yml
  supabase/.env.example
  supabase/.gitignore
  supabase/README.md
  supabase/dev/data.sql
  supabase/volumes/api/kong.yml
  supabase/volumes/db/init/00-initial-schema.sql
  supabase/volumes/db/init/01-auth-schema.sql
  supabase/volumes/db/init/02-storage-schema.sql
  supabase/volumes/db/init/03-post-setup.sql
  supabase/volumes/db/init/04-pg-graphql.sql
Due: none

Load StudyU database schema automatically on startup
  docker-compose.dev.yml
  supabase/.gitignore
Due: none

Create selfhosted build option using supabase
  Dockerfile
  docker-compose-full-selfhost.yml
  flutter_common/lib/envs/.env.selfhost
  flutter_common/pubspec.yaml
  melos.yaml
Due: none

Remove docker-compose-parse.yml
  docker-compose-parse.yml
Due: none

Move Supabase docker-compose files into subfolder
  supabase/docker-compose-supabase.yml
  supabase/docker-compose.dev.yml
Due: none

fix(docker): Dockerfile build error
  Dockerfile
Due: none

chore: remove disused .env.test
  flutter_common/lib/envs/.env.test
Due: none

fix(docker): use default api keys from now on consistently
  flutter_common/lib/envs/.env.selfhost
  supabase/volumes/api/kong.yml
Due: none

feat(docker): create selfhost variants for docker-compose
  docker-compose-app-selfhost.yml
  docker-compose-designer-selfhost.yml
Due: none

fix(docker): make supabase runnable from inside its own workdir and independent from the project root
  supabase/README.md
  supabase/docker-compose-supabase.yml
  supabase/docker-compose.dev.yml
Due: none

docs: new docker setup
  README.md
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
