Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Core: Upgrade minor deps
  core/pubspec.lock
Due: core-check, app-check, designer-check

App: Upgrade minor versions
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Designer: Upgrade minor versions and fix flutter_iconpicker
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

App: Fix breaking change of timeline_tile
  app/lib/screens/study/onboarding/journey_overview.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

App: Fix breaking change of flutter_local_notifications
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/util/notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Remove windows line endings
  app/lib/util/notifications.dart
Due: app-check

App: flutter_local_notifications requires timezone
  app/lib/app.dart
  app/lib/util/notifications.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Fix versions to avoid breaking changes
  app/pubspec.yaml
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Fix breaking change in flutter_form_builder
  study_designer/lib/designer/meta_data_designer.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_editor.dart
  study_designer/lib/widgets/question/question_editor.dart
  study_designer/lib/widgets/question/slider_question_editor_section.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
  study_designer/lib/widgets/task/task_editor.dart
Due: designer-check

rename questionnaire and eligibility designer
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
Due: designer-check

add a help dialog to the study design pages
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer.dart
  study_designer/lib/designer/interventions_designer.dart
Due: designer-check

Add docker-compose setup using official images
  .dockerignore
  Dockerfile
  README.md
  app/lib/main_env.dart
  core/lib/environment.dart
  docker-compose-app.yml
  docker-compose-designer.yml
  docker-compose-full.yml
  docker-compose.yml
  study_designer/lib/main_env.dart
Due: core-check, app-check, designer-check

Fix linter
  study_designer/lib/designer/interventions_designer.dart
Due: designer-check

make organization and researcher information customizable
  app/assets/images/hpi.png
  app/lib/screens/study/onboarding/study_overview.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/user_study.dart
  study_designer/assets/i18n/de.json
  study_designer/assets/i18n/en.json
  study_designer/lib/designer/meta_data_designer.dart
Due: core-check, app-check, designer-check

Use .env file for environments Instead of using separate main files
  Dockerfile
  README.md
  app/envs/.env
  app/envs/.env.dev
  app/envs/.env.local
  app/envs/.env.local-android
  app/envs/.env.prod
  app/lib/main.dart
  app/lib/main_env.dart
  app/lib/main_local.dart
  app/lib/main_local_emulator.dart
  app/lib/main_prod.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/environment.dart
  core/lib/util/parse_init.dart
  core/pubspec.lock
  core/pubspec.yaml
  docker-compose-app.yml
  docker-compose-designer.yml
  docker-compose-full.yml
  docker-compose.yml
  study_designer/envs/.env
  study_designer/envs/.env.dev
  study_designer/envs/.env.local
  study_designer/envs/.env.local-android
  study_designer/envs/.env.prod
  study_designer/lib/main.dart
  study_designer/lib/main_env.dart
  study_designer/lib/main_local.dart
  study_designer/lib/main_local_emulator.dart
  study_designer/lib/main_prod.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Upgrade breaking parse_flutter_sdk change Now split into a new packge
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/queries/study.dart
  core/lib/queries/user.dart
  core/lib/util/parse_future_builder.dart
  core/lib/util/parse_init.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/save.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Minor dep upgrades
  app/pubspec.lock
  core/pubspec.lock
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

Minor package upgrade
  app/pubspec.lock
Due: app-check

core: Minor upgrade
  core/pubspec.lock
Due: core-check, app-check, designer-check

desinger: Minor deps upgrade
  study_designer/pubspec.lock
Due: designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
