Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

Fix broken rebase
  app/lib/screens/study/onboarding/study_overview.dart
  core/lib/queries/study.dart
  core/lib/util/retry_future_builder.dart
Due: core-check, app-check, designer-check

Add display and copy of Study Model JSON
  study_designer/lib/designer/save.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

Add published attribute
  core/lib/models/study/parse_study.dart
  core/lib/models/study/study.dart
  core/lib/models/study/study.g.dart
Due: core-check, app-check, designer-check

Add JsonSerializable to Study Base classes
  core/lib/models/study/study.dart
  core/lib/models/study/study.g.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_details.g.dart
Due: core-check, app-check, designer-check

WIP: Reload study with ParseStudyFutureBuidler
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

FutureBuilder now always retriggers query function
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/designer/save.dart
Due: core-check, app-check, designer-check

Minor fixes
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
Due: designer-check

Only display published studies
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/queries/study.dart
Due: core-check, app-check, designer-check

Allow editing draft studies
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
Due: designer-check

Add icon
  study_designer/lib/dashboard.dart
Due: designer-check

fix multiple selector for choice questions
  study_designer/lib/widgets/question/choice_question_editor_section.dart
Due: designer-check

Mock average section reporting
  app/lib/screens/study/report/report_details.dart
Due: app-check

Adjust data reference naming
  core/lib/models/data/data_reference.dart
  core/lib/models/data/data_reference.g.dart
Due: core-check, app-check, designer-check

Integrate data reference methods
  core/lib/models/data/data_reference.dart
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/tasks/task.dart
Due: core-check, app-check, designer-check

Apply refactorings
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/questionnaire/question.dart
  core/lib/models/report/report_models.dart
  core/lib/models/report/report_section.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/report/sections/average_section.dart
  core/lib/models/report/sections/report_sections.dart
  core/lib/models/tasks/task.dart
Due: core-check, app-check, designer-check

Improve DataReference resolution
  core/lib/models/data/data_reference.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
Due: core-check, app-check, designer-check

Refactor plotting
  app/lib/screens/study/report/report_details.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/questionnaire/answer.dart
  core/lib/models/questionnaire/questionnaire_state.dart
  core/lib/models/questionnaire/questions/slider_question.dart
  core/lib/models/report/section.dart
  core/lib/models/report/sections/average_section.dart
  core/lib/models/study/user_study.dart
Due: core-check, app-check, designer-check

Make the linter happy #203751
  app/lib/screens/study/report/report_details.dart
  core/lib/models/interventions/tasks/checkmark_task.dart
Due: core-check, app-check, designer-check

Rework report section structure
  core/lib/models/report/outcomes/outcome.dart
  core/lib/models/report/report_models.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/report/section.dart
  core/lib/models/report/sections/average_section.dart
  core/lib/models/report/sections/average_section.g.dart
  core/lib/models/report/sections/sections.dart
  core/lib/models/report/temporal_aggregation.dart
Due: core-check, app-check, designer-check

Add data reference class
  core/lib/models/data/data_reference.dart
  core/lib/models/data/data_reference.g.dart
Due: core-check, app-check, designer-check

Implement first version of average plot
  app/lib/screens/study/report/report_details.dart
Due: app-check

Mark report todos
  app/lib/screens/study/report/report_details.dart
Due: app-check

Ohmygod! For objects!
  core/lib/models/observations/tasks/questionnaire_task.dart
Due: core-check, app-check, designer-check
