Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix: enable remove participation on launch again
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/repositories/study_repository.dart
Due: none

fix: reload bug @ survey preview
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/study/study_test_frame.dart
Due: app-check

fix(preview): load study subject if exists
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

fix: improving page transitions a bit
  designer_v2/lib/common_views/pages/splash_page.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/theme.dart
Due: none

fix: Ability to delete studies with access code
  app/lib/screens/app_onboarding/loading_screen.dart
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
  designer_v2/lib/repositories/invite_code_repository.dart
Due: app-check

fix: deletion of launched studies
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
  designer_v2/lib/domain/study.dart
Due: none

feat: localize auth pages
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/auth/auth_form_fields.dart
  designer_v2/lib/features/auth/auth_scaffold.dart
  designer_v2/lib/features/auth/login_form_view.dart
  designer_v2/lib/features/auth/password_forgot_form_view.dart
  designer_v2/lib/features/auth/password_recovery_form_view.dart
  designer_v2/lib/features/auth/signup_form_view.dart
  designer_v2/lib/features/auth/studyu_jtbd.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/localization/language_picker.dart
  designer_v2/lib/localization/locale_translate_name.dart
Due: none

feat: more localization
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/icon_picker.dart
  designer_v2/lib/common_views/pages/error_page.dart
  designer_v2/lib/common_views/pages/splash_page.dart
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/common_views/sync_indicator.dart
  designer_v2/lib/common_views/under_construction.dart
  designer_v2/lib/domain/participation.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/domain/study_export.dart
  designer_v2/lib/domain/study_schedule.dart
  designer_v2/lib/features/account/account_settings.dart
  designer_v2/lib/features/analyze/study_analyze_page.dart
  designer_v2/lib/features/analyze/study_export_zip.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/recruit/enrolled_badge.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/settings/study_settings_dialog.dart
  designer_v2/lib/features/study/study_actions.dart
  designer_v2/lib/features/study/study_navbar.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/localization/app_translation.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/services/notification_types.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/utils/extensions.dart
  designer_v2/lib/utils/model_action.dart
Due: none

feat: localize study design info page
  designer_v2/lib/features/design/info/study_info_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_view.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Due: none

feat: even more localization
  designer_v2/lib/domain/participation.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_controller.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_view.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/enrollment/screener_question_form_controller.dart
  designer_v2/lib/features/design/enrollment/screener_question_logic_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_data.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_data.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/choice_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/question_type.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/scale_question_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/types/shared_question_views.dart
  designer_v2/lib/features/design/shared/questionnaire/questionnaire_form_controller_mixin.dart
  designer_v2/lib/features/publish/study_publish_dialog_confirm.dart
  designer_v2/lib/features/publish/study_publish_dialog_success.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Due: none

feat: modify designer2 description
  designer_v2/pubspec.yaml
Due: none

feat: update docker documentation
  README.md
  docker/README.md
  docker/hpi/Dockerfile
  docker/hpi/README.md
Due: none

feat: New docker deployment including documentation (#182)
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  Dockerfile
  README.md
  docker-compose-app.yml
  docker-compose-designer-selfhost.yml
  docker-compose-designer.yml
  docker-compose-designer2-selfhost.yml
  docker-compose-designer2.yml
  docker-compose-full-selfhost.yml
  docker-compose-full.yml
  docker/README.md
  docker/hpi/Dockerfile
  docker/hpi/README.md
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/docker-compose.yml
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
  docker/nginx/default.conf
  melos.yaml
  supabase/README.md
Due: none

change supabase .env default signup settings
  supabase/.env.example
Due: none

feat: finish german localization
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/preview.dart
  designer_v2/lib/constants.dart
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_form_data.dart
  designer_v2/lib/features/design/interventions/intervention_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_data.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/design/interventions/interventions_form_controller.dart
  designer_v2/lib/features/design/interventions/interventions_form_view.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_controls_view.dart
  designer_v2/lib/features/design/study_design_page_view.dart
  designer_v2/lib/features/forms/unsaved_changes_dialog.dart
  designer_v2/lib/features/recruit/enrolled_badge.dart
  designer_v2/lib/features/study/study_test_controller.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
  designer_v2/lib/features/study/study_test_controls.dart
  designer_v2/lib/features/study/study_test_frame_views.dart
  designer_v2/lib/features/study/study_test_page.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/localization/language_picker.dart
  designer_v2/lib/utils/extensions.dart
Due: app-check

Update firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-merge.yml
Due: none

Update firebase-hosting-pull-request.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

feat: add custom sequence option
  core/lib/src/models/study_schedule/study_schedule.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  designer/lib/designer/schedule_designer.dart
  designer_v2/lib/domain/study_schedule.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_data.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_view.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
  designer_v2/lib/utils/input_formatter.dart
Due: core-check, app-check, designer-check

fix: upgrade deps 2
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  designer_v2/linux/flutter/generated_plugin_registrant.cc
  designer_v2/linux/flutter/generated_plugins.cmake
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

fix: upgrade deps, fix go_router, fix localization on page load
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer_v2/lib/common_views/pages/splash_page.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/localization/language_picker.dart
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_utils.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

fix: preview
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: preview 2
  designer_v2/pubspec.yaml
Due: none

fix: preview 3
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  designer_v2/lib/common_views/pages/splash_page.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/localization/language_picker.dart
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_utils.dart
  designer_v2/linux/flutter/generated_plugin_registrant.cc
  designer_v2/linux/flutter/generated_plugins.cmake
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

fix: upgrade rxdart
  designer_v2/lib/repositories/auth_repository.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/services/notification_service.dart
  designer_v2/lib/utils/behaviour_subject.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  designer_v2/lib/common_views/pages/splash_page.dart
  designer_v2/lib/features/app.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/auth/auth_form_controller.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_state.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/main.dart
  designer_v2/lib/repositories/model_repository.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_utils.dart
  designer_v2/linux/flutter/generated_plugin_registrant.cc
  designer_v2/linux/flutter/generated_plugins.cmake
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore: wording
  app/pubspec.yaml
  designer_v2/pubspec.yaml
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: update lock files
  app/pubspec.lock
  designer/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: fix spelling
  flutter_common/pubspec.yaml
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lint fixes
  app/lib/screens/app_onboarding/iframe_helper.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/eligibility_screen.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/questionnaire/scale_question_widget.dart
  app/lib/widgets/selectable_button.dart
  core/lib/src/models/expressions/types/value_expression.dart
  core/lib/src/models/interventions/intervention_task.dart
  core/lib/src/models/observations/observation.dart
  core/lib/src/models/questionnaire/questions/slider_question.dart
  designer_v2/lib/utils/extensions.dart
  flutter_common/lib/src/utils/retry_future_builder.dart
Due: core-check, app-check, designer-check

chore: disable legacy designer, repo_generator, notebook_uploader due to unmet dependencies
  melos.yaml
Due: none

chore: unify analysis_options.yaml for all repos
  analysis_options.yaml
  app/analysis_options.yaml
  app/pubspec.yaml
  core/analysis_options.yaml
  flutter_analysis_options.yaml
  flutter_common/analysis_options.yaml
  flutter_common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: core-check, app-check, designer-check

chore: cleanup todos
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check
