Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: remove root project from melos.yaml again
  README.md
  app/pubspec.lock
  docker/Dockerfile
  docker/Dockerfile.specifc
  melos.yaml
Due: app-check

Update README.md
  docker/README.md
Due: none

feat: store analytics data in the backend and support caching
  app/lib/app.dart
  app/lib/main.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/app_analytics.dart
  app/lib/util/cache.dart
  app/pubspec.lock
  core/lib/src/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/tables/app_config.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/util/analytics.dart
  core/lib/src/util/analytics.g.dart
  database/studyu-schema.sql
Due: core-check, app-check, designer-check

fix: .env.selfhost use localhost as default
  docker/docker-compose-app.yml
  docker/docker-compose-designer.yml
  flutter_common/lib/envs/.env.selfhost
Due: none

fix: gitignore all build dirs
  .gitignore
Due: none

fix: use .env.selfhost in all studyu containers
  docker/Dockerfile
  docker/Dockerfile.specifc
  docker/docker-compose-app.yml
  docker/docker-compose-designer.yml
  docker/docker-compose-designer_legacy.yml
  docker/docker-compose.yml
Due: none

docs: modified docker setup
  docker/README.md
  flutter_common/lib/envs/.env.local
Due: none

chore: use .env.local for hpi dhc setup
  flutter_common/lib/envs/.env.local
Due: none

chore(release): publish packages
  CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

fix: add dhc db to .env
  flutter_common/lib/envs/.env
Due: none

chore(release): publish packages
  CHANGELOG.md
  app/pubspec.yaml
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
Due: app-check

fix terms reloading bug
  app/lib/screens/app_onboarding/terms.dart
Due: app-check

fix AppState should not throw
  app/lib/models/app_state.dart
Due: app-check

refactor: rename ENV to STUDY_ENV
  README.md
  flutter_common/lib/src/utils/env_loader.dart
  melos.yaml
Due: none

docs: add todo, describe bug
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

fix: analytics same key
  app/lib/util/app_analytics.dart
  app/lib/util/cache.dart
  core/lib/src/util/analytics.dart
Due: core-check, app-check, designer-check

chore: format
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/util/app_analytics.dart
Due: app-check

ci: lint markdown
  .github/workflows/lint-markdown.yml
Due: none

chore: format markdown files
  README.md
  core/README.md
  docker/README.md
  docker/supabase/README.md
  flutter_common/README.md
  notebook_uploader/README.md
  repo_generator/README.md
Due: core-check, app-check, designer-check

ci: fix all_packages workflows
  .github/workflows/all_packages.yml
Due: none

feat: markdown lint in melos scripts
  melos.yaml
Due: none

chore(ci): use checkout v3
  .github/workflows/lint-markdown.yml
Due: none

chore(ci): add workflow_dispatch
  .github/workflows/lint-markdown.yml
Due: none

chore(ci): format
  README.md
  docker/README.md
Due: none

chore(ci): deploy dev instance to firebase
  .firebaserc
  .github/workflows/firebase-hosting-merge-dev.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Due: none

docs: adjust .env discriptions
  README.md
Due: none

docs: add note on local dev setup for supabase
  docker/README.md
Due: none

docs: separate contributing from readme
  CONTRIBUTING.md
  README.md
Due: none

docs: note on env for local development
  docker/README.md
Due: none

feat: add melos scripts for dev setup
  melos.yaml
Due: none

feat: kitty dev script
  .kitty/dev
Due: none

docs: instructions for local development
  CONTRIBUTING.md
Due: none

refactor(#423): create .meta dir
  .meta/kitty-dev
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
