Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

Set Id
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: designer-check

Change flutter_form_builder dep to fix
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

Fix pubspec.lock
  study_designer/pubspec.lock
Due: designer-check

Center Please select study
  app/lib/screens/study/onboarding/study_selection.dart
  app/pubspec.lock
Due: app-check

Put InterventionTitle in Expanded to not overflow
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/intervention_card.dart
Due: app-check

Try to fix build_runner issue https://github.com/flutter/flutter/issues/62240
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

Try more fixing
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

Move InterventionCard to widgets
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/report/performance_details.dart
  app/lib/widgets/intervention_card.dart
Due: app-check

Extract StudyTile
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/widgets/study_tile.dart
Due: app-check

Rename AppModel to AppState
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/study_tile.dart
Due: app-check

Move function back
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/widgets/study_tile.dart
Due: app-check

Use StudyTile
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Use Hero Animation
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

Move Eligibility Banner to navigation bar
  app/lib/screens/study/onboarding/eligibility_screen.dart
Due: app-check

Add placeholder information to study overview
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

Fix linter
  app/lib/screens/study/onboarding/study_overview.dart
Due: app-check

rename designers and move packages
  study_designer/lib/designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/routes.dart
  study_designer/lib/widgets/intervention_editor.dart
Due: designer-check

satisfy flutter analyze
  study_designer/lib/designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/not_expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
Due: designer-check

update flutter pubspec
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/pubspec.lock
Due: designer-check

make eligibility criterion work
  core/lib/models/expressions/types/value_expression.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/not_expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
Due: core-check, app-check, designer-check

add expression and eligibility criterion editor
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
Due: designer-check
