Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: gitignore jks files
  app/android/.gitignore
Due: app-check

chore: Upgrade gradle plugin
  app/android/build.gradle
Due: app-check

chore: Fix release signing
  app/android/app/build.gradle
Due: app-check

chore: Downgrade gradle for codemagic (Java 8)
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check, designer-check

Revert "chore: Downgrade gradle for codemagic (Java 8)"
  app/android/build.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  study_designer/android/build.gradle
  study_designer/android/gradle/wrapper/gradle-wrapper.properties
Due: app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  common/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  generator/pubspec.lock
  notebook_uploader/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

ci(repo_generator): Fix wrong path
  .github/workflows/build-docker-generator.yml
Due: none

chore: Upgrade studyu packages
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

ci: Add gradle files for codemagic
  app/android/.gitignore
  app/android/gradle/wrapper/gradle-wrapper.jar
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/android/gradlew
Due: app-check

chore: Add status error logging
  core/lib/src/util/supabase_object.dart
Due: core-check, app-check, designer-check

refactor: Split signParticipant into own function
  flutter_common/lib/src/utils/user.dart
Due: none

fix: Retry fetching subjects if JWT is expired
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: Upgrade gradle
  designer/android/build.gradle
Due: none

fix: Hide report section until study is finished
  app/lib/screens/study/report/report_details.dart
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

chore: Upgrade studyu packages
  app/pubspec.lock
  designer/pubspec.lock
Due: app-check

fix: Add close button to consent item
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

fix: Upgrade supabase -> Fix jwt expired
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

ci: Fix building generator docker image
  .github/workflows/build-docker-generator.yml
Due: none

chore: Add pub.dev release needed files
  app/pubspec.yaml
  core/LICENSE
  core/README.md
  core/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/pubspec.yaml
  notebook_uploader/LICENSE
  notebook_uploader/README.md
  notebook_uploader/pubspec.yaml
  repo_generator/LICENSE
  repo_generator/README.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Move main_dev out of bin for publishing
  repo_generator/main_dev.dart
Due: none

fix: Add missing http dependency
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: none

chore: Upgrade studyu_packages
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

refactor: Rename bin main->repo_generator
  repo_generator/bin/repo_generator.dart
Due: none

feat: Make repo_generator executable
  repo_generator/pubspec.yaml
Due: none

feat: Make notebook_uploader executable
  notebook_uploader/bin/notebook_uploader.dart
  notebook_uploader/pubspec.yaml
Due: none

chore(release): publish packages
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
Due: none

chore: Remove studyu_core path source
  notebook_uploader/pubspec.yaml
Due: none

fix(docker): Naming of dart binary
  notebook_uploader/Dockerfile
  repo_generator/Dockerfile
Due: none

chore(release): publish packages
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

ci: Add no-tree-shake-icons, release to build scripts
  melos.yaml
Due: none

ci: Add firebase config
  .firebaserc
  .gitignore
  firebase.json
Due: none

ci: Deploy to firebase hosting + upload artifacts
  .github/workflows/all_packages.yml
Due: none

ci: Preiew deploy to firebase on PR
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
