Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Apply refactorings
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/questionnaire/question.dart
  core/lib/models/report/report_models.dart
  core/lib/models/report/report_section.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/report/sections/average_section.dart
  core/lib/models/report/sections/report_sections.dart
  core/lib/models/tasks/task.dart
Due: core-check, app-check, designer-check

Adjust data reference naming
  core/lib/models/data/data_reference.dart
  core/lib/models/data/data_reference.g.dart
Due: core-check, app-check, designer-check

fix question ids not all initialized
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: designer-check

remove unnecessary variable declaration
  study_designer/lib/designer/eligibility_designer.dart
Due: designer-check

add todo for implementation of data reference editor
  study_designer/lib/widgets/report/average_section_editor_section.dart
Due: designer-check

add report designer add report section editor add average section editor section
  core/lib/models/report/report_specification.dart
  core/lib/models/study/study.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
Due: core-check, app-check, designer-check

satisfy flutter linter
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/widgets/report/report_section_editor.dart
Due: designer-check

Add data reference editor
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/report/report_specification.dart
  core/lib/models/report/report_specification.g.dart
  core/lib/models/tasks/task.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/util/data_reference_editor.dart
Due: core-check, app-check, designer-check

The only good linter is a dea... happy linter
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/util/data_reference_editor.dart
Due: designer-check

When will they fix auto importing using package name
  app/lib/screens/study/onboarding/journey_overview.dart
Due: app-check

Add timeline_tile
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Make journey screen nice
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/onboarding/journey_overview.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

Make baseline grey
  app/lib/screens/study/onboarding/journey_overview.dart
Due: app-check

StudyTile: Improve hero transition
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/widgets/study_tile.dart
Due: app-check

Integrate first result export
  app/ios/Podfile.lock
  core/lib/models/models.dart
  core/lib/models/study/parse_study_details.dart
  core/lib/models/study/study_details.dart
  core/lib/models/study/study_details.g.dart
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/results.dart
  core/lib/models/study_results/study_result.dart
  core/lib/models/study_results/study_results.dart
  core/lib/queries/study.dart
  study_designer/ios/Podfile.lock
  study_designer/ios/Runner.xcodeproj/project.pbxproj
  study_designer/lib/dashboard.dart
  study_designer/lib/util/result_downloader.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

Add intervention result
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/intervention_result.g.dart
  core/lib/models/study_results/results/results.dart
  core/lib/models/study_results/study_result.dart
  core/lib/models/study_schedule/study_schedule.dart
Due: core-check, app-check, designer-check

Refactor report model imports
  core/lib/models/models.dart
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/numeric_result.dart
  core/lib/models/study_results/results/results.dart
  core/lib/models/study_results/study_result.dart
  study_designer/lib/util/result_downloader.dart
Due: core-check, app-check, designer-check

Adjust study designer build process
  study_designer/.gitlab-ci.yml
Due: designer-check

Annotate a todo
  study_designer/lib/dashboard.dart
Due: designer-check

Revert "Adjust study designer build process"
  study_designer/.gitlab-ci.yml
Due: designer-check

Make linter happy
  study_designer/lib/dashboard.dart
Due: designer-check

Implement numeric data export
  core/lib/models/study_results/results/numeric_result.dart
  core/lib/models/study_results/results/numeric_result.g.dart
  core/lib/models/study_results/study_result.dart
Due: core-check, app-check, designer-check

Update project files
  study_designer/ios/Podfile
  study_designer/ios/Podfile.lock
  study_designer/ios/Runner.xcodeproj/project.pbxproj
Due: designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
