Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: update lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: add staging env with new db
  flutter_common/lib/envs/.env.staging
Due: none

chore: add .env.staging to pubspec.yaml
  flutter_common/pubspec.yaml
Due: none

fix: update factories for json sequelize update
  core/lib/src/models/questionnaire/question_conditional.dart
  core/lib/src/models/results/result.dart
Due: core-check, app-check, designer-check

fix: update generated *.g.dart files
  core/lib/src/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/src/models/questionnaire/questions/boolean_question.g.dart
  core/lib/src/models/questionnaire/questions/choice_question.g.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
  core/lib/src/models/study_results/results/numeric_result.g.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  core/lib/src/models/tables/repo.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/subject_progress.g.dart
Due: core-check, app-check, designer-check

chore: upgrade google github actions auth method
  .github/workflows/build-docker-generator.yml
Due: none

chore: add permissions
  .github/workflows/build-docker-generator.yml
Due: none

chore: add checkout
  .github/workflows/build-docker-generator.yml
Due: none

fix: answer parse error
  core/lib/src/models/questionnaire/answer.dart
Due: core-check, app-check, designer-check

feat: modify login page
  designer_v2/assets/.gitignore
  designer_v2/assets/images/hpi_logo.png
  designer_v2/assets/images/icon_wide.png
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/pubspec.yaml
Due: none

move to webp
  designer_v2/assets/images/hpi_logo.png
  designer_v2/assets/images/hpi_logo.webp
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/pubspec.yaml
Due: none

feat: add confirmation modal for study deletion
  designer_v2/lib/features/app.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/services/notification_dispatcher.dart
  designer_v2/lib/services/notification_service.dart
  designer_v2/lib/services/notification_types.dart
  designer_v2/lib/services/notifications.dart
Due: none

feat: add basic empty state to AsyncValueWidget
  designer_v2/lib/common_views/async_value_widget.dart
  designer_v2/lib/common_views/pages/empty_body.dart
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
Due: none

fix: correct study scaffold tab indices
  designer_v2/lib/features/study/study_scaffold.dart
Due: none

save wip invite code forms
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/common_views/secondary_button.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/domain/forms/study_invite_code_form.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_controller_state.dart
  designer_v2/lib/features/study/study_recruit_page.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/theme.dart
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
Due: none

wip: recruit tab access codes
  designer_v2/lib/common_views/form_consumer_widget.dart
  designer_v2/lib/common_views/form_table_layout.dart
  designer_v2/lib/common_views/primary_button.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/sidenav_layout.dart
  designer_v2/lib/domain/forms/form_view_model.dart
  designer_v2/lib/domain/forms/invite_code_form.dart
  designer_v2/lib/domain/forms/study_invite_code_form.dart
  designer_v2/lib/domain/study_schedule.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/invite_code_repository.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/repositories/supabase_client.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/api_client_mocked.dart
Due: none

feat: add recruit tab with invite codes
  designer_v2/lib/common_views/action_inline_menu.dart
  designer_v2/lib/common_views/container_bounded.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/domain/forms/form_view_model.dart
  designer_v2/lib/domain/forms/invite_code_form.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/domain/study_invite.dart
  designer_v2/lib/features/dashboard/dashboard_controller.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_controller.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_actions.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/repositories/api_client.dart
  designer_v2/lib/repositories/invite_code_repository.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/services/clipboard.dart
  designer_v2/lib/services/notification_dispatcher.dart
  designer_v2/lib/services/notifications.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/api_client_mocked.dart
  designer_v2/lib/utils/model_action.dart
Due: none

feat: add study design subnav
  designer_v2/lib/common_views/navbar_tabbed.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
  designer_v2/lib/routing/router_navbars.dart
Due: none

Removed hardcoded strings and replaced with localizations
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/dashboard/studies_table.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/localization/legacy/app_de.arb
  designer_v2/lib/localization/legacy/app_en.arb
Due: none

feat: login page revamp
  designer_v2/lib/features/auth/login_page.dart
Due: none

wip: study designer forms
  designer_v2/lib/common_views/action_popup_menu.dart
  designer_v2/lib/common_views/empty_body.dart
  designer_v2/lib/common_views/form_buttons.dart
  designer_v2/lib/common_views/form_scaffold.dart
  designer_v2/lib/common_views/layout_single_column_scroll.dart
  designer_v2/lib/common_views/layout_two_column_scroll.dart
  designer_v2/lib/common_views/side_sheet_modal.dart
  designer_v2/lib/common_views/standard_table.dart
  designer_v2/lib/common_views/utils.dart
  designer_v2/lib/constants.dart
  designer_v2/lib/domain/forms/form_view_model.dart
  designer_v2/lib/domain/study.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/dashboard/dashboard_page.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/design/common_views/study_form_scaffold.dart
  designer_v2/lib/features/design/enrollment/enrollment_form.dart
  designer_v2/lib/features/design/enrollment/enrollment_question_form.dart
  designer_v2/lib/features/design/info/study_info_form.dart
  designer_v2/lib/features/design/measurements/measurement_survey_form_controller.dart
  designer_v2/lib/features/design/measurements/measurement_survey_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_table.dart
  designer_v2/lib/features/design/measurements/survey_question_form.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.dart
  designer_v2/lib/features/recruit/invite_code_form_view.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_controller.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/routing/router_intent.dart
  designer_v2/lib/theme.dart
  designer_v2/lib/utils/model_action.dart
  designer_v2/lib/utils/riverpod.dart
Due: none

wip: study designer forms #2
  designer_v2/lib/constants.dart
  designer_v2/lib/domain/forms/form_view_model.dart
  designer_v2/lib/domain/forms/form_view_model_collection.dart
  designer_v2/lib/features/design/enrollment/enrollment_form.dart
  designer_v2/lib/features/design/enrollment/enrollment_question_form.dart
  designer_v2/lib/features/design/info/study_info_form.dart
  designer_v2/lib/features/design/measurements/measurement_survey_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_table.dart
  designer_v2/lib/features/design/measurements/survey_question_form.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/recruit/invite_code_form_controller.dart
  designer_v2/lib/features/study/study_actions.dart
  designer_v2/lib/repositories/study_repository.dart
  designer_v2/lib/utils/extensions.dart
  designer_v2/lib/utils/model_action.dart
Due: none

feat: add split layout
  designer_v2/lib/common_views/constrained_flexible.dart
  designer_v2/lib/common_views/empty_body.dart
  designer_v2/lib/common_views/form_scaffold.dart
  designer_v2/lib/common_views/layout_single_column.dart
  designer_v2/lib/common_views/layout_single_column_scroll.dart
  designer_v2/lib/common_views/layout_two_column.dart
  designer_v2/lib/common_views/layout_two_column_scroll.dart
  designer_v2/lib/features/dashboard/dashboard_scaffold.dart
  designer_v2/lib/features/design/measurements/measurements_form_view.dart
  designer_v2/lib/features/design/measurements/measurements_table.dart
  designer_v2/lib/features/recruit/invite_codes_table.dart
  designer_v2/lib/features/recruit/study_recruit_page.dart
  designer_v2/lib/features/study/study_scaffold.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/theme.dart
Due: none

feat: login page restructure
  designer_v2/lib/features/auth/login_page.dart
  designer_v2/lib/flutter_flow/flutter_flow_theme.dart
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: push lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

fix: lint errors
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/util/save_pdf.dart
  designer/lib/widgets/task/complation_period_editor.dart
  designer/lib/widgets/task/reminder_editor.dart
  repo_generator/lib/server.dart
Due: app-check

chore: remove staging
  .github/workflows/firebase-hosting-merge-designer_v2.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: remove staging duplicate
  flutter_common/pubspec.yaml
Due: none

restyle login_page.dart
  designer_v2/lib/features/auth/login_page.dart
Due: none

add todos
  designer_v2/lib/features/auth/login_page.dart
Due: none

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
