Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

redirect 80 to 443
  docker/hpi/nginx/.htpasswd
  docker/hpi/nginx/conf.d/app.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/db.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/designer.hpi.studyu.health.conf
Due: none

renaming
  docker/docker-compose.yml
  docker/hpi/docker-compose.yml
  docker/supabase/docker-compose-db.yml
Due: none

upgrade supabase/postgres
  docker/supabase/docker-compose-db.yml
Due: none

docs: specify active and outdated packages
  README.md
Due: none

finish generic docker deployment
  docker/.env.example
  docker/Dockerfile
  docker/Dockerfile.specifc
  docker/docker-compose-app.yml
  docker/docker-compose-designer.yml
  docker/docker-compose-designer_legacy.yml
  docker/docker-compose-nginx.yml
  docker/docker-compose-nginx_only.yml
  docker/docker-compose.yml
  docker/hpi/README.md
  docker/hpi/docker-compose-app-selfhost.yml
  docker/hpi/docker-compose-app.yml
  docker/hpi/docker-compose-designer-selfhost.yml
  docker/hpi/docker-compose-designer.yml
  docker/hpi/docker-compose-designer2-selfhost.yml
  docker/hpi/docker-compose-designer2.yml
  docker/hpi/docker-compose-full-selfhost.yml
  docker/hpi/docker-compose-full.yml
  docker/nginx/.htpasswd
  docker/nginx/conf.d/app.conf
  docker/nginx/conf.d/db.conf
  docker/nginx/conf.d/designer.conf
  docker/nginx/conf.d/ssl.conf
  docker/nginx/conf.d/ssl.conf.example
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
  flutter_common/lib/envs/.env.selfhost
  melos.yaml
Due: none

restructure and add basic auth and ip restrictions
  docker/hpi/.env.example
  docker/hpi/Dockerfile
  docker/hpi/docker-compose.yml
  docker/hpi/nginx/.htpasswd
  docker/hpi/nginx/conf.d/app.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/common.conf
  docker/hpi/nginx/conf.d/common_location.conf
  docker/hpi/nginx/conf.d/db.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/default.conf
  docker/hpi/nginx/conf.d/designer.hpi.studyu.health.conf
  docker/hpi/nginx/conf.d/postgres.conf
  docker/hpi/nginx/conf.d/ssl.conf
Due: none

chore: update supabase docker framework
  supabase/.env.example
  supabase/.gitignore
  supabase/dev/docker-compose.dev.yml
  supabase/docker-compose-logging.yml
  supabase/docker-compose.yml
  supabase/volumes/api/kong.yml
  supabase/volumes/db/init/00-initial-schema.sql
  supabase/volumes/db/init/01-auth-schema.sql
  supabase/volumes/db/init/02-storage-schema.sql
  supabase/volumes/db/init/03-post-setup.sql
  supabase/volumes/db/init/04-pg-graphql.sql
  supabase/volumes/db/logs.sql
  supabase/volumes/db/realtime.sql
  supabase/volumes/db/roles.sql
  supabase/volumes/db/webhooks.sql
Due: none

docker compose modifications
  .dockerignore
  docker/hpi/docker-compose-postgres.yml
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/docker-compose.yml
  docker/hpi/volumes/db/init/data.sql
  docker/supabase/.env.example
  docker/supabase/docker-compose.yml
Due: none

let apps container start even if supabase is unreachable
  docker/hpi/nginx/common_location.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  flutter_common/lib/envs/.env.selfhost
Due: none

fix supabase
  docker/hpi/.env.example
  docker/hpi/docker-compose-selfhost.yml
  docker/nginx/default.conf
  docker/supabase/.env.example
  docker/supabase/.gitignore
  docker/supabase/README.md
  docker/supabase/dev/data.sql
  docker/supabase/dev/docker-compose.dev.yml
  docker/supabase/docker-compose-logging.yml
  docker/supabase/docker-compose.yml
  docker/supabase/volumes/api/kong.yml
  docker/supabase/volumes/db/init/data.sql
  docker/supabase/volumes/db/logs.sql
  docker/supabase/volumes/db/realtime.sql
  docker/supabase/volumes/db/roles.sql
  docker/supabase/volumes/db/webhooks.sql
  docker/supabase/volumes/functions/main/index.ts
  docker/supabase/volumes/logs/vector.yml
  supabase/README.md
Due: none

enable root package in melos.yaml
  melos.yaml
Due: none

no need to pub get root repo if included in melos.yaml
  docker/Dockerfile
  docker/Dockerfile.specifc
Due: none

apps and supabase working together
  docker/hpi/Dockerfile
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
  flutter_common/lib/envs/.env.selfhost
Due: none

rename nginx app conf files
  docker/nginx/conf.d/01_app.conf
  docker/nginx/conf.d/02_designer.conf
  docker/nginx/conf.d/03_supabase.conf
Due: none

catch git error in melos.yaml
  docker/Dockerfile
  docker/Dockerfile.specifc
  melos.yaml
Due: none

cors and redirect working for apps
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
Due: none

modify default env
  .dockerignore
  docker/hpi/.env.example
  docker/supabase/.env.example
Due: none

default docker state
  docker/.env.example
  docker/.gitignore
  docker/Dockerfile
  docker/docker-compose-nginx.yml
  docker/docker-compose.yml
  docker/hpi/.gitignore
  docker/hpi/Dockerfile
  docker/hpi/docker-compose-app-selfhost.yml
  docker/hpi/docker-compose-app.yml
  docker/hpi/docker-compose-designer-selfhost.yml
  docker/hpi/docker-compose-designer.yml
  docker/hpi/docker-compose-designer2-selfhost.yml
  docker/hpi/docker-compose-designer2.yml
  docker/hpi/docker-compose-full-selfhost.yml
  docker/hpi/docker-compose-full.yml
  docker/hpi/docker-compose.yml
  docker/hpi/nginx/conf.d/common.conf
  docker/hpi/nginx/conf.d/default.conf
  docker/hpi/nginx/postgres.conf
  docker/nginx/.htpasswd
  docker/nginx/conf.d/app.example.com.conf
  docker/nginx/conf.d/common.conf
  docker/nginx/conf.d/common_location.conf
  docker/nginx/conf.d/db.example.com.conf
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/designer.example.com.conf
  docker/nginx/conf.d/ssl.conf
  docker/supabase/.gitignore
  docker/supabase/docker-compose-db.yml
  docker/supabase/docker-compose.yml
  flutter_common/lib/envs/.env.staging
  melos.yaml
Due: none

supabase 8082 and other readme changes
  docker/README.md
Due: none

prepare certbot
  docker/hpi/.env
  docker/hpi/Dockerfile
  docker/hpi/db.hpi.studyu.health.conf
  docker/hpi/docker-compose-selfhost.yml
  docker/hpi/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/661be361e56b0f7a166835187ad0d614/meta.json
  docker/hpi/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/661be361e56b0f7a166835187ad0d614/private_key.json
  docker/hpi/etc/letsencrypt/accounts/acme-v02.api.letsencrypt.org/directory/661be361e56b0f7a166835187ad0d614/regr.json
  docker/hpi/nginx/app.hpi.studyu.health.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/nginx/designer.hpi.studyu.health.conf
  docker/hpi/nginx/ssl.conf
  docker/hpi/ssl.conf
Due: none

db subdomain working for supabase
  docker/hpi/db.hpi.studyu.health.conf
  docker/hpi/nginx/common.conf
  docker/hpi/nginx/common_location.conf
  docker/hpi/nginx/db.hpi.studyu.health.conf
  docker/hpi/postgres.conf
  docker/hpi/ssl.conf
Due: none

docs: add page anchors
  docker/README.md
Due: none

chore: format
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
Due: app-check

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: format
  pubspec.lock
Due: none

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  pubspec.yaml
Due: app-check

chore: formatting
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
Due: app-check

chore: switch to stable branch again for now
  .github/workflows/all_packages.yml
  .github/workflows/deploy-apps.yml
  .github/workflows/firebase-hosting-dev.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: mark disabled pipelines more clearly
  .github/workflows/build-docker-generator.yml
  .github/workflows/deploy-app.yml
  .github/workflows/deploy-designer.yml
Due: none

fix: downgrade deps to stable release
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

chore: downgrade deps to stable release
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: none

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  pubspec.yaml
Due: none

fix: deps quickfix
  app/pubspec.yaml
Due: app-check

chore: format
  app/pubspec.yaml
  melos.yaml
Due: app-check

chore: melos format use single quotes
  melos.yaml
Due: none

fix: overwrite universal_html dep
  app/pubspec.yaml
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  pubspec.yaml
Due: app-check
