Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

chore: fix format
  app/pubspec.yaml
Due: app-check

chore: upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

fix: migrate fl_chart
  designer/lib/widgets/study_detail/bar_chart.dart
Due: none

chore: fix format
  core/lib/src/models/contact.g.dart
  core/lib/src/models/data/data_reference.g.dart
  core/lib/src/models/eligibility/eligibility_criterion.g.dart
  core/lib/src/models/expressions/types/boolean_expression.g.dart
  core/lib/src/models/expressions/types/choice_expression.g.dart
  core/lib/src/models/expressions/types/not_expression.g.dart
  core/lib/src/models/interventions/intervention.g.dart
  core/lib/src/models/interventions/tasks/checkmark_task.g.dart
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/questionnaire/question_conditional.g.dart
  core/lib/src/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/src/models/questionnaire/questions/boolean_question.g.dart
  core/lib/src/models/questionnaire/questions/choice_question.g.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/report/report_specification.g.dart
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
  core/lib/src/models/study_results/results/intervention_result.g.dart
  core/lib/src/models/study_results/results/numeric_result.g.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_invite.g.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/models/tables/subject_progress.g.dart
  core/lib/src/models/tasks/schedule.g.dart
  designer/lib/widgets/study_detail/bar_chart.dart
Due: core-check, app-check, designer-check

chore: fix deps
  app/pubspec.yaml
  designer/pubspec.yaml
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.yaml
Due: app-check

chore: update deps .lock
  designer/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: none

fix: fl_chart styling
  designer/lib/widgets/study_detail/bar_chart.dart
Due: none

chore: upgrade deps
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: finish migrating fl_chart
  designer/lib/widgets/study_detail/bar_chart.dart
Due: none

chore(docker): switch to official dart image
  notebook_uploader/Dockerfile
  repo_generator/Dockerfile
Due: none

chore(deps): upgrade to fhir 0.8.0
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore: formatting
  core/lib/src/models/contact.g.dart
  core/lib/src/models/data/data_reference.g.dart
  core/lib/src/models/eligibility/eligibility_criterion.g.dart
  core/lib/src/models/expressions/types/boolean_expression.g.dart
  core/lib/src/models/expressions/types/choice_expression.g.dart
  core/lib/src/models/expressions/types/not_expression.g.dart
  core/lib/src/models/interventions/intervention.g.dart
  core/lib/src/models/interventions/tasks/checkmark_task.g.dart
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/questionnaire/question_conditional.g.dart
  core/lib/src/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/src/models/questionnaire/questions/boolean_question.g.dart
  core/lib/src/models/questionnaire/questions/choice_question.g.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/report/report_specification.g.dart
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
  core/lib/src/models/study_results/results/intervention_result.g.dart
  core/lib/src/models/study_results/results/numeric_result.g.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_invite.g.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/models/tables/subject_progress.g.dart
  core/lib/src/models/tasks/schedule.g.dart
Due: core-check, app-check, designer-check

chore(deps): upgrade dependencies
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: github workflow for publishing to pub.dev
  .github/workflows/publish_pubdev.yml
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Update .lock files for studyu deps
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

docs(docker): add gist script for automatic installation
  README.md
Due: none

chore: change publish order
  .github/workflows/publish_pubdev.yml
Due: none

fix: upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: update studyu lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: formatting
  designer/lib/widgets/study_detail/bar_chart.dart
Due: none

chore: upgrade fl_chart dep to 0.50.6
  designer/pubspec.lock
  designer/pubspec.yaml
Due: none

fix: breaking changes for fl_chart upgrade
  designer/lib/widgets/study_detail/bar_chart.dart
Due: none

Spike new dashboard for designer v2
  designer_v2/lib/app_state.dart
  designer_v2/lib/main.dart
  designer_v2/lib/pages/error_page.dart
  designer_v2/lib/pages/login_page.dart
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/pages/splash_page.dart
  designer_v2/lib/pages/study_dashboard_screen.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/app_service.dart
  designer_v2/lib/services/auth_store.dart
  designer_v2/lib/services/study_provider.dart
  designer_v2/lib/views/navigation_drawer.dart
  designer_v2/lib/views/sidenav_layout.dart
  designer_v2/linux/flutter/generated_plugin_registrant.cc
  designer_v2/linux/flutter/generated_plugins.cmake
  designer_v2/macos/Flutter/GeneratedPluginRegistrant.swift
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  designer_v2/windows/flutter/generated_plugin_registrant.cc
  designer_v2/windows/flutter/generated_plugins.cmake
Due: none

fix: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore: modify run conditions
  .github/workflows/publish_pubdev.yml
Due: none

chore: update lock files
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore: pubdev publish remove dryrun
  .github/workflows/publish_pubdev.yml
Due: none

fix: fix jmespath vulnerability issue
  Gemfile.lock
  app/android/Gemfile.lock
  app/ios/Gemfile.lock
Due: app-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
Due: app-check

fix: Add missing env to .pubignore
  flutter_common/.pubignore
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: app-check

Update publish_pubdev.yml
  .github/workflows/publish_pubdev.yml
Due: none

fix: rename to studyu_designer_v2
  app/pubspec.lock
  designer/pubspec.lock
  designer_v2/lib/pages/my_app.dart
  designer_v2/lib/router.dart
  designer_v2/lib/services/app_service.dart
  designer_v2/pubspec.yaml
  designer_v2/test/widget_test.dart
  melos.yaml
Due: app-check
