Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: update fastlane android
  .github/workflows/deploy-apps.yml
Due: none

chore: update fastlane android bundler
  .github/workflows/deploy-apps.yml
  Gemfile.lock
  app/ios/Gemfile.lock
Due: app-check

chore: use fastlane-action
  .github/workflows/deploy-apps.yml
  app/ios/fastlane/Appfile
  app/ios/fastlane/Fastfile
Due: app-check

chore: use fastlane-action
  .github/workflows/deploy-apps.yml
Due: none

chore: fastlane deployment updates
  .github/workflows/deploy-apps.yml
  Gemfile.lock
  app/android/Gemfile.lock
  app/android/fastlane/README.md
  app/android/fastlane/report.xml
  app/ios/Gemfile.lock
Due: app-check

chore: downgrade xcode
  app/ios/fastlane/Fastfile
Due: app-check

chore: AppDelegate update for flutter_local_notifications
  app/ios/Runner/AppDelegate.swift
Due: app-check

chore: remove old apple_id
  app/ios/fastlane/Appfile
  app/ios/fastlane/Fastfile
Due: app-check

chore: downgrade fastlane due to fastlane issue #20960
  app/ios/Gemfile
  app/ios/Gemfile.lock
Due: app-check

fix: iframe preview now working with safari
  designer_v2/lib/features/study/study_test_frame_views.dart
Due: none

chore: format
  core/lib/src/models/study_schedule/study_schedule.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_data.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/utils/input_formatter.dart
Due: core-check, app-check, designer-check

chore: enable test again
  app/test/widget_test.dart
Due: app-check

chore: remove redundant parenthesis
  database/migrate-v1_v2.sql
  database/studyu-schema.sql
Due: none

fix: report null value
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_section_container.dart
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

fix: invite code not usable
  app/lib/screens/study/onboarding/study_selection.dart
Due: app-check

fix: merge issues
  app/lib/app.dart
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/widgets/questionnaire/question_container.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/ios/Runner/GeneratedPluginRegistrant.m
  flutter_common/lib/src/utils/retry_future_builder.dart
  flutter_common/pubspec.lock
Due: core-check, app-check, designer-check

chore: format
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/tasks/task_screen.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
Due: app-check

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

fix(app): adopt preview language
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

chore: app wait for widgets
  app/lib/main.dart
Due: app-check

fix(app): update scheduled notifications on task build
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

fix: pointerinterceptor for survey
  core/lib/src/util/supabase_object.dart
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
Due: core-check, app-check, designer-check

chore: change .env designer variable
  flutter_common/lib/envs/.env
  flutter_common/lib/envs/.env.local
  flutter_common/lib/envs/.env.selfhost
Due: none

fix: preserve app language on reload
  flutter_common/lib/src/utils/localization.dart
Due: none

chore: remove dead code
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/tasks/task_screen.dart
Due: app-check

chore: add debug
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
Due: app-check

fix: pointerinterceptor test help modal
  designer_v2/lib/features/study/study_test_page.dart
Due: none

chore: remove locale print
  designer_v2/lib/localization/locale_providers.dart
Due: none

fix: settings dialog
  designer_v2/lib/features/app_drawer.dart
Due: none

chore: update staging debug urls
  flutter_common/lib/envs/.env.staging
Due: none

fix: pointerinterceptor settings
  designer_v2/lib/features/account/account_settings.dart
Due: none

feat: rename TimedTask to TaskInstance and make it mandatory
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/task_instance.dart
  core/lib/src/models/tasks/tasks.dart
  core/lib/src/models/tasks/timed_task.dart
  designer_v2/lib/features/design/measurements/survey/survey_preview_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_data.dart
Due: core-check, app-check, designer-check

chore: melos generate
  core/lib/src/models/tasks/schedule.g.dart
Due: core-check, app-check, designer-check

chore: format
  app/lib/app.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/util/schedule_notifications.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tasks/schedule.dart
  core/lib/src/models/tasks/task_instance.dart
  designer_v2/lib/features/account/account_settings.dart
  designer_v2/lib/features/app_drawer.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_controller_mixin.dart
  designer_v2/lib/features/design/interventions/study_schedule_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_data.dart
  designer_v2/lib/features/study/study_test_frame_views.dart
  designer_v2/lib/routing/router.dart
  designer_v2/lib/routing/router_config.dart
  designer_v2/lib/utils/input_formatter.dart
  flutter_common/lib/src/utils/retry_future_builder.dart
Due: core-check, app-check, designer-check

fix: do not require interventions to have at least one task anymore
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
Due: none

fix: go to loading screen after task completed to update dashboard
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
