Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: melos do not include workspace project & deps
  app/pubspec.lock
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  melos.yaml
Due: app-check

chore: sort deps
  analysis_options.yaml
  app/pubspec.yaml
  core/pubspec.yaml
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_analysis_options.yaml
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: core-check, app-check, designer-check

chore: do not specify build number anymore
  .github/workflows/deploy-apps.yml
Due: none

chore: lock files
  app/pubspec.lock
  designer_v2/pubspec.lock
  flutter_common/pubspec.lock
Due: app-check

chore: remove target flutter version
  .github/workflows/firebase-hosting-merge.yml
Due: none

fix: preview mode working again
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  designer_v2/lib/features/study/study_test_controller_state.dart
Due: app-check

chore: deploy firebase with env config
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

chore: add melos build web scope
  melos.yaml
Due: none

chore: play store signing release
  app/android/app/build.gradle
Due: app-check

chore(release): publish packages
  CHANGELOG.md
  app/CHANGELOG.md
  app/pubspec.yaml
  designer_v2/CHANGELOG.md
  designer_v2/pubspec.yaml
Due: app-check

chore(app): serve index.html for nonexistent pages
  firebase.json
Due: none

chore(app): improve code clarity
  core/lib/src/models/tables/study_subject.dart
Due: core-check, app-check, designer-check

feat: translation and styling
  app/lib/l10n/app_de.arb
  app/lib/l10n/app_en.arb
  app/lib/screens/study/dashboard/dashboard.dart
  designer_v2/lib/localization/app_de.arb
  designer_v2/lib/localization/app_en.arb
Due: app-check

feat: add report section validation sets
  app/lib/screens/study/dashboard/dashboard.dart
  designer_v2/l10n-missing.txt
  designer_v2/lib/features/design/enrollment/consent_item_form_controller.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_controller.dart
  designer_v2/lib/features/design/info/study_info_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_controller.dart
  designer_v2/lib/features/design/interventions/interventions_form_controller.dart
  designer_v2/lib/features/design/measurements/measurements_form_controller.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_controller.dart
  designer_v2/lib/features/design/reports/reports_form_controller.dart
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
  designer_v2/lib/features/design/reports/section/types/average_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/data_reference_editor.dart
  designer_v2/lib/features/design/reports/section/types/linear_regression_section_form_view.dart
  designer_v2/lib/features/design/reports/section/types/section_type.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_controller.dart
  designer_v2/lib/features/design/study_form_controller.dart
  designer_v2/lib/features/forms/form_view_model.dart
  designer_v2/lib/localization/app_en.arb
Due: app-check

fix naming
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
Due: none

fix: export no element bug
  designer_v2/lib/domain/study_export.dart
Due: none

chore: do not build app for designer changes
  .github/workflows/deploy-apps.yml
Due: none

fix: translation
  designer_v2/lib/localization/app_en.arb
Due: none

fix: consent items not centered if no icon
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

Update release_app.yml
  .github/workflows/release_app.yml
Due: none

consent item title wrap
  app/lib/screens/study/onboarding/consent.dart
Due: app-check

fix(designer2): workaround for schedule timepicker type error
  designer_v2/lib/features/design/shared/schedule/schedule_controls_view.dart
  designer_v2/lib/features/design/shared/schedule/schedule_form_controller_mixin.dart
  designer_v2/lib/utils/time_of_day.dart
Due: none

fix(app): Next Day button overflow
  app/lib/screens/study/dashboard/dashboard.dart
Due: app-check

add progress indicator to html widget
  app/lib/widgets/html_text.dart
Due: app-check

fix: regenerate instanceId's for duplicates
  designer_v2/lib/features/design/interventions/intervention_task_form_controller.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_data.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_data.dart
Due: none

fix: add pointerinerceptor to timepickers
  designer_v2/lib/features/design/shared/schedule/schedule_controls_view.dart
Due: none

fix(app): question footer not being shown feat(app): add html functionality
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/widgets/html_text.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/question_header.dart
  app/lib/widgets/questionnaire/questionnaire_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

fix: make intervention task title wrappable
  app/lib/screens/study/tasks/task_screen.dart
Due: app-check

revert dynamic icon button
  app/lib/widgets/intervention_card.dart
Due: app-check

feat(designer2): introduce basic html styleable concept
  designer_v2/lib/common_views/banner.dart
  designer_v2/lib/common_views/styling_information.dart
  designer_v2/lib/features/design/enrollment/consent_item_form_view.dart
  designer_v2/lib/features/design/enrollment/enrollment_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/features/design/measurements/survey/survey_form_view.dart
  designer_v2/lib/features/design/shared/questionnaire/question/question_form_view.dart
Due: none

remove microphone code for iOS
  app/ios/Podfile
Due: app-check

fix: Missing Push Notification Entitlement for iOS
  app/ios/Runner/Runner.entitlements
Due: app-check

feat: try left sidesheet
  designer_v2/lib/common_views/sidesheet/sidesheet.dart
Due: none

disable testreport button
  designer_v2/lib/features/design/reports/reports_form_view.dart
Due: none

translation fix
  designer_v2/lib/localization/app_en.arb
Due: none

fix: intervention task html styling info missing
  designer_v2/lib/features/design/interventions/intervention_form_view.dart
  designer_v2/lib/features/design/interventions/intervention_task_form_view.dart
  designer_v2/lib/routing/router_config.dart
Due: none

fix: number validator not working properly
  designer_v2/lib/features/design/reports/section/report_item_form_controller.dart
Due: none

chore: upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer_v2/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  designer_v2/ios/Runner/GeneratedPluginRegistrant.m
  designer_v2/pubspec.lock
  designer_v2/pubspec.yaml
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: core-check, app-check, designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
