Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

Apply 1 suggestion(s) to 1 file(s)
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

Apply 1 suggestion(s) to 1 file(s)
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

added single result addition
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Fix runtime errors
  core/lib/models/questionnaire/questionnaire_state.dart
  core/lib/models/results/result.dart
Due: core-check, app-check, designer-check

Add an "explain" button to the question container
  app/lib/widgets/questionnaire/question_container.dart
  app/lib/widgets/questionnaire/question_header.dart
Due: app-check

Use ParseFutureBuilder with Study().getAll()
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/queries/study.dart
Due: core-check, app-check, designer-check

Add retry and error to ParseInit
  core/lib/util/parse_future_builder.dart
  core/lib/util/parse_init.dart
Due: core-check, app-check, designer-check

Add theme
  study_designer/lib/app.dart
  study_designer/lib/theme.dart
Due: designer-check

Use ParseFetchOneFutureBuilder for getStudyDetails
  app/lib/screens/study/onboarding/study_overview.dart
  core/lib/queries/study.dart
Due: core-check, app-check, designer-check

Add ParseFutureBuilder for Parse queries
  core/lib/util/parse_future_builder.dart
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

Add Padding to ErrorWidget
  core/lib/util/retry_future_builder.dart
Due: core-check, app-check, designer-check

Introduce 2 ParseFutureBuilder: List and FetchOne
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/util/parse_future_builder.dart
  core/lib/util/parse_init.dart
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

Add RetryableFutureBuilder by Tom Beckmann
  core/lib/util/retry_future_builder.dart
Due: core-check, app-check, designer-check

Adapt RetryFutureBuilder error widget
  core/lib/util/retry_future_builder.dart
Due: core-check, app-check, designer-check

Use core queries to get studies
  study_designer/lib/dashboard.dart
Due: designer-check

Show icons of interventions
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check

Clean up variable names and .map
  app/lib/screens/study/onboarding/intervention_selection.dart
Due: app-check

Also set all results one day back
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

Do not increase size of current intervention
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
Due: app-check
