Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

chore: Add test back4app environment
  app/envs/.env.back4app.test
  study_designer/envs/.env.back4app.test
Due: app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Don't call constructor to call extension
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/models/study/parse_user_study.dart
Due: core-check, app-check, designer-check

chore: By default (codemagic) use test env
  app/envs/.env
  study_designer/envs/.env
Due: app-check, designer-check

chore(docker): Use client key instead of master
  docker-compose-app.yml
  docker-compose-designer.yml
  docker-compose-full.yml
Due: none

chore(docker): Fix parse-server version to 4.5.0
  docker-compose-full.yml
Due: none

fix: Fix missing selected keys for csv download
  core/lib/models/study/parse_study.dart
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Remove rule which is now part of lint
  app/analysis_options.yaml
  core/analysis_options.yaml
  study_designer/analysis_options.yaml
Due: core-check, app-check, designer-check

WIP: Add participant count
  core/lib/models/study/parse_study.dart
  core/lib/models/study/study.dart
  main.js
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

fix(designer): Fix empty results crash
  study_designer/lib/util/result_downloader.dart
Due: designer-check

chore(lint): Enable for core; remove avoid_as
  app/analysis_options.yaml
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/util/linear_regression.dart
  core/analysis_options.yaml
  core/lib/models/data/data_reference.dart
  core/lib/models/expressions/types/not_expression.dart
  core/lib/models/interventions/tasks/checkmark_task.dart
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/questionnaire/questionnaire.dart
  core/lib/models/questionnaire/questionnaire_state.dart
  core/lib/models/questionnaire/questions/visual_analogue_question.dart
  core/lib/models/results/result.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/user_study.dart
  core/lib/models/study_results/results/intervention_result.dart
  core/lib/models/study_results/results/numeric_result.dart
  core/lib/models/study_schedule/study_schedule.dart
  core/lib/models/tasks/schedules/fixed_schedule.dart
  core/lib/util/parse_future_builder.dart
  core/lib/util/parse_init.dart
  core/lib/util/retry_future_builder.dart
  core/lib/util/user.dart
  core/pubspec.yaml
  study_designer/analysis_options.yaml
  study_designer/lib/dashboard.dart
Due: core-check, app-check, designer-check

refactor: AVOID using cast(); Use List.from
  core/lib/models/observations/tasks/questionnaire_task.dart
  core/lib/models/results/result.dart
  study_designer/lib/util/result_downloader.dart
Due: core-check, app-check, designer-check

lint(app): Do not use implicit casts
  app/analysis_options.yaml
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/disclaimer_section.dart
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/util/linear_regression.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/widgets/intervention_card.dart
  app/lib/widgets/questionnaire/question_container.dart
Due: app-check

chore: Upgrade lint to 1.5.3
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

lint(core): Do not use implicit casts
  app/analysis_options.yaml
  core/analysis_options.yaml
  core/lib/models/questionnaire/answer.dart
  core/lib/models/questionnaire/question.dart
  core/lib/models/results/result.dart
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/user_study.dart
  core/lib/util/parse_future_builder.dart
  core/lib/util/retry_future_builder.dart
  core/lib/util/user.dart
Due: core-check, app-check, designer-check

fix: Results only working for questionnaires
  core/lib/models/data/data_reference.dart
Due: core-check, app-check, designer-check

lint(designer): Do not use implicit casts
  core/lib/models/study/parse_study.dart
  study_designer/analysis_options.yaml
  study_designer/lib/dashboard.dart
  study_designer/lib/designer.dart
  study_designer/lib/designer/about_designer.dart
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/report_designer.dart
  study_designer/lib/designer/results_designer.dart
  study_designer/lib/designer/save.dart
  study_designer/lib/designer/schedule_designer.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/consent/consent_item_editor.dart
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
  study_designer/lib/widgets/intervention/intervention_editor.dart
  study_designer/lib/widgets/question/annotated_scale_question_editor_section.dart
  study_designer/lib/widgets/question/annotation_editor.dart
  study_designer/lib/widgets/question/choice_editor.dart
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/question_editor.dart
  study_designer/lib/widgets/question/questionnaire_editor.dart
  study_designer/lib/widgets/question/slider_question_editor_section.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/lib/widgets/report/average_section_editor_section.dart
  study_designer/lib/widgets/report/linear_regression_section_editor_section.dart
  study_designer/lib/widgets/report/report_section_editor.dart
  study_designer/lib/widgets/study_result/study_result_editor.dart
  study_designer/lib/widgets/task/fixed_schedule_editor.dart
  study_designer/lib/widgets/task/task_editor.dart
  study_designer/lib/widgets/task/task_schedule_editor_section.dart
Due: core-check, app-check, designer-check

refactor: Add more typing to routing
  app/lib/models/app_state.dart
  app/lib/routes.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/tasks/task_screen.dart
Due: app-check

chore: Upgrade minor deps
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

lint(designer): Fix format
  study_designer/lib/designer/about_designer.dart
Due: designer-check

fix: onSelectNotification expects Future
  app/lib/models/app_state.dart
Due: app-check

refactor: Remove unused QuestionWidgetModel
  app/lib/widgets/questionnaire/question_container.dart
Due: app-check

refactor: Rename _evaluateResponse -> _addQuestionnaireResponse
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

chore: Move packages to null-safety
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/models/questionnaire/question.dart
  core/lib/models/questionnaire/questions/slider_question.dart
  core/lib/models/report/report_specification.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  core/pubspec.lock
  study_designer/lib/dashboard.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade Parse to Null-safety
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

feat(WIP): Add FHIR Questionnaire Widget
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/fhir_questionnaire/annotated_scale_question_widget.dart
  app/lib/widgets/fhir_questionnaire/boolean_question_widget.dart
  app/lib/widgets/fhir_questionnaire/choice_question_widget.dart
  app/lib/widgets/fhir_questionnaire/question_container.dart
  app/lib/widgets/fhir_questionnaire/question_header.dart
  app/lib/widgets/fhir_questionnaire/question_widget.dart
  app/lib/widgets/fhir_questionnaire/questionnaire_widget.dart
  app/lib/widgets/fhir_questionnaire/visual_analogue_question_widget.dart
  app/pubspec.lock
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
  core/lib/models/study/study.dart
  core/lib/models/study/user_study.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
Due: core-check, app-check, designer-check

chore: Remove deps override
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Make fhirQuestionnaire not required
  core/lib/models/study/parse_study.dart
  core/lib/models/study/parse_user_study.dart
Due: core-check, app-check, designer-check

feat: Implement conditional FHIR questions
  app/lib/widgets/fhir_questionnaire/questionnaire_widget.dart
Due: app-check

feat: Use fhir questionnaire with fallback
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/fhir_questionnaire/question_container.dart
  core/lib/models/results/result.dart
Due: core-check, app-check, designer-check

fix: Fix for CI
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/widgets/fhir_questionnaire/questionnaire_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/models/results/result.dart
  core/lib/models/study/parse_study.dart
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/lib/dashboard.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

lint: disable unsafe_html lint
  study_designer/analysis_options.yaml
  study_designer/lib/dashboard.dart
Due: designer-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
