Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend

Remove format detection
  flutter-project.yml
Due: none

Expected result: only run study_designer
  study_designer/lib/main.dart
Due: designer-check

Expected result: only run app
  app/lib/main.dart
Due: app-check

Expected result: only run dependencies
  app/lib/main.dart
  study_designer/lib/main.dart
Due: app-check, designer-check

Expected result: run all
  core/pubspec.yaml
Due: core-check, app-check, designer-check

Add workflow rules
  .gitlab-ci.yml
Due: none

Adjust workflow rules
  .gitlab-ci.yml
Due: none

Adjust workflow rules again
  .gitlab-ci.yml
Due: none

Adjust workflow rules yet again
  .gitlab-ci.yml
Due: none

Test core check
  .gitlab-ci.yml
Due: none

Remove all changes checks
  .gitlab-ci.yml
Due: none

Move merge request rules
  .gitlab-ci.yml
Due: none

Move rules again
  .gitlab-ci.yml
Due: none

Remove detachment
  .gitlab-ci.yml
Due: none

Move parse init and environments to core
  core/lib/environment.dart
  core/lib/util/parse_init.dart
  study_designer/lib/app.dart
  study_designer/lib/main.dart
  study_designer/lib/main_local.dart
  study_designer/lib/main_local_emulator.dart
  study_designer/lib/main_prod.dart
Due: core-check, app-check, designer-check

Use ParseInit from core
  app/lib/routes.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

Use envs from core
  app/lib/environments/dev.dart
  app/lib/environments/environment.dart
  app/lib/environments/local.dart
  app/lib/environments/prod.dart
  app/lib/main.dart
  app/lib/main_local.dart
  app/lib/main_local_emulator.dart
  app/lib/screens/app_onboarding/loading_screen.dart
Due: app-check

Display loading and error on Scaffold
  core/lib/util/parse_init.dart
Due: core-check, app-check, designer-check

added saving of results in StudyInstance
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  core/lib/models/study/study_instance.dart
Due: core-check, app-check, designer-check

added result saving error
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
Due: app-check

Path conditions:
  core-check: any of: core/**/*
  app-check: any of: core/**/*, app/**/*
  designer-check: any of: core/**/*, study_designer/**/*
