Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

add designer for eligibility criteria
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/question/question_editor.dart
Due: designer-check

update app name
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
Due: designer-check

allow removing choices
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
Due: designer-check

rename designers and move packages
  study_designer/lib/designer.dart
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/designer/interventions_designer.dart
  study_designer/lib/designer/observation_designer.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/routes.dart
  study_designer/lib/widgets/intervention_editor.dart
Due: designer-check

add expression and eligibility criterion editor
  study_designer/lib/designer/eligibility_designer.dart
  study_designer/lib/widgets/eligibility/eligibility_criterion_editor.dart
  study_designer/lib/widgets/eligibility/expression_editor.dart
Due: designer-check

fix focus node depose bug in expression editor
  study_designer/lib/widgets/eligibility/choice_expression_editor_section.dart
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
Due: designer-check

remove not used editformkey
  study_designer/lib/widgets/eligibility/value_expression_editor.dart
Due: designer-check

add icon picker for intervention designer
  study_designer/lib/widgets/intervention_editor.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: designer-check

add consent designer
  study_designer/lib/designer/consent_designer.dart
  study_designer/lib/widgets/consent_item_editor.dart
Due: designer-check

add icon picker for study itself
  core/lib/models/study/study.dart
  study_designer/lib/designer/meta_data_designer.dart
Due: core-check, app-check, designer-check

add is multiple editor
  study_designer/lib/widgets/question/choice_question_editor_section.dart
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: designer-check

Update podfile (flutter CLI was complaining)
  app/ios/Podfile
  app/ios/Podfile.lock
Due: app-check

added tos pdf download
  app/android/app/src/main/AndroidManifest.xml
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/terms.dart
  app/lib/util/localization.dart
  app/pubspec.lock
  app/pubspec.yaml
Due: app-check

added consent download and refactored download function
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/util/download.dart
Due: app-check

used custom font for pdf
  app/assets/fonts/Roboto-Regular.ttf
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/study/onboarding/consent.dart
  app/pubspec.yaml
Due: app-check

WIP change download path management
  app/lib/util/download.dart
Due: app-check

added potential IOS storage access and switched back to DownloadsPathProvider for android
  app/android/app/src/main/AndroidManifest.xml
  app/ios/Runner/Info.plist
  app/lib/screens/study/onboarding/consent.dart
  app/lib/util/download.dart
Due: app-check

added IOS file location description
  app/lib/util/download.dart
Due: app-check

added web download error
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/util/download.dart
Due: app-check

added lorem ipsum TOS and fixed rebasing bug
  app/assets/i18n/de.json
  app/assets/i18n/en.json
  app/lib/screens/app_onboarding/terms.dart
Due: app-check

display only the sequence name in schedule designer
  study_designer/lib/designer/schedule_designer.dart
Due: designer-check
