Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

fix: Add redirectTo for non web
  core/lib/src/env/env.dart
  study_designer/lib/widgets/login_page.dart
Due: core-check, app-check, designer-check

fix(designer): Load initial value for visibility
  study_designer/lib/designer/about_designer.dart
Due: designer-check

chore: Upgrade supabase deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

refactor: Rename StudySubject variables to subject
  app/lib/models/app_state.dart
  app/lib/screens/app_onboarding/loading_screen.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/dashboard.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/dashboard/task_overview_tab/progress_row.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_box.dart
  app/lib/screens/study/dashboard/task_overview_tab/task_overview.dart
  app/lib/screens/study/onboarding/consent.dart
  app/lib/screens/study/onboarding/intervention_selection.dart
  app/lib/screens/study/onboarding/journey_overview.dart
  app/lib/screens/study/onboarding/kickoff.dart
  app/lib/screens/study/report/disclaimer_section.dart
  app/lib/screens/study/report/general_details_section.dart
  app/lib/screens/study/report/generic_section.dart
  app/lib/screens/study/report/performance/performance_details.dart
  app/lib/screens/study/report/performance/performance_section.dart
  app/lib/screens/study/report/report_details.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/screens/study/report/report_section_container.dart
  app/lib/screens/study/report/report_section_widget.dart
  app/lib/screens/study/report/sections/average_section_widget.dart
  app/lib/screens/study/report/sections/linear_regression_section_widget.dart
  app/lib/screens/study/tasks/intervention/checkmark_task_widget.dart
  app/lib/screens/study/tasks/observation/questionnaire_task_widget.dart
  app/lib/screens/study/tasks/task_screen.dart
  app/lib/util/notifications.dart
  app/lib/widgets/study_tile.dart
  core/lib/src/models/data/data_reference.dart
  core/lib/src/models/study_results/results/intervention_result.dart
  core/lib/src/models/study_results/results/numeric_result.dart
  core/lib/src/models/study_results/study_result.dart
Due: core-check, app-check, designer-check

feat: Show login error, improve login layout
  study_designer/lib/models/app_state.dart
  study_designer/lib/router.dart
  study_designer/lib/widgets/login_page.dart
Due: designer-check

feat: Add skip login option
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/login_page.dart
Due: designer-check

refactor: Reset skippedLogin and authError onAuth
  study_designer/lib/models/app_state.dart
Due: designer-check

fix: Do not display empty study list
  study_designer/lib/dashboard.dart
Due: designer-check

fix: Remove release build breaking Expanded
  study_designer/lib/dashboard.dart
Due: designer-check

feat: Go back to login and no adding if not authed
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/widgets/login_page.dart
Due: designer-check

feat: add update study data in repo
  study_designer/lib/dashboard.dart
  study_designer/lib/util/repo_manager.dart
Due: designer-check

refactor: Questionnaire -> StudyUQuestionnaire
  core/lib/src/models/observations/tasks/questionnaire_task.dart
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/questionnaire/questionnaire.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/models/tables/study.g.dart
  study_designer/lib/designer/questionnaire_designer.dart
  study_designer/lib/widgets/question/questionnaire_editor.dart
Due: core-check, app-check, designer-check

feat: Add update repo study data
  app/lib/screens/app_onboarding/loading_screen.dart
  core/lib/src/models/models.dart
  core/lib/src/models/tables/repo.dart
  core/lib/src/models/tables/repo.g.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/util/supabase_object.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/models/app_state.dart
  study_designer/lib/util/repo_manager.dart
Due: core-check, app-check, designer-check

refactor: Repo Provider->GitProvider
  core/lib/src/models/tables/repo.dart
  core/lib/src/models/tables/repo.g.dart
Due: core-check, app-check, designer-check

refactor: Core only uses dart; added flutter common
  app/lib/app.dart
  app/lib/main.dart
  app/lib/screens/app_onboarding/terms.dart
  app/lib/screens/app_onboarding/welcome.dart
  app/lib/screens/study/dashboard/contact_tab/contact_screen.dart
  app/lib/screens/study/dashboard/settings.dart
  app/lib/screens/study/onboarding/study_overview.dart
  app/lib/screens/study/onboarding/study_selection.dart
  app/lib/screens/study/report/report_history.dart
  app/lib/widgets/fhir_questionnaire/visual_analogue_question_widget.dart
  app/lib/widgets/questionnaire/visual_analogue_question_widget.dart
  app/pubspec.lock
  app/pubspec.yaml
  common/analysis_options.yaml
  common/lib/src/utils/env_loader.dart
  common/lib/src/utils/localization.dart
  common/lib/src/utils/retry_future_builder.dart
  common/lib/studyu_flutter_common.dart
  common/pubspec.lock
  common/pubspec.yaml
  core/lib/src/env/env.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/tables/study.dart
  core/lib/src/util/util.dart
  core/pubspec.yaml
  core/test/model/study_schedule/study_schedule_test.dart
  study_designer/lib/app.dart
  study_designer/lib/dashboard.dart
  study_designer/lib/main.dart
  study_designer/lib/widgets/question/visual_analogue_question_editor_section.dart
  study_designer/pubspec.lock
  study_designer/pubspec.yaml
Due: core-check, app-check, designer-check

fix(core): Remove dotenv dependency
  core/lib/src/env/env.dart
  core/pubspec.lock
  core/pubspec.yaml
  generator/lib/utils/cli.dart
Due: core-check, app-check, designer-check

fix(core): Make some attributes optional
  core/lib/src/models/contact.dart
  core/lib/src/models/contact.g.dart
Due: core-check, app-check, designer-check

fix(core): Do not depend on flutter
  core/lib/src/env/env.dart
Due: core-check, app-check, designer-check

feat: Add project generator
  generator/.env
  generator/.gitignore
  generator/README.md
  generator/analysis_options.yaml
  generator/bin/main.dart
  generator/lib/server.dart
  generator/lib/utils/cli.dart
  generator/lib/utils/generator.dart
  generator/lib/utils/gitlab.dart
  generator/lib/utils/notebook_uploader.dart
  generator/nbconvert-template/conf.json
  generator/nbconvert-template/index.html.j2
  generator/pubspec.lock
  generator/pubspec.yaml
  study_designer/envs/.env.local
Due: designer-check

chore(generator): Add more prints
  generator/lib/utils/generator.dart
Due: none

fix: Delete project files after upload
  generator/lib/utils/cli.dart
  generator/lib/utils/generator.dart
Due: none

feat: Add CLI script to convert & upload notebooks
  generator/bin/cli.dart
  generator/lib/utils/database.dart
  generator/lib/utils/file.dart
  generator/lib/utils/generator.dart
  generator/lib/utils/notebook.dart
  generator/lib/utils/notebook_uploader.dart
Due: none

style: Format
  core/lib/src/env/env.dart
  generator/bin/cli.dart
  generator/lib/server.dart
  generator/lib/utils/cli.dart
  generator/lib/utils/database.dart
  generator/lib/utils/file.dart
  generator/lib/utils/generator.dart
  generator/lib/utils/gitlab.dart
  generator/lib/utils/notebook.dart
Due: core-check, app-check, designer-check

feat: Add uploader CLI + Dockerfile for gitlab
  generator/Dockerfile
  generator/bin/uploader.dart
  generator/lib/server.dart
  generator/lib/utils/cli.dart
  generator/lib/utils/generator.dart
  generator/lib/utils/gitlab.dart
  generator/pubspec.lock
  generator/pubspec.yaml
Due: none

chore: Add rsa key generator for safekeeping
  generator/lib/utils/rsa_key.dart
  generator/pubspec.lock
  generator/pubspec.yaml
Due: none

chore: And remove rsa again
  generator/lib/utils/rsa_key.dart
  generator/pubspec.lock
  generator/pubspec.yaml
Due: none

feat: Add deploy key to push to repo
  generator/lib/utils/cli.dart
  generator/lib/utils/generator.dart
  generator/lib/utils/gitlab.dart
Due: none

chore: ignore keys
  generator/.gitignore
Due: none

fix: Correctly exit CLI
  generator/bin/uploader.dart
  generator/lib/utils/generator.dart
  generator/lib/utils/notebook.dart
Due: none

ci: Add build notebook uploader docker
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Fix build uploader docker
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Fix tag
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Remove old parameter
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Try without loggin in
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Prefix docker image tag
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Reenable login
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: No tag
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Build uploader docker on push
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Add longer tag
  .github/workflows/build-docker-notebook-uploader.yml
Due: none

ci: Add latest tag
  .github/workflows/build-docker-notebook-uploader.yml
Due: none
