Repository hpi-studyu/studyu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: core-check, app-check, designer-check

.gitlab-ci.yml:

image: cirrusci/flutter:beta

stages:
  - core
  - dependencies

core-check:
  stage: core
  trigger:
    include: core/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*

app-check:
  stage: dependencies
  trigger:
    include: app/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - app/**/*

designer-check:
  stage: dependencies
  trigger:
    include: study_designer/.gitlab-ci.yml
    strategy: depend
  only:
    refs:
      - merge_requests
      - master
      - dev
    changes:
      - core/**/*
      - study_designer/**/*

refactor: Make supabase vars public
  core/lib/src/env/env.dart
Due: core-check, app-check, designer-check

feat: Add masked property to creating env var
  repo_generator/lib/utils/gitlab.dart
Due: none

feat: Create supabase env vars for repository
  repo_generator/lib/utils/generator.dart
Due: none

chore(release): publish packages
  app/CHANGELOG.md
  app/pubspec.yaml
  core/CHANGELOG.md
  core/pubspec.yaml
  designer/CHANGELOG.md
  designer/pubspec.yaml
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Upgrade studyu deps
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

fix: Correct column snail case naming
  app/lib/screens/study/onboarding/study_selection.dart
  core/lib/src/models/tables/repo.dart
  core/lib/src/models/tables/study_subject.dart
  core/lib/src/models/tables/subject_progress.dart
  designer/lib/widgets/study_detail/export_dialog.dart
  repo_generator/lib/utils/database.dart
Due: core-check, app-check, designer-check

chore(release): publish packages
  core/CHANGELOG.md
  core/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Upgrade studyu_core
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

fix: Key cannot be masked due to format
  repo_generator/lib/utils/generator.dart
Due: none

chore(release): publish packages
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

fix: Session can not be masked due to format
  repo_generator/lib/utils/generator.dart
Due: none

fix: Fix overlay of chart and text
  designer/lib/widgets/study_detail/stats.dart
Due: none

doc: subject_total_active_days: Don't count today
  database/studyu-schema.sql
Due: none

chore: Upgrade bundle fastlane
  Gemfile.lock
  app/android/Gemfile.lock
  app/ios/Gemfile.lock
Due: app-check

chore: Prepare for pub.dev release
  flutter_common/LICENSE
  flutter_common/README.md
  flutter_common/pubspec.lock
  flutter_common/pubspec.yaml
Due: none

chore(release): publish packages
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
Due: none

chore: Use pub.dev hosted version of core and common
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  designer/pubspec.yaml
Due: core-check, app-check, designer-check

ci: dependabot: Fix parsing error by disabling analytics
  .github/workflows/dependabot.yml
Due: none

ci: Flutter already installed with dependabot
  .github/workflows/dependabot.yml
Due: none

ci: Add flutter to path
  .github/workflows/dependabot.yml
Due: none

ci: Use own branch of dependabot-pub-runner
  .github/workflows/dependabot.yml
Due: none

chore: Upgrade deps; Generate json_serializable
  app/pubspec.lock
  app/pubspec.yaml
  core/lib/src/models/consent/consent_item.g.dart
  core/lib/src/models/contact.g.dart
  core/lib/src/models/data/data_reference.g.dart
  core/lib/src/models/eligibility/eligibility_criterion.g.dart
  core/lib/src/models/expressions/types/boolean_expression.g.dart
  core/lib/src/models/expressions/types/choice_expression.g.dart
  core/lib/src/models/expressions/types/not_expression.g.dart
  core/lib/src/models/interventions/intervention.g.dart
  core/lib/src/models/interventions/tasks/checkmark_task.g.dart
  core/lib/src/models/observations/tasks/questionnaire_task.g.dart
  core/lib/src/models/questionnaire/answer.g.dart
  core/lib/src/models/questionnaire/question_conditional.g.dart
  core/lib/src/models/questionnaire/questions/annotated_scale_question.g.dart
  core/lib/src/models/questionnaire/questions/boolean_question.g.dart
  core/lib/src/models/questionnaire/questions/choice_question.g.dart
  core/lib/src/models/questionnaire/questions/visual_analogue_question.g.dart
  core/lib/src/models/report/report_specification.g.dart
  core/lib/src/models/report/sections/average_section.g.dart
  core/lib/src/models/report/sections/linear_regression_section.g.dart
  core/lib/src/models/results/result.g.dart
  core/lib/src/models/study_results/results/intervention_result.g.dart
  core/lib/src/models/study_results/results/numeric_result.g.dart
  core/lib/src/models/study_schedule/study_schedule.g.dart
  core/lib/src/models/tables/app_config.g.dart
  core/lib/src/models/tables/repo.g.dart
  core/lib/src/models/tables/study.g.dart
  core/lib/src/models/tables/study_invite.g.dart
  core/lib/src/models/tables/study_subject.g.dart
  core/lib/src/models/tables/subject_progress.g.dart
  core/lib/src/models/tasks/schedule.g.dart
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  core/pubspec.yaml
  designer/pubspec.lock
  designer/pubspec.yaml
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  notebook_uploader/pubspec.yaml
  repo_generator/pubspec.lock
  repo_generator/pubspec.yaml
Due: core-check, app-check, designer-check

fix: Update deeplinks for designer
  core/lib/src/env/env.dart
  designer/android/app/src/main/AndroidManifest.xml
  designer/ios/Runner/Info.plist
Due: core-check, app-check, designer-check

chore: Upgrade deps
  app/pubspec.lock
  app/pubspec.yaml
  core/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: core-check, app-check, designer-check

fix: Meaningful IDs for questions, consent, choices
  designer/lib/widgets/consent/consent_item_editor.dart
  designer/lib/widgets/question/choice_editor.dart
  designer/lib/widgets/question/question_editor.dart
Due: none

doc: Extract json result
  database/studyu-schema.sql
Due: none

feat: Add fetchResultsCSVTable
  core/lib/src/models/tables/study.dart
  core/pubspec.lock
  core/pubspec.yaml
Due: core-check, app-check, designer-check

feat: Flatten CSV export of participant answers
  designer/lib/widgets/study_detail/export_dialog.dart
Due: none

chore(release): publish packages
  core/CHANGELOG.md
  core/pubspec.yaml
Due: core-check, app-check, designer-check

feat: Export participant results as flattened CSV
  repo_generator/lib/utils/database.dart
Due: none

fix: Upgrade StudyU deps
  app/pubspec.lock
  designer/pubspec.lock
  flutter_common/pubspec.lock
  notebook_uploader/pubspec.lock
  repo_generator/pubspec.lock
Due: app-check

chore(release): publish packages
  flutter_common/CHANGELOG.md
  flutter_common/pubspec.yaml
  notebook_uploader/CHANGELOG.md
  notebook_uploader/pubspec.yaml
  repo_generator/CHANGELOG.md
  repo_generator/pubspec.yaml
Due: none

fix: Use correct .csv file extension
  repo_generator/lib/utils/generator.dart
Due: none

fix: Return empty CSV if no results yet
  core/lib/src/models/tables/study.dart
Due: core-check, app-check, designer-check

feat: Setup default env using micromamba
  notebook_uploader/Dockerfile
  notebook_uploader/env.yml
Due: none
